<template>
  <modal-template title="Create competition" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">Name</label>
          <div class="col-sm-4">
            <input type="text" v-model="form.name" placeholder="Name" class="form-control">
          </div>
          <label class="col-sm-1 col-form-label">Year</label>
          <div class="col-sm-2">
            <input type="text" v-model="form.year" placeholder="Year" class="form-control text-input-1000">
          </div>
          <label class="col-sm-1 col-form-label">Sport</label>
          <div class="col-sm-3">
            <dropdown-select v-model="form.sport" btn-class="btn-outline-secondary" :options="sportOptions"></dropdown-select>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="text-center col-sm-12">
            <b-form-radio-group buttons button-variant="outline-secondary" v-model="form.type">
              <b-form-radio value="cup">Cup</b-form-radio>
              <b-form-radio value="championship">Championship</b-form-radio>
            </b-form-radio-group>
          </div>
        </div>
        <div v-if="form.type === 'cup'" class="row" style="margin-top: 10px;">
          <div class="col-sm-6 divider-right">
            <h2 class="text-center">Groups</h2>
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Number</label>
              <div class="col-sm-6">
                <input type="number" v-model.number="form.groups.number" class="form-control text-input-1000">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Capacity</label>
              <div class="col-sm-6">
                <input type="number" v-model.number="form.groups.capacity" class="form-control text-input-1000">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-6 form-check">
                <input class="form-check-input" type="checkbox" v-model="form.groups.two_legged">
                <label class="form-check-label">Return</label>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-6 form-check">
                <input class="form-check-input" type="checkbox" v-model="form.groups.qualified_number">
                <label class="form-check-label">Qualified number</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h2 class="text-center">Rounds</h2>
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Start round</label>
              <div class="col-sm-6">
                <dropdown-select v-model="form.rounds.round_max" btnClass="btn-outline-primary" :options="roundOptions"></dropdown-select>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-6 form-check">
                <input class="form-check-input" type="checkbox" v-model="form.rounds.two_legged">
                <label class="form-check-label">Return</label>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-6 form-check">
                <input class="form-check-input" type="checkbox" v-model="form.rounds.third_place">
                <label class="form-check-label">Third place</label>
              </div>
            </div>
          </div>
        </div>
        <div v-if="form.type === 'championship'" class="row">
          <div class="col-sm-6">
            <h2 class="text-center">Championship</h2>
            <div class="form-group row">
              <label class="col-sm-6 col-form-label">Capacity</label>
              <div class="col-sm-6">
                <input type="number" v-model.number="form.championship.capacity" class="form-control text-input-1000">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-6 form-check">
                <input class="form-check-input" type="checkbox" v-model="form.championship.two_legged">
                <label class="form-check-label">Return</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </template>
    <template slot="footer">
      <button class="btn btn-link" type="button" @click="discard">Cancel</button>
      <button class="btn btn-primary" type="button" @click="create">Create</button>
    </template>
  </modal-template>
</template>

<script>
  import * as competitionServices from '../../services/competitions';
  import modalContentMixin from '../../mixins/modalContent';

  import { ROUNDS, SPORTS } from '../../common/common';

  export default {
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
        form: {
          championship: {
            capacity: null,
            two_legged: true,
          },
          groups: {
            capacity: null,
            two_legged: true,
          },
          name: '',
          rounds: {

          },
          sport: null,
          type: 'cup',
          year: null,
        },
        roundOptions: ROUNDS,
        sportOptions: SPORTS,
      };
    },
    methods: {
      async create() {
        const competition = {
          year: this.form.year,
          name: this.form.name,
          sport: this.form.sport,
          config: {
            type: this.form.type
          },
        };
        if (this.form.type === 'cup') {
          competition.config.cup = {
            group: this.form.groups,
            elimination: this.form.rounds
          };
        }
        if (this.form.type === 'championship') {
          competition.config.championship = {
            day: this.form.championship,
            elimination: this.form.rounds
          };
        }
        const res = await competitionServices.createCompetition(competition);
        this.handleResponse(res);
      },
    },
  };
</script>
