<template>
  <modal-template title="Delete competition" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <p>Are you sure you want to delete competition {{competition.name}} {{competition.year}}?</p>
    </template>
    <template slot="footer">
      <button class="btn btn-link" type="button" @click="discard">Cancel</button>
      <button class="btn btn-danger" type="button" @click="deleteCompetition">Delete</button>
    </template>
  </modal-template>
</template>

<script>
  import * as competitionServices from '../../services/competitions';
  import modalContentMixin from '../../mixins/modalContent';

  export default {
    props: ['competition'],
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
      };
    },
    methods: {
      async deleteCompetition() {
        const res = await competitionServices.deleteCompetition(this.competition._id);
        this.handleResponse(res);
      },
    },
  };
</script>
