<template>
  <div class="sc-admin-competition-page" v-if="competition">
    <bootstrap-alert :alert="alert"></bootstrap-alert>
    <page-header :title="`${competition.name} ${competition.year}'s detail`">
      <template slot="actions">
        <h4>
          <router-link
            :to="{ name: 'competitionStats', params: { id: competition._id } }"
          >stats</router-link>
          <span class="divider">&nbsp;|&nbsp;</span>
          <router-link
            :to="{ name: 'competitionJson', params: { id: competition._id } }"
          >json</router-link>
        </h4>
      </template>
    </page-header>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="progress">
          <div
            class="progress-bar"
            :style="{ width: `${competition.progress.value}%` }"
          >{{competition.progress.value}}%</div>
        </div>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Name</label>
            <div class="col-sm-6">
              <p class="form-control-plaintext">{{competition.name}}</p>
            </div>
            <label class="col-sm-4 col-form-label text-right">Year</label>
            <div class="col-sm-6">
              <p class="form-control-plaintext">{{competition.year}}</p>
            </div>
            <label class="col-sm-4 col-form-label text-right">Sport</label>
            <div class="col-sm-6">
              <p class="form-control-plaintext">{{competition.sport}}</p>
            </div>
            <label class="col-sm-4 col-form-label text-right">Status</label>
            <div class="col-sm-6">
              <p class="form-control-plaintext">
                {{competition.status}}
                <button type="button" class="btn btn-link" v-modal-trigger="'statusEditionModal'">
                  <i class="fa fa-pencil"></i>
                </button>
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12">
            <h3 class="text-muted float-left">Teams</h3>
            <button
              type="button"
              class="btn btn-sm btn-primary float-right"
              @click="importTeamsFromMatches"
            >Import from matches</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="badge badge-team" v-for="team in teams">
              <router-link
                :to="{ name: 'teamDetail', params: { id: team.team._id } }"
              >{{team.team.label}}</router-link>
              &nbsp;
              <a href @click.prevent="() => {}">&times;</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr></hr>
    <div class="row">
      <div class="col-12">
        <h3 class="text-muted">Matches</h3>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;" v-if="matchDico && teamDico">
      <template v-if="groupNames.length > 0">
        <div class="col-12 phase-header">
          <h3 class="float-left">Groups</h3>
          <button
            type="button"
            class="btn btn-sm btn-primary float-right"
            v-modal-trigger="'groupRuleEditionModal'"
          >Set groups rule</button>
        </div>
        <table-view
          v-for="groupName in groupNames"
          class="col-sm-6 col-md-4"
          :columns="matchColumns"
          :key="groupName"
          noHeader
          :pagination="{ items: groupMatches[groupName] }"
          :title="`Group ${groupName}`"
        >
          <template slot="score_cell" slot-scope="props">
            <score :match="matchDico[props.value]" :team-dico="teamDico"></score>
          </template>
          <template slot="rule_cell" slot-scope="props">
            <span v-show="matchDico[props.value].rule">
              <i class="success fa fa-check"></i>
            </span>
          </template>
          <template slot="automation_cell" slot-scope="props">
            <span v-if="matchDico[props.value].automated">
              <i class="fa fa-link success"></i>
              <span class="automation-count" v-if="matchDico[props.value].automated > 1">{{matchDico[props.value].automated}}</span>
            </span>
          </template>
          <template slot="link_cell" slot-scope="props">
            <router-link :to="{ name: 'matchDetail', params: { id: props.value } }">
              <i class="fa fa-chevron-right"></i>
            </router-link>
          </template>
        </table-view>
      </template>
      <template v-if="rounds.length > 0">
        <div class="col-12 phase-header">
          <h3 class="float-left">Rounds</h3>
        </div>
        <div class="col-6 col-md-4" v-for="round in rounds">
          <table-view
            :columns="matchColumns"
            noHeader
            :pagination="{ items: roundMatches[round] }"
            :title="round | round | ucFirst"
          >
            <template slot="actions">
              <button
                type="button"
                class="btn btn-sm btn-primary"
                style="margin-top: -17px;"
                @click="openRoundRuleEditionModal(round)"
              >Set rule</button>
            </template>
            <template slot="score_cell" slot-scope="props">
              <score :match="matchDico[props.value]" :team-dico="teamDico"></score>
            </template>
            <template slot="rule_cell" slot-scope="props">
              <span v-show="matchDico[props.value].rule">
                <i class="success fa fa-check"></i>
              </span>
            </template>
            <template slot="automation_cell" slot-scope="props">
              <span v-if="matchDico[props.value].automated">
                <i class="fa fa-link success"></i>
                <span class="automation-count" v-if="matchDico[props.value].automated > 1">{{matchDico[props.value].automated}}</span>
              </span>
            </template>
            <template slot="link_cell" slot-scope="props">
              <router-link :to="{ name: 'matchDetail', params: { id: props.value } }">
                <i class="fa fa-chevron-right"></i>
              </router-link>
            </template>
          </table-view>
        </div>
      </template>
      <template v-if="days.length > 0">
        <div class="col-12 phase-header">
          <h3 class="float-left">Days</h3>
          <button type="button" class="btn btn-sm btn-primary float-right" v-modal-trigger="'dayRuleEditionModal'">Set days rule</button>
        </div>
        <div class="col-12">
          <table-view
            className="col-12"
            :columns="matchColumns"
            :itemsPerPage="matchesPerDay"
            noHeader
            :pagination="{ items: dayMatches[day], count: days.length * matchesPerDay, page: day }"
            :title="`Day ${day + 1}`"
            @pageUpdate="(page) => { day = page; }"
          >
            <template slot="score_cell" slot-scope="props">
              <score :match="matchDico[props.value]" :team-dico="teamDico"></score>
            </template>
            <template slot="rule_cell" slot-scope="props">
              <span v-show="matchDico[props.value].rule">
                <i class="success fa fa-check"></i>
              </span>
            </template>
            <template slot="automation_cell" slot-scope="props">
              <span v-if="matchDico[props.value].automated">
                <i class="fa fa-link success"></i>
                <span class="automation-count" v-if="matchDico[props.value].automated > 1">{{matchDico[props.value].automated}}</span>
              </span>
            </template>
            <template slot="link_cell" slot-scope="props">
              <router-link :to="{ name: 'matchDetail', params: { id: props.value } }">
                <i class="fa fa-chevron-right"></i>
              </router-link>
            </template>
          </table-view>
        </div>
      </template>
    </div>
    <hr></hr>
    <div class="row">
      <div class="col-12">
        <h3 class="text-muted">Users</h3>
      </div>
    </div>
    <div class="row">
      <div v-if="rounds.length > 0" class="col-12">
        <h3 class="float-left">Emails</h3>
      </div>
      <div class="col-12">
        Download list :
        <a href @click.prevent="downloadEmails('en', true)">forgotten bet (en)</a>&nbsp;
        <a href @click.prevent="downloadEmails('fr', true)">forgotten bet (fr)</a>
      </div>
    </div>
    <hr></hr>
    <div class="row">
      <div class="col-12">
        <table-view
          title="Automation"
          :columns="automationColumns"
          :pagination="automationPagination"
        >
          <template slot="actions">
            <button type="button" class="btn btn-primary" v-modal-trigger="'automationEditionModal'" style="margin-top: -20px;">Edit automation</button>
          </template>
          <template slot="url_cell" slot-scope="props">
            <a :href="'//' + props.value.url" target="_blank">{{props.value.url}}</a>
          </template>
          <template slot="action_cell" slot-scope="props">
            <async-button class="btn btn-sm btn-primary" :onClick="() => scrapInfo(props.value.source)">Scrap date</async-button>
          </template>
        </table-view>
      </div>
    </div>
    <modal ref="statusEditionModal" @ok="_loadCompetition">
      <status-edition :competition="competition"></status-edition>
    </modal>
    <modal ref="groupRuleEditionModal" @ok="_loadCompetitionMatches">
      <rule-edition
        :competition="competition"
        :selector="{ group: '*' }"
        title="Set rule to every group match"
      ></rule-edition>
    </modal>
    <modal ref="roundRuleEditionModal" @ok="_loadCompetitionMatches">
      <rule-edition
        :competition="competition"
        :selector="{ round: selectedRound }"
        :title="roundRuleEditionModalTitle"
      ></rule-edition>
    </modal>
    <modal ref="dayRuleEditionModal" @ok="_loadCompetitionMatches">
      <rule-edition
        :competition="competition"
        :selector="{ day: '*' }"
        title="Set rule to every day match"
      ></rule-edition>
    </modal>
    <modal ref="automationEditionModal" size="lg" @ok="_loadCompetition">
      <automation-edition
        :automation="competition.automation"
        title="Edit competition automation"
        :examples="automationExamples[competition.sport]"
        :save="saveAutomation"
      ></automation-edition>
    </modal>
  </div>
</template>

<script>
  import * as competitionServices from '../../services/competitions';
  import notifier from '../../common/Notifier';
  import { AUTOMATION_EXAMPLES, SOURCES, roundToString } from '../../common/common';

  import RuleEdition from './ruleEdition.vue';
  import Score from './score.vue';
  import StatusEdition from './statusEdition.vue';

  const MATCH_COLUMNS = [{
    className: 'text-center',
    customCell: true,
    key: 'score',
  }, {
    className: 'col-rule',
    customCell: true,
    key: 'rule',
  }, {
    className: 'col-automation',
    customCell: true,
    key: 'automation',
  }, {
    className: 'col-link text-right',
    customCell: true,
    key: 'link',
  }];

  const AUTOMATION_COLUMNS = [{
    className: 'text-left',
    title: 'Source',
    value: (row) => row.source,
  }, {
    className: 'text-left',
    customCell: true,
    key: 'url',
    title: 'Url',
  }, {
    className: 'text-right',
    customCell: true,
    key: 'action',
  }];

  export default {
    data() {
      return {
        alert: {},
        automationColumns: AUTOMATION_COLUMNS,
        automationExamples: AUTOMATION_EXAMPLES.competitions,
        automationPagination: {
          items: false,
        },
        competition: false,
        day: 0,
        days: [],
        dayMatches: {},
        groupMatches: {},
        groupNames: [],
        matchDico: false,
        matchColumns: MATCH_COLUMNS,
        matchesPerDay: 0,
        rounds: [],
        roundMatches: {},
        roundRuleEditionModalTitle: '',
        selectedRound: null,
        sources: SOURCES,
        teams: [],
        teamDico: false,
      };
    },
    components: {
      RuleEdition,
      Score,
      StatusEdition,
    },
    async created() {
      Promise.all([
        this._loadCompetition(),
        this._loadCompetitionMatches(),
        this._loadCompetitionTeams(),
      ]);
    },
    methods: {
      openRoundRuleEditionModal(round) {
        this.selectedRound = round;
        this.roundRuleEditionModalTitle = `Set rule to every match in ${roundToString(round)}`;
        this.$refs.roundRuleEditionModal.open();
      },
      async saveAutomation(update) {
        return competitionServices.updateCompetition(this.competition._id, { automation: update });
      },
      async scrapInfo(source) {
        const res = await competitionServices.scrapInfo(this.competition._id, source);
        notifier.notify({
          type: res.status === 200 ? 'success' : 'danger',
          message: res.message || res,
        }, 3000);
      },
      async _loadCompetition() {
        this.competition = await competitionServices.getCompetition(this.$route.params.id);
        this.competition.progress.value = this.competition.progress.total ?
          Math.floor(100 * this.competition.progress.now / this.competition.progress.total) : 0;
        this.rounds = [];
        this.groupMatches = {};
        this.days = [];
        this.competition.matches.forEach((match) => {
          if (!!match.group) {
            if (! this.groupMatches[match.group]) {
              this.groupMatches[match.group] = [];
            }
            this.groupMatches[match.group].push(match.match);
            return;
          }
          if (!!match.round) {
            if (! this.roundMatches[match.round]) {
              this.roundMatches[match.round] = [];
            }
            this.roundMatches[match.round].push(match.match);
            return;
          }
          if (!isNaN(match.day)) {
            if (! this.dayMatches[match.day]) {
              this.dayMatches[match.day] = [];
            }
            this.dayMatches[match.day].push(match.match);
          }
        });
        this.groupNames = Object.keys(this.groupMatches);
        this.groupNames.sort();
        this.rounds = Object.keys(this.roundMatches).map(key => parseInt(key, 10));
        this.rounds.sort((a, b) => {
          if (b === 3) {
            return 1.5 - a;
          }
          if (a === 3) {
            return b - 1.5;
          }
          return b - a;
        });
        this.days = Object.keys(this.dayMatches).map(key => parseInt(key, 10));
        this.days.sort();
        if (this.competition.config.type === 'championship') {
          this.matchesPerDay = Math.floor(this.competition.config.championship.day.capacity / 2);
        }
        // automation
        const items = [];
        for (let source in this.competition.automation) {
          const value = this.competition.automation[source];
          if (value.url) {
            items.push({
              source,
              url: value.url,
            });
          }
        }
        this.automationPagination.items = items;
      },
      async _loadCompetitionMatches() {
        const matches = await competitionServices.getCompetitionMatches(this.$route.params.id);
        this.matchDico = {};
        matches.forEach((match) => {
          if (match.automation && Object.keys(match.automation)) {
            match.automated = Object.keys(match.automation).length;
          }
          this.matchDico[match._id] = match;
        });
      },
      async _loadCompetitionTeams() {
        const teams = await competitionServices.getCompetitionTeams(this.$route.params.id);
        this.teams = teams.sort((a, b) => {
          if (!a.team || !a.team.label) {
            return -1;
          }
          if (!b.team || !b.team.label) {
            return 1;
          }
          return a.team.label.localeCompare(b.team.label);
        });
        this.teamDico = {};
        teams.forEach((team) => {
          this.teamDico[team.team._id] = team.team;
        });
      },
      async downloadEmails(lng, forgottenBet) {
        const res = await competitionServices.getCompetitionEmails(this.$route.params.id, { lng, reminder: forgottenBet });
        if (res.status !== 200) {
          notifier.notify({
            type: 'danger',
            message: res.message,
          }, 3000);
          return;
        }
        const hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:attachment/txt,' + encodeURI(res.emails.join(';'));
        hiddenElement.target = '_blank';
        hiddenElement.download = `competition_${this.$route.params.id}_${lng}.txt`;
        hiddenElement.click();
      },
      async importTeamsFromMatches() {
        const teams = {};
        for (let key in this.matchDico) {
          const awayteam = this.matchDico[key].awayteam;
          const hometeam = this.matchDico[key].hometeam;
          if (awayteam) {
            teams[awayteam] = true;
          }
          if (hometeam) {
            teams[hometeam] = true;
          }
        }
        const promises = [];
        for (let team in teams) {
          if (!this.teamDico[team]) {
            promises.push(competitionServices.addCompetitionTeam(this.$route.params.id, team));
          }
        }
        await Promise.all(promises);
        notifier.notify({
          type: 'success',
          message: 'Teams have been successfully imported from matches'
        }, 3000);
        await this._loadCompetitionTeams();
      },
    },
  };
</script>

<style scoped>
  .badge-team {
    font-size: 14px;
    margin: 2px;
    background: rgba(213, 213, 213, 0.7);
  }
  .phase-header {
    margin-bottom: 20px;
  }
  >>> td.col-automation, td.col-rule {
    position: relative;
    width: 20px;
    max-width: 20px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  >>> td.col-automation .automation-count,
  >>> td.col-rule .automation-count {
    position: absolute;
    top: 6px;
    right: -2px;
    background: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 0px 3px;
    border-radius: 100px;
  }
  td.col-link {
    width: 30px;
    max-width: 30px;
    text-align: right;
  }
</style>
