<template>
  <div>
    <table-view
      :title="title"
      :columns="columns"
      :itemsPerPage="limit"
      withCount
      :pagination="pagination"
      @pageUpdate="updatePagination"
    >
      <template slot="name_cell" slot-scope="props">
        <router-link :to="{ name: 'competitionDetail', params: { id: props.value._id } }">{{props.value.name}} {{props.value.year}}</router-link>
      </template>
      <template slot="action_cell" slot-scope="props">
        <a href @click.prevent="openDeletion(props.value)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </template>
      <template slot="actions">
        <button class="btn btn-primary" type="button" style="margin-top: -20px;" v-modal-trigger="'competitionCreationModal'">
          <i class="fa fa-plus" aria-hidden="true"></i> New competition
        </button>
      </template>
    </table-view>
    <modal ref="competitionDeletionModal" @ok="onDeletion">
      <competition-deletion :competition="competitionToDelete"></competition-deletion>
    </modal>
    <modal ref="competitionCreationModal" size="lg" @ok="onCreation">
      <competition-creation></competition-creation>
    </modal>
  </div>
</template>

<script>
  import * as competitionServices from '../../services/competitions';
  import paginationMixin from '../../mixins/pagination';
  import CompetitionDeletion from './deletion.vue';
  import CompetitionCreation from './creation.vue';

  const COLUMNS = [{
    className: 'text-left',
    title: 'Sport',
    value: row => row.sport,
  }, {
    className: 'text-left',
    customCell: true,
    key: 'name',
    title: 'Name',
  }, {
    className: 'text-center',
    title: 'Status',
    value: row => row.status,
  }, {
    className: 'text-right',
    customCell: true,
    key: 'action',
  }];
  const LIMIT = 10;

  export default {
    mixins: [paginationMixin],
    data() {
      return {
        columns: COLUMNS,
        competitionToDelete: false,
        limit: LIMIT,
        pagination: {
          items: false,
          count: false,
          page: 0,
        },
        paginationItemName: 'competitions',
        paginationLoader: competitionServices.getCompetitions,
      };
    },
    components: {
      CompetitionCreation,
      CompetitionDeletion,
    },
    computed: {
      title() {
        return `Competition list${this.pagination.count ? ` (${this.pagination.count})` : ''}`;
      },
    },
    methods: {
      openDeletion(competition) {
        this.competitionToDelete = competition;
        this.$refs.competitionDeletionModal.open();
      },
    },
  };
</script>

<style scoped>
  .form-section {
    width: 320px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
