<template>
  <div class="card">
    <div class="card-header">
      <div class="leagues-heading float-left">Largest leagues ({{pagination.count}})</div>
      <div class="float-right">
        <form class="form-inline min-size-form" @submit.prevent="search">
          <div class="form-group">
            <label>Min. size</label>
            <div class="input-group input-group-sm min-size-input">
              <input type="number" class="form-control text-center" v-model.number="form.minSize"/>
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
    <table-view
      :columns="columns"
      :pagination="pagination"
      :itemsPerPage="limit"
      emptylabel="No league found"
      @pageUpdate="updatePagination"
    >
      <template slot="name_cell" slot-scope="props">
        <router-link :to="{ name: 'leagueDetail', params: { id: props.value._id } }">{{props.value.name}}</router-link>
      </template>
      <template slot="premium_cell" slot-scope="props">
        <span class="text-success" v-if="props.value.premium && props.value.premium.validated">
          <i class="fa fa-check"></i>
        </span>
      </template>
    </table-view>
  </div>
</template>

<script>
  import paginationMixin from '../../mixins/pagination';
  import * as leagueServices from '../../services/leagues';

  const COLUMNS = [{
    className: 'text-left',
    customCell: true,
    key: 'name',
    title: 'Name',
  }, {
    className: 'text-center',
    customCell: true,
    key: 'premium',
    title: 'Premium',
  }, {
    className: 'text-center',
    title: 'Size',
    value: row => row.members.length,
  }];

  export default {
    props: ['competition'],
    mixins: [paginationMixin],
    data() {
      return {
        columns: COLUMNS,
        form: {
          minSize: 20,
        },
        limit: 10,
        pagination: {
          page: 0,
          items: false,
          count: false,
        },
      };
    },
    methods: {
      async loadItems(page, withCount) {
        const res = await leagueServices.getLeagues({
      	  competition: this.competition._id,
      	  minsize: this.form.minSize,
      	  limit: this.limit,
      	  page,
      	  count: withCount,
      	});
        if (res.status === 200) {
          this.pagination.page = page;
          this.pagination.items = res.leagues;
          if (withCount) {
            this.pagination.count = res.count;
          }
        }
      },
    },
  };
</script>

<style scoped>
  .min-size-form {
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .min-size-form label {
    margin-right: 10px;
  }
  .min-size-input {
    max-width: 100px;
  }
</style>
