<template>
  <modal-template :title="title" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-4 col-form-label">Find a rule</label>
          <div class="col-8">
            <typeahead
              v-model="form.rule"
              className="form-control"
              placeholder="Rule name"
              :get-label="rule => rule.name"
              :get-items="loadRules"
            ></typeahead>
          </div>
        </div>
      </form>
      <div v-if="form.rule && form.rule.name" class="row">
        <hr>
        <rule-snippet :rule="form.rule"></rule-snippet>
      </div>
    </template>
    <template slot="footer">
      <button type="button" class="btn btn-link" @click="discard">Cancel</button>
      <button type="button" class="btn btn-primary" @click="save">Set</button>
    </template>
  </modal-template>
</template>

<script>
  import * as competitionServices from '../../services/competitions';
  import * as ruleServices from '../../services/rules';
  import modalContentMixin from '../../mixins/modalContent';
  import notifier from '../../common/Notifier';

  import RuleSnippet from '../rules/snippet.vue';

  export default {
    props: ['competition', 'title', 'selector'],
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
        form: {
          rule: null,
        },
      };
    },
    components: {
      RuleSnippet,
    },
    methods: {
      async save() {
        const update = Object.assign({}, this.selector, { rule: this.form.rule._id });
        const res = await competitionServices.updateCompetitionRules(this.competition._id, update);
        this.handleResponse(res);
      },
      async loadRules(search) {
        const res = await ruleServices.getRules({
          search,
          sport: this.competition.sport,
          limit: 5,
        });
        if (res.status === 200) {
          return res.rules;
        }
        notifier.notify({
          type: 'danger',
          message: res.message,
        }, 3000);
        return [];
      },
    },
  };
</script>
