<template>
  <div class="row">
    <div class="col text-right team-panel">
      <span v-if="match.hometeam && teamDico[match.hometeam]">{{teamDico[match.hometeam].label}}</span>
    </div>
    <div class="col-3 score-panel">
      {{match.result | shortScore(match.sport)}}
    </div>
    <div class="col text-left team-panel">
      <span v-if="match.awayteam && teamDico[match.awayteam]">{{teamDico[match.awayteam].label}}</span>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['match', 'teamDico'],
    data() {
      return {};
    },
  };
</script>

<style scoped>
  .score-panel {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .team-panel {
    padding-right: 5px;
    padding-left: 5px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
