<template>
  <div class="competition-stats-page" v-if="competition">
    <page-header :title="`${competition.name} ${competition.year}'s stats`">
      <template slot="actions">
        <h4>
          <router-link :to="{ name: 'competitionDetail', params: { id: competition._id } }">
            details
          </router-link>
        </h4>
      </template>
    </page-header>
    <div class="row">
      <div class="col-12 col-sm-5 col-md-5 col-lg-4" style="margin-bottom: 20px;">
        <div class="card">
          <div class="card-header">Top 20</div>
          <table-view
            className="table-sm"
            :columns="rankingColumns"
            :pagination="rankingPagination"
            :itemsPerPage="rankingLimit"
          >
            <template slot="pseudo_cell" slot-scope="props">
              <user-pseudo-link :user="{ _id: props.value.user, pictureUrl: props.value.pictureUrl, displayName: props.value.displayName }"></user-pseudo-link>
            </template>
          </table-view>
        </div>
      </div>
      <div class="col-12 col-sm-7 col-md-7 col-lg-8">
        <div class="row">
          <div class="col-12" style="margin-bottom: 20px;">
            <div class="card">
              <div class="card-header">Leagues{{ leagueCounts ? ` (${leagueCounts})` : '' }}</div>
              <div class="card-body">
                <div class="league-panel">
                  <d3-time-line :data="leagueCreations" verticalLabel="Creations"></d3-time-line>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" style="margin-bottom: 20px;">
            <div class="card">
              <div class="card-header">Forecasts{{ forecastCounts ? ` (${forecastCounts})`: '' }}</div>
              <div class="card-body">
                <div class="forecast-panel">
                  <d3-time-line :data="forecastCreations" verticalLabel="Creations"></d3-time-line>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 leagues-panel">
        <competition-leagues :competition="competition"></competition-leagues>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from 'moment';
  import * as competitionServices from '../../services/competitions';
  import CompetitionLeagues from './leagues.vue';

  const transformData = (items) => {
    if (items && items.length) {
      items.forEach((item) => {
        item.value = item.count;
        if (item.year && item.dayOfYear) {
          item.date = moment().year(item.year).dayOfYear(item.dayOfYear).hour(6);
        }
      });

      items.sort((a, b) => {
        if (a.year) {
          if (a.year < b.year) return -1;
          if (a.year > b.year) return 1;
        }
        if (a.dayOfYear) {
          if (a.dayOfYear < b.dayOfYear) return -1;
          if (a.dayOfYear > b.dayOfYear) return 1;
        }
        return 0;
      });

      // Add values at the extremities
      const last = items[items.length - 1];
      items.push({
        date: moment(last.date).add(1, 'days'),
        value: 0,
      });

      // add missing days
      const cursor = moment(items[0].date).add(1, 'hour');
      let index = 0;
      const limit = items.length;

      while (index < limit) {
        const date = items[index].date;
        if (date.isBefore(cursor)) {
          index++;
        } else {
          items.push({
            value: 0,
            date: moment(cursor),
          });
        }
        cursor.add(1, 'days');
      }

      // Sort the array again
      items.sort((a, b) => {
        if (a.date && b.date) {
          if (a.date.isBefore(b.date)) {
            return -1;
          }
          return 1;
        }
        return 0;
      });

      const first = items[0];
      items.shift({
        date: moment(first.date).subtract(1, 'days'),
        value: 0,
      });
    }
    return items;
  };

  const RANKING_COLUMNS = [{
    className: 'text-center col-rank',
    title: 'Rank',
    value: row => row.rankLabel,
  }, {
    className: 'text-left col-name',
    customCell: true,
    key: 'pseudo',
    title: 'Pseudo',
  }, {
    className: 'text-center col-points',
    title: 'Points',
    value: row => row.points,
  }];

  export default {
    data() {
      return {
        competition: null,
        forecastCounts: null,
        forecastCreations: null,
        leagueCounts: null,
        leagueCreations: null,
        rankingColumns: RANKING_COLUMNS,
        rankingLimit: 20,
        rankingPagination: { items: null },
      };
    },
    components: {
      CompetitionLeagues,
    },
    async created() {
      Promise.all([(async () => {
        this.competition = await competitionServices.getCompetition(this.$route.params.id);
      })(),
      (async () => {
        const leagueCreations = await competitionServices.getCompetitionLeagueCreations(this.$route.params.id);
        this.leagueCreations = transformData(leagueCreations);
      })(),
      (async () => {
        const forecastCreations = await competitionServices.getCompetitionForecastCreations(this.$route.params.id);
        this.forecastCreations = transformData(forecastCreations);
      })(),
      (async () => {
        this.leagueCounts = await competitionServices.countCompetitionLeagues(this.$route.params.id);
      })(),
      (async () => {
        this.forecastCounts = await competitionServices.countCompetitionForecasts(this.$route.params.id);
      })(),
      (async () => {
        const forecasts = await competitionServices.getCompetitionRanking(this.$route.params.id, 20);
        let points = -1;
        forecasts.forEach((user) => {
          if (user.points === points) {
            user.rankLabel = ' - ';
          } else {
            user.rankLabel = '#' + user.rank;
            points = user.points;
          }
        });
        this.rankingPagination.items = forecasts;
      })()]);
    }
  };
</script>

<style scoped>
  .league-panel {
    max-height: 258px;
  }

  .forecast-panel {
    max-height: 258px;
  }

  .competition-stats-page >>> .col-points {
    width: 60px;
  }
  .competition-stats-page >>> .col-name {
    width: calc(100% - 110px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .competition-stats-page >>> .col-rank {
    width: 50px;
  }
</style>
