<template>
  <modal-template title="Edit Status" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-3 col-form-label">Status</label>
          <div class="col-9">
            <b-form-radio-group buttons button-variant="outline-secondary" v-model="form.status">
              <b-form-radio value="private">Private</b-form-radio>
              <b-form-radio value="ready">Ready</b-form-radio>
              <b-form-radio value="public">Public</b-form-radio>
              <b-form-radio value="archived">Archived</b-form-radio>
            </b-form-radio-group>
          </div>
        </div>
      </form>
    </template>
    <template slot="footer">
      <button class="btn btn-link" type="button" @click="discard">Cancel</button>
      <button class="btn btn-primary" type="button" @click="save">Save Status</button>
    </template>
  </modal-template>
</template>

<script>
  import * as competitionServices from '../../services/competitions';
  import modalContentMixin from '../../mixins/modalContent';

  export default {
    props: ['competition'],
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
        form: {
          status: this.competition.status,
        },
      };
    },
    methods: {
      async save() {
        const res = await competitionServices.updateCompetition(this.$route.params.id, { status: this.form.status });
        this.handleResponse(res);
      },
    },
  };
</script>
