.borderless td {
    border: none;
}

.form-control.text-input-1000 {
	max-width: 65px;
}

.form-control.text-input-date {
	max-width: 90px;
}

.form-control.text-input-time {
	max-width: 60px;
}

.divider-right {
	border-right: 1px solid #e5e5e5;
}

span.success {
	color: #3c763d;
}

.badge.badge-team {
	font-size: 14px;
	margin: 2px;
	background: rgba(213,213,213,0.7);
	/*color: #919191;*/
}

tr.tr-success > td {
	color: #3c763d;
    background-color: #dff0d8;
}

tr.tr-warning > td {
	color: #8a6d3b;
    background-color: #fcf8e3;
}

tr.tr-danger > td {
	color: #a94442;
    background-color: #f2dede;
}

/*** D3.js ***/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

/** LOGIN */
#login_input {
	margin-bottom: 10px;
}

#login_panel {
	padding: 15px;
	max-width: 330px;
	margin: 0 auto;
}

.form-control{
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
          	box-sizing: border-box;
}

#login_panel .form-control:focus {
  	z-index: 2;
}

#login_panel input[type="text"] {
  	margin-bottom: -1px;
  	border-bottom-left-radius: 0;
  	border-bottom-right-radius: 0;
}

#login_panel input[type="password"] {
  	margin-bottom: 10px;
  	border-top-left-radius: 0;
  	border-top-right-radius: 0;
}

