span.success,
i.success {
  color: #5cb85c;
}
.header li h4 {
  margin-top: 0px;
}
.header li h4:after {
  margin-left: 1px;
  margin-right: 3px;
  content: '|';
  color: #777;
}
.header li:last-child h4:after {
  content: none;
}
.btn:focus,
.btn:active {
  outline: none;
}
.text-input-1000 {
  max-width: 65px;
}
.text-input-date {
  max-width: 90px;
}
.text-input-time {
  max-width: 60px;
}
.table-colored tbody .primary,
.table-colored thead .primary {
  color: #fff;
  background: #337ab7;
}
.table-colored tbody .success,
.table-colored thead .success {
  background: #5cb85c;
}
.table-colored tbody .info,
.table-colored thead .info {
  background: #5bc0de;
}
.table-colored tbody .warning,
.table-colored thead .warning {
  background: #f0ad4e;
}
.table-colored tbody .danger,
.table-colored thead .danger {
  background: #d9534f;
}
.table-colored th.column-icon {
  max-width: 30px;
}
.pagination-panel {
  margin-left: 10px;
  margin-right: 10px;
}
.pagination-goto .input-group {
  margin-left: 10px;
  margin-top: -50px;
  max-width: 110px;
}
@media (max-width: 768px) {
  .pagination-goto {
    position: relative;
    width: 100%;
    min-height: 50px;
    height: 50px;
    margin-top: 50px;
    background: orange;
  }
  .pagination-goto > div {
    position: relative;
    width: 100%;
    background: blue;
    margin-left: 0px;
  }
}
.btn-bg {
  height: 23%;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 120px;
}
@media (max-width: 768px) {
  .btn-bg {
    font-size: 20px;
  }
}
.text-vertical-center {
  position: relative;
}
.text-vertical-center span {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 5px;
}
.text-vertical-center::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.login-panel {
  padding: 15px;
  max-width: 330px;
  margin: 0 auto;
}
.rounded-form {
  margin-bottom: 10px;
}
.rounded-form input {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  margin-bottom: -1px;
}
.rounded-form input:focus {
  z-index: 2;
}
.rounded-form .top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.rounded-form .bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sc-admin-competition-page .badge-team {
  font-size: 14px;
  margin: 2px;
  background: rgba(213, 213, 213, 0.7);
}
.sc-admin-competition-page td.col-automation,
.sc-admin-competition-page td.col-rule {
  position: relative;
  width: 20px;
  max-width: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
.sc-admin-competition-page td.col-automation .automation-count,
.sc-admin-competition-page td.col-rule .automation-count {
  position: absolute;
  top: 1px;
  right: -2px;
  background: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 0px 3px;
  border-radius: 100px;
}
.sc-admin-competition-page td.col-link {
  width: 30px;
  max-width: 30px;
  text-align: right;
}
.sc-admin-competition-stats-page .leagues-panel .panel-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}
.sc-admin-competition-stats-page .leagues-panel .panel-heading .leagues-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}
.sc-admin-competition-stats-page .leagues-panel .panel-heading .min-size-input {
  max-width: 100px;
  margin: auto;
}
.divider-right {
  border-right: 1px solid #e5e5e5;
}
.source-icon.lequipe {
  background-image: url(/img/logo-lequipefr.png);
  background-size: 100%;
}
.source-icon.eurosport {
  background-image: url(/img/logo-eurosport.png);
  background-size: 100%;
}
.source-icon.espn {
  background-image: url(/img/logo-espn.png);
  background-size: 100%;
}
.team-list-page .team-automation {
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}
.team-list-page .team-automation .source-icon {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 32px;
}
.team-list-page .team-automation .source-icon i {
  position: absolute;
  top: 1px;
  right: 1px;
  color: #5cb85c;
  font-size: 14px;
  font-weight: bold;
}
/*** D3.js ***/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #000;
}
svg[sc-bar] {
  background: #fff;
}
svg[sc-bar] .axis {
  font: 10px sans-serif;
}
svg[sc-bar] .axis path,
svg[sc-bar] .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg[sc-bar] rect.bar {
  stroke: #97bbcd;
  stroke-width: 2px;
  fill: rgba(151, 187, 205, 0.4);
}
svg[sc-bar] rect.bar:hover {
  fill: rgba(151, 187, 205, 0.6);
}
svg[sc-grouped-bar] {
  background: #fff;
}
svg[sc-grouped-bar] .axis {
  font: 10px sans-serif;
}
svg[sc-grouped-bar] .axis path,
svg[sc-grouped-bar] .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg[sc-grouped-bar] rect.home-bar {
  stroke: #1d96c8;
  stroke-width: 2px;
  fill: rgba(29, 150, 200, 0.4);
}
svg[sc-grouped-bar] rect.home-bar:hover {
  fill: rgba(29, 150, 200, 0.6);
}
svg[sc-grouped-bar] rect.away-bar {
  stroke: #6360dd;
  stroke-width: 2px;
  fill: rgba(99, 96, 221, 0.4);
}
svg[sc-grouped-bar] rect.away-bar:hover {
  fill: rgba(99, 96, 221, 0.6);
}
svg .axis path,
svg .axis time-line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg .x.axis path {
  display: none;
}
svg .time-line {
  fill: none;
  stroke: #97bbcd;
  stroke-width: 1.5px;
}
svg .time-line-dot {
  fill: #75a4bc;
  cursor: hand;
}
.d3-tooltip {
  position: absolute;
  background: #4b4b4b;
  color: #e9e9e9;
  padding: 4px;
  border-radius: 3px;
  pointer-events: none;
}
.d3-tooltip div {
  text-align: center;
}
.smart-log-viewer {
  font-family: 'Roboto Slab', serif;
  background: #4c4c4c;
  color: white;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.smart-log-viewer .log-panel {
  position: relative;
  height: 100%;
  overflow: auto;
}
.smart-log-viewer .log-panel .flag {
  border-radius: 3px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 18px;
  padding: 0px 3px;
}
.smart-log-viewer .log-panel table {
  width: 100%;
  border: none;
  background: transparent;
  padding: 0px;
  margin: 0px;
}
.smart-log-viewer .log-panel table tr.log-line {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  background: transparent;
}
.smart-log-viewer .log-panel table tr.log-line td {
  background: transparent;
  border: none;
  padding: 1px;
  color: white;
}
.smart-log-viewer .log-panel table tr.log-line .timestamp {
  position: relative;
  display: inline-block;
  min-width: 122px;
  max-width: 135px;
  width: 135px;
  padding-left: 2px;
}
.smart-log-viewer .log-panel table tr.log-line .labl {
  position: relative;
  display: inline-block;
  min-width: 70px;
  max-width: 70px;
  width: 70px;
  text-align: center;
  padding: 1px;
  max-height: 19px;
}
.smart-log-viewer .log-panel table tr.log-line .labl .flag {
  max-width: 68px;
  background: rgba(156, 130, 84, 0.997);
}
.smart-log-viewer .log-panel table tr.log-line .level {
  position: relative;
  display: inline-block;
  min-width: 40px;
  max-width: 40px;
  width: 40px;
  padding: 1px;
  max-height: 19px;
}
.smart-log-viewer .log-panel table tr.log-line .level div.info-level {
  background: #727272;
}
.smart-log-viewer .log-panel table tr.log-line .level div.error-level {
  background: rgba(238, 93, 84, 0.995);
}
.smart-log-viewer .log-panel table tr.log-line .text-highlight {
  background: rgba(46, 190, 138, 0.995);
  border-radius: 3px;
  padding-right: 1px;
  padding-left: 1px;
  margin-right: -1px;
  margin-left: -1px;
  font-size: bold;
}
.smart-log-viewer .log-panel .top-loading-panel {
  padding: 3px;
}
.smart-log-viewer .log-panel .top-loading-panel div {
  padding: 1px 5px;
  display: block;
  border-radius: 4px;
  background: #666666;
  color: #999999;
  text-align: center;
  font-size: 20px;
}
.smart-log-viewer .log-panel .bottom-loading-panel {
  padding-bottom: 70px;
  padding-left: 2px;
}
.smart-log-viewer .control-panel {
  border-top: solid 2px #999999;
  background: #4c4c4c;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 100;
}
.smart-log-viewer .control-panel .search-panel {
  padding: 4px;
  margin-right: 10px;
  max-width: 450px;
}
.smart-log-viewer .control-panel .date-panel {
  position: relative;
  display: inline;
  width: 300px;
  background: red;
}
.smart-log-viewer [smart-search] {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.smart-log-viewer [smart-search] .icon {
  position: absolute;
  z-index: 1;
  top: 0px;
}
.smart-log-viewer [smart-search] .icon-left {
  margin-left: 10px;
  margin-top: 9px;
  color: #666666;
  font-size: 20px;
}
.smart-log-viewer [smart-search] .icon-right {
  margin-left: -25px;
  margin-top: 9px;
  color: #666666;
  font-size: 20px;
  cursor: pointer;
}
.smart-log-viewer [smart-search] .icon-right:hover {
  color: #999999;
}
.smart-log-viewer [smart-search] .search-input {
  position: relative;
  float: left;
  width: 500px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  background: #333333;
  color: #999999;
  border: none;
  height: 30px;
  padding-left: 35px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 2px;
}
.smart-log-viewer [smart-search] .search-input::-webkit-input-placeholder {
  color: #666666;
}
.smart-log-viewer [smart-search] .search-input:-moz-placeholder {
  color: #666666;
}
.smart-log-viewer [smart-search] .search-input::-moz-placeholder {
  color: #666666;
}
.smart-log-viewer [smart-search] .search-input:-ms-input-placeholder {
  color: #666666;
}
.smart-log-viewer [smart-search] .search-input:focus {
  outline: none;
}
.smart-log-viewer [smart-search] .search-input:after {
  content: "";
  clear: both;
}
