span.success, i.success {
	color: @brand-success;
}

.header {
	
	li {
	
		h4 {
			margin-top: 0px;
			
			&:after {
				margin-left: 1px;
				margin-right: 3px;
				content: '|';
				color: #777;
			}
		}
		
		&:last-child {
				
			h4:after {
				content: none;
			}
		}
	}
}