//
// Competition view
// --------------------------------------------------

.sc-admin-competition-page {
	
	.badge-team {
		font-size: 14px;
		margin: 2px;
		background: rgba(213,213,213,0.7);
	}

	td.col-automation, td.col-rule {
		position: relative;
		width: 20px;
		max-width: 20px;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
		
		.automation-count {
			position: absolute;
			top: 1px;
			right: -2px;
			background: red;
			color: white;
			font-size: 10px;
			font-weight: bold;
			padding: 0px 3px;
			border-radius: 100px;
		}
	}
	
	td.col-link {
		width: 30px;
		max-width: 30px;
		text-align: right;
	}
}

.sc-admin-competition-stats-page {
	
	.leagues-panel {
		
		.panel-heading {
			padding-top: 5px;
			padding-bottom: 5px;
			
			.leagues-heading {
				
				padding-top: 5px;
				padding-bottom: 5px;
			}
			
			.min-size-input {
				max-width: 100px; 
				margin: auto;
			}

		}
	}
}

