/*** D3.js ***/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

svg[sc-bar] {
	background: #fff;
	
	.axis {
	  	font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  	fill: none;
	  	stroke: #000;
	  	shape-rendering: crispEdges;
	}
	
	@bar-border-color: #97bbcd;
	@bar-color: fade(@bar-border-color, 40%);
	
	rect.bar {
		stroke: @bar-border-color;
		stroke-width: 2px;
		fill: @bar-color;
		
		&:hover {
			fill: fade(@bar-border-color, 60%);
		}
	}
}

svg[sc-grouped-bar] {
	background: #fff;
	
	.axis {
	  	font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  	fill: none;
	  	stroke: #000;
	  	shape-rendering: crispEdges;
	}
	
	@home-bar-border-color: #1d96c8; //#97bbcd;
	@home-bar-color: fade(@home-bar-border-color, 40%);
	
	rect.home-bar {
		stroke: @home-bar-border-color;
		stroke-width: 2px;
		fill: @home-bar-color;
		
		&:hover {
			fill: fade(@home-bar-border-color, 60%);
		}
	}
	
	@away-bar-border-color: #6360dd;
	@away-bar-color: fade(@away-bar-border-color, 40%);
	rect.away-bar {
		stroke: @away-bar-border-color;
		stroke-width: 2px;
		fill: @away-bar-color;
		
		&:hover {
			fill: fade(@away-bar-border-color, 60%);
		}
	}
}

svg {
	
	@line-color: #97bbcd;
	
	.axis path,
	.axis time-line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	
	.x.axis path {
	  display: none;
	}
	
	.time-line {
	  	fill: none;
	  	stroke: @line-color;
	  	stroke-width: 1.5px;
	}
	
	.time-line-dot {
		fill: darken(@line-color, 10%);
		cursor: hand;
	}
}

.d3-tooltip {
	position: absolute;
	background: #4b4b4b;
	color: #e9e9e9;
	padding: 4px;
	border-radius: 3px;
	pointer-events: none;
	
	div {
		text-align: center;
	}
}