//
// Home view
// --------------------------------------------------

.btn-bg {
	height: 23%;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 120px;
}

@media (max-width: @screen-sm-min) {
	.btn-bg {
		font-size: 20px;
	}
}
	

.text-vertical-center {
	position: relative;
	
	span {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 5px;
	}
}

.text-vertical-center::before {
  	content: " ";
  	display: inline-block;
  	height: 100%;
  	width: 1%;
  	vertical-align: middle;
}