//
// Login view
// --------------------------------------------------

.login-panel {
	padding: 15px;
	max-width: 330px;
	margin: 0 auto;
}

.rounded-form {
	margin-bottom: 10px;
	
	input {
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	          	box-sizing: border-box;
	    border-radius: 0;
	    margin-bottom: -1px;
	}
	
	input:focus {
		z-index: 2;
	}
	
	.top {
	    border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
    }
    
    .bottom {
	    border-bottom-left-radius: 4px;
	    border-bottom-right-radius: 4px;
    }
}