.smart-log-viewer {
	font-family: 'Roboto Slab', serif;
	
	@backgroundColor: #4c4c4c; //#3b3b3b;
	@greenColor: #2ebe8a;
	@redColor: #ee5d54;
	@brownColor: #9c8254;
	
	background: @backgroundColor;
	color: white;
	
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	
	.log-panel {
		position: relative;
		height: 100%;
		
		overflow: auto;
		
		.flag {
			border-radius: 3px;
			position: relative;
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			max-height: 18px;
			padding: 0px 3px;
		}
					
		
		table {
		
			width: 100%;
			border: none;
			background: transparent;
			padding: 0px;
			margin: 0px;
			
			tr.log-line {
				position: relative;
				font-size: 14px;
				line-height: 21px;
				background: transparent;
				
				td {
					background: transparent;
					border: none;
					padding: 1px;
					color: white;
				}
				
				.timestamp {
					position: relative;
					display: inline-block;
					min-width: 122px;
					max-width: 135px;
					width: 135px;
					padding-left: 2px;
				}
				
				.labl {
					position: relative;
					display: inline-block;
					min-width: 70px;
					max-width: 70px;
					width: 70px;
					text-align: center;
					padding: 1px;
					max-height: 19px;
					
					.flag {
						max-width: 68px;
						background: fadeout(@brownColor, 0.3);
					}
				}
				
				.level {
					position: relative;
					display: inline-block;
					min-width: 40px;
					max-width: 40px;
					width: 40px;
					padding: 1px;
					max-height: 19px;
					
					div.info-level {
						background: lighten(@backgroundColor, 15%);
					}
					
					div.error-level {
						background: fadeout(@redColor, 0.5);
					}
				}
				
				.text-highlight {
					background: fadeout(@greenColor, 0.5);
					border-radius: 3px;
					padding-right: 1px;
					padding-left: 1px;
					margin-right: -1px;
					margin-left: -1px;
					font-size: bold;
				}
			}
		}
		
		.top-loading-panel {
			
			padding: 3px;
			
			div {
				padding: 1px 5px;
				display: block;
				border-radius: 4px;
				background: lighten(@backgroundColor, 10%);
				color: lighten(@backgroundColor, 30%);
				text-align: center;
				font-size: 20px;
			}
		}		
		
		.bottom-loading-panel {
			padding-bottom: 70px;
			padding-left: 2px;
		}
	}
	
	.control-panel {
		border-top: solid 2px lighten(@backgroundColor, 30%);
		background: @backgroundColor;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40px;
		z-index: 100;
		
		.search-panel {
			padding: 4px;
			margin-right: 10px;
			max-width: 450px;
		}
		
		.date-panel {
			position: relative;
			display: inline;
			width: 300px;
			background: red;
		}
	}
	
	[smart-search] {
		@placeholderColor: lighten(@backgroundColor, 10%);
	
		vertical-align: middle;
		white-space: nowrap;
		position: relative;
		
		.icon {
			position: absolute;
			z-index: 1;
			top: 0px;	
		}
		
		.icon-left {
			margin-left: 10px;
			margin-top: 9px;
			color: @placeholderColor;
			font-size: 20px;
		}
		
		.icon-right {
			margin-left: -25px;
			margin-top: 9px;
			color: @placeholderColor;
			font-size: 20px;
			cursor: pointer;
			
			&:hover {
				color: lighten(@placeholderColor, 20%);
			}
		}
		
		.search-input {
			position: relative;
			float: left;
			width: 500px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
				border-radius: 5px;
			font-size: 20px;
			background: darken(@backgroundColor, 10%);
			color: lighten(@backgroundColor, 30%);
			border: none;
			height: 30px;
			padding-left: 35px;
			padding-right: 30px;
			padding-top: 0px;
			padding-bottom: 2px;
			
			&::-webkit-input-placeholder {
				color: @placeholderColor;
			}
			
			&:-moz-placeholder {
				color: @placeholderColor;
			}
			
			&::-moz-placeholder {
				color: @placeholderColor;
			}
			
			&:-ms-input-placeholder {
				color: @placeholderColor;
			}
			
			&:focus {
				outline: none;
			}
			
			&:after {
				content: "";
				clear: both;
			}
		}
	}
}