.pagination-panel {
	margin-left: 10px; 
	margin-right: 10px;
}

.pagination-goto .input-group {
	margin-left: 10px; 
	margin-top: -50px; 
	max-width: 110px;
}

@media (max-width: @screen-sm-min) {
	.pagination-goto {
		position: relative;
		width: 100%;
		min-height: 50px;
		height: 50px;
		margin-top: 50px;
		background: orange;
		
		> div {
			position: relative;
			width: 100%;
			background: blue;
			margin-left: 0px;
		}
	}
}