//
// Table
// --------------------------------------------------

.table-colored {
	tbody, thead {
		.primary {
			color: #fff;
			background: @brand-primary;
		}
		
		.success {
			background: @brand-success;
		}
		
		.info {
			background: @brand-info;
		}
		
		.warning {
			background: @brand-warning;
		}
		
		.danger {
			background: @brand-danger;
		}
	}
	
	th.column-icon {
		max-width: 30px;
	}
}