.source-icon.lequipe {
	background-image: url(/img/logo-lequipefr.png);
	background-size: 100%;
}

.source-icon.eurosport {
	background-image: url(/img/logo-eurosport.png);
	background-size: 100%;
}

.source-icon.espn {
	background-image: url(/img/logo-espn.png);
	background-size: 100%;
}

.team-list-page {
	
	.team-automation {
		position: relative;
		padding-top: 0px;
		padding-bottom: 0px;
		
		.source-icon {
			position: relative;
			display: inline-block;
			height: 32px;
			width: 32px;
			
			i {
				position: absolute;
				top: 1px;
				right: 1px;
				color: @brand-success;
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}