<template>
  <modal-template title="Create task" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <form>
        <h4 class="text-muted">Algorithm</h4>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Name</label>
          <div class="col-sm-8">
            <dropdown-select v-model="form.algo" btnClass="btn-outline-primary" :options="algoOptions"></dropdown-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Processes</label>
          <div class="col-sm-8">
            <input type="number" v-model.number="form.processes" class="form-control text-input-1000">
          </div>
        </div>
        <hr>
        <h4 class="text-muted">Competition</h4>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Sport</label>
          <div class="col-sm-8">
            <dropdown-select v-model="form.sport" btnClass="btn-outline-primary" :options="sportOptions"></dropdown-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Find</label>
          <div class="col-sm-8">
            <typeahead
              v-model="form.competition"
              placeholder="Competition name"
              className="form-control"
              :getLabel="item => `${item.name} ${item.year}`"
              :getItems="getCompetitions"
            ></typeahead>
          </div>
        </div>
      </form>
    </template>
    <template slot="footer">
      <button type="button" class="btn btn-link" @click="discard">Cancel</button>
      <button type="button" class="btn btn-primary" @click="create" :disabled="!form.algo || !form.competition || !form.competition._id">Create</button>
    </template>
  </modal-template>
</template>

<script>
  import modalContentMixin from '../../mixins/modalContent';
  import { SPORTS } from '../../common/common';
  import * as competitionServices from '../../services/competitions';
  import * as taskServices from '../../services/tasks';

  const ALGOS = [{
    value: 'compute_ranking',
    label: 'Compute ranking',
  }, {
    value: 'compute_points_from_scratch',
    label: 'Compute points from scratch',
  }, {
    value: 'compute_crowdscoring',
    label: 'Compute crowdscoring',
  }, {
    value: 'scrap_match_date',
    label: 'Scrap match date',
  }];

  export default {
    props: [],
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
        algoOptions: ALGOS,
        form: {},
        sportOptions: SPORTS,
      };
    },
    methods: {
      async create() {
        const task = {
          algo: this.form.algo,
          parameters: {},
        };
        if (this.form.competition) {
          task.parameters.competition = this.form.competition._id;
        }
        if (this.form.algo === 'compute_crowdscoring') {
          task.parameters.sport = this.form.sport;
        }
        if (this.form.match) {
          task.parameters.match = this.form.match._id;
        }
        if (this.form.processes) {
          task.processes = this.form.processes;
        }
        const res = await taskServices.createTask(task);
        this.handleResponse(res);
      },
      async getCompetitions(search) {
        const options = {
          search: search.split(' ')[0],
          status: 'public',
          limit: 5,
        };
        if (this.form.sport) {
          options.sport = this.form.sport;
        }
        const res = await competitionServices.getCompetitions(options);
        if (res.status === 200) {
          return res.competitions;
        }
        notifier.notify({
          type: 'danger',
          message: res.message,
        }, 3000);
        return [];
      },
    },
  };
</script>
