<template>
  <div>
    <page-header title="Tasks feed"></page-header>
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="card">
          <div class="card-header">
            <button class="btn btn-primary btn-sm float-right" v-modal-trigger="'taskCreationModal'">
              Create new task
            </button>
          </div>
          <table-view
            :columns="columns"
            :itemsPerPage="limit"
            :noHeader="true"
            :pagination="pagination"
            :rowClasses="rowClasses"
          >
            <template slot="date_cell" slot-scope="props">
              <span
                :title="props.value.datetime | amDateFormat('L HH:mm:ss')"
              >{{ props.value.datetime | amDateFormat('HH:mm:ss') }}</span>
            </template>
            <template slot="action_cell" slot-scope="props">
              <a href @click.prevent="displayStats(props.value)">
                <i class="fa fa-bar-chart"></i>
              </a>
            </template>
          </table-view>
        </div>
      </div>
    </div>
    <modal ref="taskCreationModal" @ok="loadItems">
      <task-creation></task-creation>
    </modal>
    <modal ref="taskStatsModal" size="lg">
      <task-stats :task="selectedTask"></task-stats>
    </modal>
  </div>
</template>

<script>
  import moment from 'moment';
  import notifier from '../../common/Notifier';
  import auth from '../../common/AuthServices';
  import paginationMixin from '../../mixins/pagination';
  import * as taskServices from '../../services/tasks';
  import TaskCreation from './creation.vue';
  import TaskStats from './stats.vue';

  const COLUMNS = [{
    className: 'text-left',
    customCell: true,
    key: 'date',
  }, {
    className: 'text-left',
    value: row => (row.type === 'auto') ? 'A' : 'M',
  }, {
    className: 'text-left',
    value: row => row.algo,
  }, {
    className: 'text-center',
    value: row => row.processes,
  }, {
    className: 'text-center',
    value: row => row.execution_time ? moment(row.execution_time).format('mm:ss.SSS') : '',
  }, {
    className: 'text-right',
    customCell: true,
    key: 'action',
  }];

  export default {
    mixins: [paginationMixin],
    data() {
      return {
        columns: COLUMNS,
        limit: 10,
        pagination: {
          items: false,
          count: false,
          page: 0,
        },
        rowClasses: row => ({
          'table-success': row.status === 'succeeded',
          'table-danger': row.status === 'failed',
          'table-warning': row.status === 'running',
        }),
        selectedTask: null,
      };
    },
    components: {
      TaskCreation,
      TaskStats,
    },
    created() {
      if (window.io) {
        const token = auth.getToken();
        const socket = io.connect(window.SCHEDULER_API_ROOT + '/scheduler', {
          query: { token }
        });
        socket.on('connect', () => {
          socket.emit('hello');

          socket.on('task_update', (data) => {
            if (!data || !this.pagination.items) {
              return;
            }
            this.pagination.items.forEach((task) => {
              if (task._id === data.id) {
                Object.assign(task, {
                  execution_time: data.execution_time,
                  status: data.status,
                  processes: data.processes,
                });
              }
            });
          });

          socket.on('disconnect', () => {
            notifier.notify({
              type: 'info',
              message: 'Connection lost',
            }, 5000);
          });
        });
      }
    },
    methods: {
      async loadItems() {
        const res = await taskServices.getTasks();
        if (res.status === 200) {
          this.pagination.items = res.tasks;
          this.pagination.count = res.tasks.length;
          return;
        }
        notifier.notify({
          type: 'danger',
          message: res.message || res,
        }, 5000);
      },
      displayStats(task) {
        this.selectedTask = task;
        this.$refs.taskStatsModal.open();
      },
    },
  }
</script>
