<template>
  <modal-template title="Task stats" @discard="discard">
    <template slot="body">
      <h3 class="text-center">{{task.algo | algo}}</h3>
      <template v-if="task.parameters">
        <p class="text-muted text-center" v-for="(value, key) in task.parameters">{{key}} : {{value}}</p>
      </template>
      <div class="stats-panel">
        <d3-scatter-plot
          v-if="stats"
          :data="stats"
          verticalLabel="avg execution time (s)"
          horizontalLabel="Processes"
        ></d3-scatter-plot>
        <div v-else class="loading-panel">
          <span>Loading <i class="fa fa-spin fa-spinner"></i></span>
        </div>
      </div>
    </template>
  </modal-template>
</template>

<script>
  import * as taskServices from '../../services/tasks';
  import notifier from '../../common/Notifier';
  import modalContentMixin from '../../mixins/modalContent';

  export default {
    props: ['task'],
    mixins: [modalContentMixin],
    data() {
      return {
        stats: false,
      };
    },
    async created() {
      const res = await taskServices.getTaskStats({
        algo: this.task.algo,
        competition: this.task.parameter && this.task.parameters.competition,
      });
      if (res.status === 200) {
        this.stats = res.stats;
        return;
      }
      notifier.notify({
        type: 'danger',
        message: res.message || res,
      }, 3000);
    },
  };
</script>

<style scoped>
  .stats-panel {
    width: 100%;
    padding-top: 50%;
    position: relative;
  }
  .stats-panel > * {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
