<template>
  <modal-template :title="`Scrapped info from ${source}`" @discard="discard">
    <template slot="body">
      <div class="form-horizontal">
        <h4 class="text-center">Team {{team.label}}</h4>
        <div class="form-group row" style="margin-bottom: -10px;">
          <label class="col-4 col-form-label">Name :</label>
          <div class="col-8">
            <p class="form-control-plaintext">{{name}}</p>
          </div>
        </div>
      </div>
    </template>
    <template slot="footer">
      <button type="button" class="btn btn-link" @click="discard">Close</button>
      <button type="button" class="btn btn-primary" @click="updateAutomationName">Set automation name</button>
    </template>
  </modal-template>
</template>

<script>
  import modalContentMixin from '../../mixins/modalContent';
  import * as teamServices from '../../services/teams';

  export default {
    props: ['name', 'team', 'source'],
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
      };
    },
    methods: {
      async updateAutomationName() {
        this.alert =  {
          type: "info",
          message: "Updating automation name",
        };
        if (!this.team.automation) {
          this.team.automation = {};
        }
        if (!this.team.automation[this.source]) {
          this.team.automation[this.source] = {};
        }
        this.team.automation[this.source].name = this.name;
        const res = await teamServices.updateTeam(this.team._id, { automation: this.team.automation });
        this.handleResponse(res);
      },
    },
  };
</script>
