<template>
  <modal-template :title="title" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Name</label>
          <div class="col-sm-8">
            <input type="text" v-model="form.name" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Label</label>
          <div class="col-sm-8">
            <input type="text" v-model="form.label" class="form-control" placeholder="Label">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Sport</label>
          <div class="col-sm-8">
            <dropdown-select v-model="form.sport" btn-class="btn-outline-primary" :options="sportOptions"></dropdown-select>
          </div>
        </div>
      </form>
    </template>
    <template slot="footer">
      <button type="button" class="btn btn-link" @click="discard">Cancel</button>
      <button type="button" class="btn btn-primary" @click="save">{{saveTitle}}</button>
    </template>
  </modal-template>
</template>

<script>
  import modalContentMixin from '../../mixins/modalContent';

  import * as teamServices from '../../services/teams';

  import { SPORTS } from '../../common/common';

  export default {
    props: ['team'],
    mixins: [modalContentMixin],
    data() {
      const data = {
        alert: {},
        sportOptions: SPORTS,
      };
      if (this.team) {
        return Object.assign(data, {
          form: {
            name: this.team.name,
            label: this.team.label,
            sport: this.team.sport,
          },
          saveTitle: 'Save',
          title: `Edit team ${this.team.name}`,
        });
      }
      return Object.assign(data, {
        form: {
          name: '',
          label: '',
          sport: null,
        },
        saveTitle: 'Create',
        title: 'Create new team',
      });
    },
    methods: {
      async save() {
        let res;
        if (this.team) {
          res = await teamServices.updateTeam(this.team._id, this.form);
        } else {
          res = await teamServices.createTeam(this.form);
        }
        this.handleResponse(res);
      },
    }
  };
</script>
