<template>
  <div v-if="team">
    <page-header :title="`${team.label}'s detail`">
      <template slot="actions">
        <h4 style="margin-top: 0px;">
          <router-link :to="{ name: 'teamJson', params: { id: team._id } }">json</router-link>
        </h4>
      </template>
    </page-header>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <center>
          <img class="img-thumbnail" :src="`/img/teams/${team.name}_300.png`" width="180" height="180"/>
        </center>
        <div class="form-horizontal">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Name :</label>
            <div class="col-sm-8">
              <p class="form-control-plaintext">{{team.name || ' '}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Sport :</label>
            <div class="col-sm-8">
              <p class="form-control-plaintext">{{team.sport || ' '}}</p>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary col-sm-12" v-modal-trigger="'teamEditionModal'">Edit details</button>
      </div>
      <table-view
        class="col-sm-8 col-md-9"
        :columns="matchesColumns"
        :itemsPerPage="matchesPerPage"
        :pagination="matchesPagination"
        :title="cMatchesTitle"
        @pageUpdate="updateMatchesPagination"
      >
        <template slot="score_cell" slot-scope="props">
          <span>{{props.value.result | score('football') }}</span>
        </template>
      </table-view>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <table-view
          title="Automation"
          :columns="automationColumns"
          :pagination="automationPagination"
        >
          <template slot="actions">
            <button type="button" class="btn btn-primary" v-modal-trigger="'automationEditionModal'" style="margin-top: -20px;">Edit automation</button>
          </template>
          <template slot="url_cell" slot-scope="props">
            <a :href="'//' + props.value.url" target="_blank">{{props.value.url}}</a>
          </template>
          <template slot="action_cell" slot-scope="props">
            <async-button class="btn btn-sm btn-primary" :onClick="() => scrapInfo(props.value.source)">Scrap info</async-button>
          </template>
        </table-view>
      </div>
    </div>
    <modal ref="teamEditionModal" @ok="onTeamUpdated">
      <team-edition :team="team"></team-edition>
    </modal>
    <modal ref="automationEditionModal" size="lg" @ok="_loadTeam">
      <automation-edition
        :automation="team.automation"
        title="Edit team automation"
        :examples="automationExamples[team.sport]"
        :save="saveAutomation"
      ></automation-edition>
    </modal>
    <modal ref="automationNameModal" @ok="_loadTeam">
      <automation-name :team="team" :name="scrapped.name" :source="scrapped.source"></automation-name>
    </modal>
  </div>
</template>

<script>
  import * as teamServices from '../../services/teams';
  import { AUTOMATION_EXAMPLES, SOURCES } from '../../common/common';

  import AutomationName from './automationName.vue';
  import TeamEdition from './creation.vue';

  const AUTOMATION_COLUMNS = [{
    className: 'text-left',
    title: 'Source',
    value: (row) => row.source,
  }, {
    className: 'text-left',
    customCell: true,
    key: 'url',
    title: 'Url',
  }, {
    className: 'text-center',
    title: 'Name',
    value: (row) => row.name,
  }, {
    className: 'text-right',
    customCell: true,
    key: 'action',
  }];

  const MATCHES_COLUMNS = [{
    className: 'text-right',
    title: 'Hometeam',
    value: (row) => row.hometeam.label,
  }, {
    className: 'text-center',
    customCell: true,
    key: 'score',
    title: '',
  }, {
    className: 'text-left',
    title: 'Awayteam',
    value: (row) => row.awayteam.label,
  }];
  const MATCHES_PER_PAGE = 5;

  export default {
    data() {
      return {
        automationColumns: AUTOMATION_COLUMNS,
        automationExamples: AUTOMATION_EXAMPLES.teams,
        automationPagination: {
          items: false,
        },
        scrapped: {},
        sources: SOURCES,
        team: null,
        matchesColumns: MATCHES_COLUMNS,
        matchesPagination: {
          count: false,
          items: false,
          page: 0,
        },
        matchesPerPage: MATCHES_PER_PAGE
      };
    },
    async created() {
      this._loadTeam();
      this._loadMatches(0, true);
    },
    components: {
      AutomationName,
      TeamEdition,
    },
    computed: {
      cMatchesTitle() {
        return `Matches ${this.matchesPagination.count ? `(${this.matchesPagination.count})` : ''}`;
      },
    },
    methods: {
      async onTeamUpdated() {
        await this._loadTeam();
      },
      async saveAutomation(update) {
        return teamServices.updateTeam(this.team._id, { automation: update });
      },
      async scrapInfo(source) {
        const name = await teamServices.scrapInfo(this.team._id, source);
        if (name) {
          this.scrapped = {
            name,
            source,
          }
          this.$refs.automationNameModal.open();
        }
      },
      async updateMatchesPagination(page) {
        if (this.matchesPagination.page !== page) {
          this.matchesPagination.page = page;
          await this._loadMatches(page);
        }
      },
      async search() {
        await this._loadMatches(0, true);
      },
      async _loadTeam() {
        this.team = await teamServices.getTeam(this.$route.params.id);
        const items = [];
        for (let source in this.team.automation) {
          const value = this.team.automation[source];
          if (value.url) {
            items.push({
              source,
              url: value.url,
              name: value.name,
            });
          }
        }
        this.automationPagination.items = items;
      },
      async _loadMatches(page, withCount) {
        const res = await teamServices.getTeamMatches(this.$route.params.id, {
          page,
          limit: this.matchesPerPage,
          count: withCount,
        });
        if (res.status === 200) {
          this.matchesPagination.page = page;
          this.matchesPagination.items = res.matches;
          if (withCount) {
            this.matchesPagination.count = res.count;
          }
        }
      }
    }
  };
</script>

<style scoped>
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>
