<template>
  <div>
    <div class="form-section">
      <form
        class="input-group input-group-sm col-offset-2 col-8 col-sm-12"
        @submit.prevent="search()"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Search team by name"
          v-model="form.search"
        />
        <span class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </form>
    </div>
    <table-view
      :title="title"
      :columns="columns"
      :itemsPerPage="limit"
      withCount
      :pagination="pagination"
      @pageUpdate="updatePagination"
    >
      <template slot="name_cell" slot-scope="props">
        <router-link :to="{ name: 'teamDetail', params: { id: props.value._id } }">
          <img v-if="props.value.name" :src="`/img/teams/${props.value.name}_60.png`" height="33" width="33" style="margin-top: -10px; margin-bottom: -7px; margin-right:5px;"/>
          {{ props.value.name || props.value.label }}
        </router-link>
      </template>
      <template slot="automation_cell" slot-scope="props">
        <div
          v-for="source in sources"
          v-if="props.value.automation && props.value.automation[source] && props.value.automation[source].url"
          class="source-icon"
          :class="source"
        >
          <i class="fa fa-check" v-if="props.value.automation[source].name"></i>
        </div>
      </template>
      <template slot="action_cell" slot-scope="props">
        <a href @click.prevent="openDeletion(props.value)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </template>
      <template slot="actions">
        <button class="btn btn-primary" type="button" style="margin-top: -20px;" v-modal-trigger="'teamCreationModal'">
          <i class="fa fa-plus" aria-hidden="true"></i> New team
        </button>
      </template>
    </table-view>
    <modal ref="teamCreationModal" @ok="onCreation">
      <team-creation></team-creation>
    </modal>
  </div>
</template>

<script>
  import * as teamServices from '../../services/teams';
  import paginationMixin from '../../mixins/pagination';
  import TeamCreation from './creation.vue';
  import { SOURCES } from '../../common/common';

  const COLUMNS = [{
    className: 'text-left',
    customCell: true,
    key: 'name',
    title: 'Name',
  }, {
    className: 'text-left',
    customCell: true,
    key: 'automation',
    title: 'Platforms',
  }, {
    className: 'text-center',
    title: 'Sport',
    value: (row) => row.sport,
  }, {
    className: 'text-right',
    customCell: true,
    key: 'action',
    title: '',
  }];
  const LIMIT = 10;

  export default {
    mixins: [paginationMixin],
    data() {
      return {
        columns: COLUMNS,
        form: {
          search: '',
        },
        limit: LIMIT,
        pagination: {
          items: false,
          count: false,
          page: 0,
        },
        paginationItemName: 'teams',
        paginationLoader: teamServices.getTeams,
        sources: SOURCES,
      };
    },
    components: {
      TeamCreation,
    },
    computed: {
      title() {
        return `Team list${this.pagination.count ? ` (${this.pagination.count})` : ''}`;
      },
    },
  };
</script>

<style scoped>
  .form-section {
    width: 320px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  >>> .source-icon {
    position: relative;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-top: -5px;
    margin-bottom: -10px;
  }
  >>> .source-icon i {
    position: absolute;
    top: -3px;
    right: -3px;
    color: #5cb85c;
    font-size: 14px;
    font-weight: bold;
  }
  >>> .source-icon.lequipe {
    background-image: url(/img/logo-lequipefr.png);
    background-size: 100%;
  }
  >>> .source-icon.eurosport {
    background-image: url(/img/logo-eurosport.png);
    background-size: 100%;
  }
  >>> .source-icon.espn {
    background-image: url(/img/logo-espn.png);
    background-size: 100%;
  }
</style>
