<template>
  <modal-template title="" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <form>
        <div class="form-group row">
          <label class="col-4 col-form-label">Name</label>
          <div class="col-8">
            <input type="text" v-model="form.name" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label">Sport</label>
          <div class="col-8">
            <dropdown-select
              v-model="form.sport"
              btnClass="btn-outline-primary"
              :options="sportOptions"
              @onChange="onSportChange"
            ></dropdown-select>
          </div>
        </div>
        <div v-show="form.sport">
          <hr>
          <div class="form-group row" v-for="item in form.criterias">
            <label for="inputPassword" class="col-4 col-form-label">{{item.name}}</label>
            <div class="col-8">
              <input type="number" v-model.number="item.points" class="form-control text-input-1000">
            </div>
          </div>
        </div>
      </form>
    </template>
    <template slot="footer">
      <button type="button" class="btn btn-link" @click="discard">Cancel</button>
      <button type="button" class="btn btn-primary" @click="create">Create</button>
    </template>
  </modal-template>
</template>

<script>
  import * as ruleServices from '../../services/rules';
  import modalContentMixin from '../../mixins/modalContent';

  import { SPORTS, CRITERIAS } from '../../common/common';

  export default {
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
        form: {
          name: '',
          sport: null,
          criterias: [],
        },
        sportOptions: SPORTS,
      };
    },
    methods: {
      async create() {
        const res = await ruleServices.createRule(this.form);
        this.handleResponse(res);
      },
      onSportChange() {
        this.form.criterias = [];
        if (CRITERIAS[this.form.sport]) {
          this.form.criterias = CRITERIAS[this.form.sport].map(item => ({ name: item }));
        }
      },
    }
  }
</script>
