<template>
  <modal-template title="Delete rule" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <p>Are you sure you want to delete rule {{rule.name}} ?</p>
    </template>
    <template slot="footer">
      <button type="button" class="btn btn-link" @click="discard">Cancel</button>
      <button type="button" class="btn btn-danger" @click="deleteRule">Delete</button>
    </template>
  </modal-template>
</template>

<script>
  import * as ruleServices from '../../services/rules';
  import modalContentMixin from '../../mixins/modalContent';

  export default {
    props: ['rule'],
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
      };
    },
    methods: {
      async deleteRule() {
        const res = await ruleServices.deleteRule(this.rule._id);
        this.handleResponse(res);
      },
    },
  };
</script>
