<template>
  <div>
    <div class="form-section">
      <form
        class="input-group input-group-sm col-offset-2 col-8 col-sm-12"
        @submit.prevent="search()"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Search rule by name"
          v-model="form.search"
        />
        <span class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </form>
    </div>
    <table-view
      :title="title"
      :columns="columns"
      :itemsPerPage="limit"
      withCount
      :pagination="pagination"
      @pageUpdate="updatePagination"
    >
      <template slot="action_cell" slot-scope="props">
        <a href @click.prevent="openDeletion(props.value)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </template>
      <template slot="actions">
        <button class="btn btn-primary" type="button" style="margin-top: -20px;" v-modal-trigger="'ruleCreationModal'">
          <i class="fa fa-plus" aria-hidden="true"></i> New rule
        </button>
      </template>
    </table-view>
    <modal ref="ruleCreationModal" @ok="onCreation">
      <rule-creation></rule-creation>
    </modal>
    <modal ref="ruleDeletionModal" @ok="onDeletion">
      <rule-deletion :rule="ruleToDelete"></rule-deletion>
    </modal>
  </div>
</template>

<script>
  import * as ruleServices from '../../services/rules';
  import paginationMixin from '../../mixins/pagination';

  import RuleCreation from './creation.vue';
  import RuleDeletion from './deletion.vue';

  const COLUMNS = [{
    className: 'text-left',
    title: 'Name',
    value: row => row.name,
  }, {
    className: 'text-center',
    title: 'Sport',
    value: row => row.sport,
  }, {
    className: 'text-left',
    title: 'Criterias',
    value: row => row.criterias.map(c => `${c.name} : ${c.points}`).join(' | '),
  }, {
    className: 'text-right',
    customCell: true,
    key: 'action',
  }];
  const LIMIT = 10;

  export default {
    mixins: [paginationMixin],
    data() {
      return {
        columns: COLUMNS,
        form: {
          search: '',
        },
        limit: LIMIT,
        pagination: {
          items: false,
          count: false,
          page: 0,
        },
        paginationItemName: 'rules',
        paginationLoader: ruleServices.getRules,
        ruleToDelete: null,
      };
    },
    components: {
      RuleDeletion,
      RuleCreation,
    },
    computed: {
      title() {
        return `Rule list${this.pagination.count ? ` (${this.pagination.count})` : ''}`;
      },
    },
    methods: {
      openDeletion(rule) {
        this.ruleToDelete = rule;
        this.$refs.ruleDeletionModal.open();
      },
    },
  };
</script>

<style scoped>
  .form-section {
    width: 320px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
