<template>
  <div class="col-12">
    <h3>Rule <small>{{rule.name}}</small></h3>
    <center>
      <table class="table table-striped">
        <thead>
          <th>Criteria</th>
          <th>Points</th>
        </thead>
        <tbody>
          <tr v-for="criteria in rule.criterias">
            <td>{{criteria.name}}</td>
            <td>{{criteria.points}}</td>
          </tr>
        </tbody>
      </table>
    </center>
  </div>
</template>

<script>
  export default {
    props: ['rule'],
    data() {
      return {};
    },
  };
</script>
