doctype
html(ng-app="scoragora" ng-controller="Ctrl")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="description", content="Scoragora est la meilleure plateforme de concours de pronostics entre amis et collègues pour les grands événements sportifs. Elle est gratuite, sans publicité, simple et ergonomique")
    meta(name="keywords", content="coupe du monde, concours de pronostics, Bresil 2014, RWC 2015, football, rugby")
    //- Open Graph data
    meta(property="og:image", content="http://www.scoragora.com/img/stadium.jpg")
    meta(property="og:image", content="http://www.scoragora.com/img/logo_scoragora.png")
    meta(property="og:title", content="La meilleure plateforme de concours de pronostics")
    meta(property="og:description", content="Scoragora est la meilleure plateforme de concours de pronostics entre amis et collègues pour les grands événements sportifs. Elle est gratuite, sans publicité, simple et ergonomique")
    meta(property="og:site_name", content="Scoragora")
    meta(property="og:url", content="http://www.scoragora.com")
    meta(property="og:type", content="website")
    meta(property="fb:app_id", content="218368321698173")
    meta(property="fb:admins", content="593485782")
    meta(property="fb:admins", content="1016845051")
    //- Schema.org markup for Google+
    meta(itemprop="name", content="Scoragora")
    meta(itemprop="description", content="Scoragora est la meilleure plateforme de concours de pronostics entre amis et collègues pour les grands événements sportifs. Elle est gratuite, sans publicité, simple et ergonomique")
    meta(itemprop="image", content="/img/RWC_2015.jpg.jpg")
    //- Twitter Card data
    meta(name="twitter:card", content="Scoragora est la meilleure plateforme de concours de pronostics entre amis et collègues pour les grands événements sportifs. Elle est gratuite, sans publicité, simple et ergonomique")
    meta(name="twitter:site", content="Scoragora")
    meta(name="twitter:title", content="Scoragora")
    meta(name="twitter:description", content="Scoragora est la meilleure plateforme de concours de pronostics entre amis et collègues pour les grands événements sportifs. Elle est gratuite, sans publicité, simple et ergonomique")
    meta(name="twitter:creator", content="@scoragora")
    meta(name="twitter:image", content="/img/RWC_2015.jpg.jpg")
    link(rel="icon", href="/img/logo_scoragora.png")
    | <!--[if !IE]><!-->
    | <title ng-bind="page.title"></title>
    link(href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900", rel="stylesheet", type="text/css")
    link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/css/index_less.css")
    link(rel="stylesheet", type="text/css", href="/css/index.css")
    link(rel="stylesheet", type="text/css", href="/css/v1.concat.new.css")
    link(rel="stylesheet", type="text/css", href="/css/revamp.css")
    | <!--><![endif]-->
    | <!--[if IE]>
    | <title>Scoragora</title>
    link(rel="stylesheet", type="text/css", href="/css/ie.css")
    | <![endif]-->
  body
    | <!--[if !IE]><!-->
    div(id="routing" api="#{routing.api}" google-client="#{google.client}" facebook-client="#{facebook.client}")
    | <div id="index-ui-view" ui-view></div>

    //- env = "production"
    if env == "production"
      //- grunt compiles and concats all the js in one file
      //-<!-- build:js test/compiled/compiled.min.js -->
      script(type="text/javascript" src="/js/min.js")
      //-<!-- endbuild -->

    else
      //- keep seperate unminified files to ease debug
      script(type="text/javascript" src="/js/lib.js")

      script(type="text/javascript" src="/js/app.js")
      script(type="text/javascript" src="/js/app.filters.js")

      script(type="text/javascript" src="/js/factories/app.factories.js")

      script(type="text/javascript" src="/js/directives/app.directives.js")
      script(type="text/javascript" src="/js/directives/score.js")
      script(type="text/javascript" src="/js/directives/charts.js")

      script(type="text/javascript" src="/js/controllers/app.controllers.js")
      script(type="text/javascript" src="/js/controllers/league.js")
      script(type="text/javascript" src="/js/controllers/league/manage.js")
      script(type="text/javascript" src="/js/controllers/league/stats.js")
      script(type="text/javascript" src="/js/controllers/login.js")
      script(type="text/javascript" src="/js/controllers/forecast.js")
      script(type="text/javascript" src="/js/controllers/user.js")
      script(type="text/javascript" src="/js/controllers/user/leagues.js")

      script(type="text/javascript" src="/js/services/app.services.js")
      script(type="text/javascript" src="/js/services/league.js")
      script(type="text/javascript" src="/js/services/login.js")
      script(type="text/javascript" src="/js/services/user.js")
      script(type="text/javascript" src="/js/services/competition.js")
      script(type="text/javascript" src="/js/services/forecast.js")
      script(type="text/javascript" src="/js/services/match.js")

    //TODO: include this in libs
    script(type="text/javascript" src="/js/angular-stripe-checkout.js")

    script(type="text/javascript" src="#{routing.api}/socket.io/socket.io.js")
    script(type="text/javascript" src="/js/ZeroClipboard.min.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48631215-1', 'auto');

    // Load Facebook SDK for JavaScript
    div(id="fb-root")
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=218368321698173";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    // for g+ +1 button
    script(type="text/javascript" src="https://apis.google.com/js/platform.js" async defer)
    | <!--><![endif]-->

    | <!--[if IE]>
    | <p class="browsehappy">Sorry we don't support IE. Please <a href="http://browsehappy.com/">switch browsers</a> to enjoy the Scoragora experience.</p>
    | <![endif]-->
