.browsehappy {
	padding: 15px;
	border-radius: 6px;
	background: #eee;
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
	color: #444;
}

a {
  	background-color: transparent;
  	color:#428bca;
	text-decoration:none;
}

a:active,
a:hover {
  	outline: 0;
}

a:hover, a:focus {
	color:#2a6496;
	text-decoration:underline
}

a:visited{
	text-decoration:underline
}