.label.label-scoragora {
  background: #22b68c;
  color: white;
}
/* common */
.rugby-forecast-input {
  min-width: 160px;
  margin: auto;
  padding-top: 2px;
  /** Colors */
}
.rugby-forecast-input button {
  margin: 1px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  background: none;
}
.rugby-forecast-input button:focus {
  outline: none;
}
.rugby-forecast-input .value3 {
  border-color: #33b83c;
}
.rugby-forecast-input .value3.selected {
  background: #33b83c;
}
.rugby-forecast-input button.value2 {
  border-color: #78d97e;
}
.rugby-forecast-input .value2.selected {
  background: #78d97e;
}
.rugby-forecast-input button.value1 {
  border-color: #baecbd;
}
.rugby-forecast-input button.value1.selected {
  background: #baecbd;
}
.rugby-forecast-input button.value0 {
  border-color: #ddd;
}
.rugby-forecast-input button.value0.selected {
  background: #ddd;
}
.rugby-forecast-input button.value-1 {
  border-color: #fcafa3;
}
.rugby-forecast-input button.value-1.selected {
  background: #fcafa3;
}
.rugby-forecast-input button.value-2 {
  border-color: #fa7561;
}
.rugby-forecast-input button.value-2.selected {
  background: #fa7561;
}
.rugby-forecast-input button.value-3 {
  border-color: #f82d0e;
}
.rugby-forecast-input button.value-3.selected {
  background: #f82d0e;
}
.rugby-forecast {
  color: #d5d5d5;
  height: 18px;
}
.rugby-forecast div {
  display: inline-block;
  position: relative;
  top: -2px;
}
.rugby-forecast i {
  font-size: 12px;
  margin-left: 1px;
  margin-right: 1px;
}
.rugby-forecast .selected {
  color: #22b68c;
}
.rugby-forecast .highlighted {
  top: 0px;
}
.rugby-forecast .highlighted i {
  font-size: 18px;
  color: #22b68c;
  margin-left: 0px;
  margin-right: 0px;
}
.sc-top-banner {
  margin-bottom: -15px;
}
.sc-page-header a.btn {
  margin-top: -4px;
}
.btn.sc-btn,
a.btn.sc-btn {
  color: #fff;
  background: #22b68c;
  border-color: #1a8b6b;
  outline: 0;
}
.btn.sc-btn:hover,
a.btn.sc-btn:hover {
  background: #1a8b6b;
  border-color: #12604a;
}
.btn.sc-btn.active,
a.btn.sc-btn.active {
  color: #fff;
  background: #1a8b6b;
  border-color: #12604a;
  outline: 0;
}
.btn-group.sc-btn-group .btn.active {
  color: #fff;
  background: #22b68c;
  border-color: #1a8b6b;
  outline: 0;
}
svg[sc-multi-line] .axis path,
svg[sc-multi-line] .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg[sc-multi-line] .x.axis path {
  display: none;
}
svg[sc-multi-line] .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
svg[sc-multi-line] .grid .tick {
  stroke: #eee;
  opacity: 0.7;
}
svg[sc-multi-line] .grid path {
  stroke-width: 0;
}
smart-saved-input .form-group {
  margin-bottom: 0px;
}
.pagination-panel {
  margin-left: 10px;
  margin-right: 10px;
}
.pagination-goto .input-group {
  margin-left: 10px;
  margin-top: -50px;
  max-width: 110px;
}
@media (max-width: 768px) {
  .pagination-goto {
    position: relative;
    width: 100%;
    min-height: 50px;
    height: 50px;
    margin-top: 50px;
  }
  .pagination-goto > div {
    position: relative;
    width: 100%;
    background: blue;
    margin-left: 0px;
  }
}
/* screens */
.sc-forecast-page .alert {
  margin-bottom: 15px;
}
.sc-forecast-page .sc-stats-section {
  background: #eee;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}
.sc-forecast-page .sc-stats-section .sc-header {
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #d5d5d5;
  color: #959595;
}
.sc-forecast-page .sc-stats-section .sc-body .sc-huge {
  font-size: 70px;
  color: #22b68c;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.sc-forecast-page .sc-stats-section .sc-body .sc-figure {
  text-align: right;
  font-size: 32px;
  padding-right: 10px;
  width: 3em;
  color: #22b68c;
  font-weight: bold;
}
.sc-forecast-page .sc-stats-section .sc-body .sc-figure .sc-small {
  font-weight: 300;
  font-size: 15px;
}
.sc-forecast-page .sc-stats-section .sc-body .sc-legend {
  text-align: left;
  font-size: 15px;
  color: #aeaeae;
}
@media screen and (max-width: 768px) {
  .sc-forecast-page .sc-match-line .date {
    text-align: left;
    font-size: 12px;
    padding-top: 9px;
  }
  .sc-forecast-page .sc-match-line .date:before {
    content: attr(date-short);
  }
  .sc-forecast-page .sc-match-line .hometeam {
    padding-left: 0px;
    padding-right: 0px;
  }
  .sc-forecast-page .sc-match-line .awayteam {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .sc-forecast-page .sc-match-line .date {
    text-align: left;
    font-size: 16px;
    padding-top: 7px;
  }
  .sc-forecast-page .sc-match-line .date:before {
    content: attr(date);
  }
}
.sc-forecast-page .sc-match-line .hometeam {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .sc-forecast-page .sc-match-line .hometeam .team-name:before {
    font-size: 12px;
    content: attr(team-name-short);
  }
}
@media screen and (min-width: 768px) {
  .sc-forecast-page .sc-match-line .hometeam .team-name:before {
    content: attr(team-name);
  }
  .sc-forecast-page .sc-match-line .hometeam .team-flag {
    margin-left: 2px;
  }
}
.sc-forecast-page .sc-match-line .score-rugby {
  text-align: center;
  width: 150px;
  padding-top: 0px;
  padding-bottom: 1px;
}
.sc-forecast-page .sc-match-line .score-rugby .match-forecast .result {
  font-size: 18px;
  margin-top: -1px;
  margin-bottom: -1px;
}
.sc-forecast-page .sc-match-line .score-rugby .match-forecast .result span {
  background: #22b68c;
  color: #fff;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
}
.sc-forecast-page .sc-match-line .score-rugby .rugby-forecast-input {
  padding-top: 9px;
}
.sc-forecast-page .sc-match-line .score-football {
  text-align: center;
  width: 95px;
  padding-left: 1px;
  padding-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.sc-forecast-page .sc-match-line .score-football .match-forecast {
  margin-top: 0px;
  margin-bottom: 0px;
}
.sc-forecast-page .sc-match-line .score-football .match-forecast .forecast {
  font-size: 12px;
  margin-top: -7px;
}
.sc-forecast-page .sc-match-line .score-football .match-forecast .result {
  font-size: 18px;
  margin-top: -3px;
  margin-bottom: -5px;
}
.sc-forecast-page .sc-match-line .score-football .match-forecast .result span {
  background: #22b68c;
  color: #fff;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
}
.sc-forecast-page .sc-match-line .score-football .edit-match-score {
  margin-top: -1px;
}
.sc-forecast-page .sc-match-line .score-football .edit-match-score input {
  width: 40px;
  border: 1px solid #bbbbbb;
  text-align: center;
  outline: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}
.sc-forecast-page .sc-match-line .score-football .edit-match-score input.home {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-right: -3px;
}
.sc-forecast-page .sc-match-line .score-football .edit-match-score input.away {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: -3px;
}
.sc-forecast-page .sc-match-line .score-football .edit-match-score span {
  background: #eee;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}
@media screen and (max-width: 768px) {
  .sc-forecast-page .sc-match-line .score-football .edit-match-score input {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .sc-forecast-page .sc-match-line .score-football .edit-match-score input.home {
    margin-right: -2px;
  }
  .sc-forecast-page .sc-match-line .score-football .edit-match-score input.away {
    margin-left: -2px;
  }
  .sc-forecast-page .sc-match-line .score-football .edit-match-score span {
    padding-bottom: 6px;
    padding-top: 6px;
  }
}
.sc-forecast-page .sc-match-line .score-football .edit-match-score span.saved {
  background: #32d9aa;
}
.sc-forecast-page .sc-match-line .awayteam {
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .sc-forecast-page .sc-match-line .awayteam .team-name:before {
    font-size: 12px;
    content: attr(team-name-short);
  }
}
@media screen and (min-width: 768px) {
  .sc-forecast-page .sc-match-line .awayteam .team-name:before {
    content: attr(team-name);
  }
  .sc-forecast-page .sc-match-line .awayteam .team-flag {
    margin-right: 2px;
  }
}
.sc-join-page .sc-join-section {
  margin-top: 35px;
}
.sc-join-page .sc-member-section {
  margin-top: 35px;
}
.sc-join-page .sc-exceed-section {
  margin-top: 35px;
}
.sc-join-page .sc-not-found-section {
  margin-top: 35px;
}
.sc-home-page .sc-presentation-section {
  margin-top: 40px;
}
.sc-league-page .sc-not-found-alert,
.sc-league-page .sc-not-member-alert {
  margin-top: 25px;
}
.sc-league-page .sc-competition-section {
  background: #eee;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .sc-league-page .sc-competition-section .sc-competition-name {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .sc-league-page .sc-competition-section .sc-competition-progress {
    font-size: 40px;
    color: #22b68c;
  }
}
.sc-league-page .sc-chat-section .sc-message-day-header {
  text-align: center;
}
.sc-league-page .sc-chat-section .sc-message-day-header > span {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  color: #fff;
  background: #bbbbbb;
}
.sc-league-page .sc-chat-section .sc-message-time {
  color: #aeaeae;
  font-size: 10px;
  margin-top: 3px;
}
.sc-league-page .sc-ranking-section .sc-ranking-header {
  padding: 8px;
}
.sc-matches-section .hometeam {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
}
@media screen and (max-width: 400px) {
  .sc-matches-section .hometeam .team-name:before {
    content: attr(team-name-short);
  }
}
@media screen and (min-width: 400px) {
  .sc-matches-section .hometeam .team-name:before {
    content: attr(team-name);
  }
}
.sc-matches-section .hometeam .team-flag {
  margin-left: 2px;
}
.sc-matches-section .score {
  padding-top: 4px;
  padding-bottom: 2px;
  text-align: center;
  max-width: 95px;
  vertical-align: middle;
  width: 80px;
  font-size: 20px;
}
.sc-matches-section .awayteam {
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
}
@media screen and (max-width: 400px) {
  .sc-matches-section .awayteam .team-name:before {
    content: attr(team-name-short);
  }
}
@media screen and (min-width: 400px) {
  .sc-matches-section .awayteam .team-name:before {
    content: attr(team-name);
  }
}
.sc-matches-section .awayteam .team-flag {
  margin-right: 2px;
}
.sc-league-stats-page .sc-not-found-alert,
.sc-league-stats-page .sc-not-member-alert {
  margin-top: 25px;
}
.sc-league-stats-page .sc-evolution-section .sc-members-panel {
  margin-left: -30px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 390px;
}
.sc-league-stats-page .sc-evolution-section .sc-members-panel .sc-member {
  margin-right: -20px;
}
.sc-league-stats-page .sc-evolution-section .sc-members-panel .sc-member img:hover {
  cursor: pointer;
}
.sc-league-stats-page .sc-evolution-section .sc-members-panel .sc-member span.legend {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #2a6496;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: transparent;
  border-radius: 10px;
}
.sc-league-stats-page .sc-evolution-section .sc-members-panel .sc-member span.legend:hover {
  cursor: pointer;
  text-decoration: underline;
}
.sc-league-stats-page .sc-evolution-section .sc-members-panel .sc-member span.legend.checked {
  color: #fff;
}
.sc-league-manage-page .flags-section .flag-list span.label {
  margin-right: 2px;
}
.sc-league-manage-page .members-section .flag-column {
  max-width: 40px;
}
.sc-rules-page .sc-bet-section table.sc-bonus-table {
  border-radius: 4px;
  background: #eee;
  padding: 10px;
  width: 100%;
  border-collapse: separate;
}
.sc-rules-page .sc-bet-section table.sc-bonus-table tr td {
  padding: 3px;
}
.sc-rules-page .sc-bet-section table.sc-bonus-table tr td.sc-bonus {
  width: 25%;
  min-width: 180px;
}
.sc-rules-page .sc-bet-section table.sc-bonus-table tr td.sc-bonus-definition {
  color: #959595;
}
.sc-user-leagues-page .leagues-panel .switch-panel {
  margin-top: 10px;
}
.sc-user-leagues-page .leagues-panel .league-list-panel {
  margin-top: 10px;
}
.sc-user-leagues-page .leagues-panel .no-current-league-panel {
  margin-top: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
}
.sc-user-leagues-page .leagues-panel .no-current-league-panel .btn {
  margin-top: 20px;
}
