
#sub_slogan {
	font-weight: 300;
}	

.concept{
	font-weight: 400;
}	

.giveItATry {
	margin-top: 2cm;
}

@media screen and (max-width : 768px) {
	#slogan {
		font-size: 30px;
	}
	#sub_slogan {
		font-size: 20px;
	}
	
	#presentation_action {
		margin-top: 30px;
		margin-bottom: 40px;
	}
	
	#main_logo {
		margin: auto;
		background: url('/img/scoragora_s.png');
		background-size: 120px 120px;
		height: 120px;
		width: 120px;
	}
}

@media screen and (max-width : 767px) {
	#sub_slogan {
		font-weight: 400;
	}
}

@media screen and (min-width : 768px) {
	#slogan {
		font-size: 60px;
	}
	
	#sub_slogan {
		font-size: 40px;
	}
	
	#presentation_action {
		margin-top: 30px;
		margin-bottom: 100px;
	}
	
	#main_logo {
		margin: auto;
		margin-top: 50px;
		background: url('/img/scoragora_full_dia.png');
	}
}

@media screen and (min-width : 768px) and (max-width: 991px){
	#main_logo {
		background-size: 630px 70px;
		height: 70px;
		width: 630px;
	}
}

@media screen and (min-width : 992px) {
	#main_logo {
		background-size: 900px 100px;
		width: 900px;
		height: 100px;
	}
}

#presentation_action {
	margin-top: 30px;
}

#presentation_section {
	margin-top: -20px;
	padding-top: 25px;
	/*background: #7fe7c1;*/
	/**background: #21c78a;*/
	/*background-image: url('/img/random_background/1.jpg');*/
	/*background-size: 100%;*/
	border-bottom: 4px solid rgba(255,255,255,0.7);
}

#social_section {
	
}

#slogan {
	color: #ffffff;
}

.btn-brazuca {
	border-width: 2px;
	border-color: #21c78a;
	color: #21c78a;
	background: #7fe7c1;
}

.btn-brazuca:hover {
	color: #ffffff; /*#7fe7c1;*/
	background: #21c78a; 
}


.feature-title {
	padding-left: 5px;
}

.bestApp{
	padding-top: 2cm;
}



/*some CSS for animation while leaguename check for availability*/
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 1s linear infinite;
}

.inside-input{	
  float: right;
  position: relative;
  top: -24px;
  right: 10px;
}

/*some icon styling*/	
.icon-success {
    color: #5CB85C;
}
.icon-danger {
    color: #d9534f;
}