body {
  font-family: 'Lato', arial, sans-serif;
}
.section {
  padding: 8rem 0 9rem;
  text-align: center;
}

.section-heading {
	margin-bottom: 2em;
}

.catchphrase {
  background-image: url('/img/Maracana-Stadium3.jpg');
  background-size: cover;
  color: #fff;
}

.green-bg {
  /*background-image: url('/img/bg-green.jpg');*/
  background-color: #1fa67a;
  /*background-size: cover;*/
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.has-pattern {
  background-image: url('/img/pattern-1.png');
  background-repeat: repeat;
  background-position: left top;
}

#sub_slogan{
  color: #fff;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.concept-item {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  font-size: 1.2em;
}

.sc-presentation-section {
  margin-bottom: 6em;
}

.moto {
  font-style: italic;
  padding-top: 1em;
}

.btn-brazuca {
  background: #21c78a;
  color: #fff;
}

.btn-brazuca:hover {
  background: #7fe7c1;
  color: #fff;
}

.btn-brazuca.active {
  background: #21c78a;
  color: #fff;
}

.btn-call-to-action {
  text-transform: uppercase;
  text-align: center;
  line-height: 2em;
  font-size: 2em;
  padding: 0.2em 0.2em;
}

#presentation_action {
  margin-top: 6em;
  margin-bottom: 6em;
}

ol.labels-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/

    margin: 0;
    margin-left: 1em;
    padding: 0;

    counter-reset: li-counter;
}
ol.labels-list > li{
    position: relative;
    margin-bottom: 1.5em;
    padding: 1.5em;
    background-color: #eaeaea;
}
ol.labels-list > li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;

    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: #464646;
    background-color: #d0d0d0;

    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;

    content: counter(li-counter);
    counter-increment: li-counter;
}


/* ======= icons in circles ======= */

.features .icon {
  position: relative;
  width: 90px;
  height: 90px;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: table;
  margin: 0 auto;
  -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
  -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
  transition: transform ease-out 0.2s, background 0.3s;
}
.features .icon:hover {
  background: #fff;
  color: #fff;
}
.features .icon:hover .glyphicon {
  color: #56bc94;
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  -o-transform: scale(0.93);
}
.features .icon .glyphicon {
  color: #fff;
  font-size: 48px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.features .content {
	padding: 10px 0px 50px 0px;
}

/* ======= end of icons in circles ======= */