<template>
  <quill-editor
    v-model="content"
    :options="editorOption"
  >
  </quill-editor>
</template>

<script>
  import { quillEditor } from 'vue-quill-editor';

  import 'quill/dist/quill.core.css';
  import 'quill/dist/quill.snow.css';
  import 'quill/dist/quill.bubble.css';


  export default {
    data() {
      return {
        content: '',
        editorOption: {
          theme: 'snow',
          placeholder: 'Type your mail ...',
        },
      };
    },
    components: {
      quillEditor,
    },
  };
</script>
