<template>
  <div v-if="league && users">
    <page-header :title="`${league.name}'s detail`" :actions="headerActions">
      <template slot="actions">
        <h4 style="margin-top: 0px;">
          <router-link :to="{ name: 'leagueJson', params: { id: league._id } }">json</router-link>
        </h4>
      </template>
    </page-header>
    <div class="row">
    	<div class="col-sm-4">
        <form class="info-section">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Date :</label>
            <div class="col-sm-8">
              <p class="form-control-plaintext">{{ league.createdAt | amDateFormat('DD/MM/YYYY, HH:mm')}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Status :</label>
            <div class="col-sm-8">
              <p class="form-control-plaintext">
          	     <span>{{league.premium && league.premium.validated ? 'Premium' : 'Standard'}} </span>
          	     <button class="btn btn-link" type="button" v-modal-trigger="'statusEditionModal'">
          		     <i class="fa fa-pencil"></i>
          	     </button>
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Url :</label>
            <div class="col-sm-8">
              <p class="form-control-plaintext">{{league.url}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Sponsor :</label>
            <div class="col-sm-8">
              <p class="form-control-plaintext">
          	     <span>{{league.sponsor}} </span>
          	     <button class="btn btn-link" type="button" v-modal-trigger="'sponsorEditionModal'">
          		     <i class="fa fa-pencil"></i>
          	     </button>
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">Captains ({{captainPagination.items.length}})</div>
          <table-view
            :columns="captainColumns"
            :pagination="captainPagination"
          >
            <template slot="name_cell" slot-scope="props">
              <user-pseudo-link :user="props.value"></user-pseudo-link>
            </template>
            <template slot="email_cell" slot-scope="props">
              <user-email-list :user="props.value"></user-email-list>
            </template>
          </table-view>
        </div>
      </div>
      <div class="col-sm-12 members-section">
        <div class="card">
          <div class="card-header">Members ({{memberPagination.items.length}})</div>
          <table-view
            :columns="cMemberColumns"
            :pagination="memberPagination"
          >
            <template slot="name_cell" slot-scope="props">
              <user-pseudo-link :user="props.value.user"></user-pseudo-link>
            </template>
            <template slot="email_cell" slot-scope="props">
              <user-email-list :user="props.value.user"></user-email-list>
            </template>
            <template slot="status_cell" slot-scope="props">
              <span v-if="props.value.user.status === 'banned'" class="text-danger" >
                <i class="fa fa-ban"></i>
              </span>
              <span v-else class="text-success" >
                <i class="fa fa-check"></i>
              </span>
            </template>
          </table-view>
        </div>
      </div>
    </div>
    <modal ref="statusEditionModal" @ok="_loadLeague">
      <status-edition :league="league"></status-edition>
    </modal>
    <modal ref="sponsorEditionModal" @ok="_loadLeague">
      <sponsor-edition :league="league"></sponsor-edition>
    </modal>
  </div>
</template>

<script>
  import moment from 'moment';
  import * as leagueServices from '../../services/leagues';
  import * as userServices from '../../services/users';

  import SponsorEdition from './sponsorEdition.vue';
  import StatusEdition from './statusEdition.vue';

  const CAPTAIN_COLUMNS = [{
    className: 'user-pseudo text-left',
    customCell: true,
    key: 'name',
    title: 'Name',
  }, {
    className: 'text-left',
    customCell: true,
    key: 'email',
    title: 'Email',
  }];

  const MEMBER_COLUMNS = [{
    className: 'text-left',
    customCell: true,
    key: 'name',
    title: 'Name',
  }, {
    className: 'text-left',
    customCell: true,
    key: 'email',
    title: 'Email',
  }, {
    className: 'text-center',
    title: 'Points',
    value: row => row.points,
  }];

  const PREMIUM_MEMBERS_COLUMNS = [{
    className: 'text-center',
    title: 'Flag',
    value: row => row.flag,
  }, {
    className: 'text-center',
    customCell: true,
    key: 'status',
    title: 'Status',
  }];

  export default {
    data() {
      return {
        captainColumns: CAPTAIN_COLUMNS,
        captainPagination: {
          items: false,
        },
        headerActions: [],
        league: false,
        memberColumns: MEMBER_COLUMNS,
        memberPagination: {
          items: false,
        },
        showStatusEdition: false,
        users: false,
      };
    },
    components: {
      SponsorEdition,
      StatusEdition,
    },
    async created() {
      await Promise.all([
        this._loadLeague(),
        this._loadLeagueUsers(),
      ]);
      const userMap = {};
      this.users.forEach((user) => {
        userMap[user._id] = user;
      });
      this.memberPagination.items = this.league.members.map((member) => {
        return Object.assign({}, member, { user: userMap[member.user] });
      });
      this.captainPagination.items = this.league.captains.reduce((acc, captain) => {
        const user = userMap[captain];
        if (user) {
          acc.push(user);
        }
        return acc;
      }, []);
    },
    computed: {
      cMemberColumns() {
        if (this.league && this.league.premium && this.league.premium.validated) {
          return [...this.memberColumns, ...PREMIUM_MEMBERS_COLUMNS];
        }
        return this.memberColumns;
      }
    },
    methods: {
      async _loadLeague() {
        this.league = await leagueServices.getLeague(this.$route.params.id);
      },
      async _loadLeagueUsers() {
        this.users = await leagueServices.getLeagueUsers(this.$route.params.id, { limit: 1000 });
      },
    },
  };
</script>

<style scoped>
  .info-section .form-group {
    text-align: right;
  }
  .info-section .form-group div {
    text-align: left;
  }
  .members-section {
    margin-top: 15px;
  }
</style>
