<template>
  <div>
    <div class="form-section">
      <form
        class="input-group input-group-sm col-xs-offset-2 col-xs-8 col-sm-12"
        v-on:submit.prevent="search()"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Search league by name"
          v-model="form.search"
        />
        <span class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </form>
    </div>
    <table-view
      :title="title"
      :className="'table-colored table-condensed'"
      :columns="columns"
      :itemsPerPage="limit"
      withCount
      :pagination="pagination"
      @pageUpdate="updatePagination"
    >
      <template slot="name_cell" slot-scope="props">
        <router-link :to="{ name: 'leagueDetail', params: { id: props.value._id } }">{{props.value.name}}</router-link>
      </template>
    </table-view>
  </div>
</template>

<script>
  import * as leagueServices from '../../services/leagues';

  const COLUMNS = [{
    className: 'text-left',
    customCell: true,
    key: 'name',
    title: 'Name',
  }, {
    className: 'text-center',
    title: 'Members',
    value: row => row.members && row.members.length || 0,
  }, {
    className: 'text-center',
    title: 'Competition',
    value: row => row.competition,
  }, {
    className: 'text-center hidden-sm',
    title: 'Sponsor',
    value: row => row.sponsor,
  }];
  const LIMIT = 5;

  export default {
    data() {
      return {
        columns: COLUMNS,
        form: {
          search: '',
        },
        limit: LIMIT,
        pagination: {
          items: false,
          count: false,
          page: 0,
        },
      };
    },
    computed: {
      title() {
        return `League list${this.pagination.count ? ` (${this.pagination.count})` : ''}`;
      },
    },
    methods: {
      async updatePagination(page) {
        if (this.pagination.page !== page) {
          this.pagination.page = page;
          await this._loadLeagues(page);
        }
      },
      async search() {
        await this._loadLeagues(0, true);
      },
      async _loadLeagues(page, withCount) {
        const res = await leagueServices.getLeagues({
          search: this.form.search,
          page: page,
          limit: this.limit,
          count: withCount,
        });
        if (res.status === 200) {
          this.pagination.page = page;
          this.pagination.items = res.leagues;
          if (withCount) {
            this.pagination.count = res.count;
          }
        }
      }
    },
    async created() {
      await this._loadLeagues(0, true);
    }
  }
</script>

<style scoped>
  .form-section {
    width: 320px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
