<template>
  <modal-template title="Edit Sponsor" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Sponsor</label>
          <div class="col-sm-9">
            <input type="text" v-model="form.sponsor" placeholder="Sponsor" class="form-control">
          </div>
        </div>
      </form>
    </template>
    <template slot="footer">
      <button class="btn btn-link" type="button" @click="discard">Cancel</button>
      <button class="btn btn-primary" type="button" @click="save">Save Sponsor</button>
    </template>
  </modal-template>
</template>

<script>
  import notifier from '../../common/Notifier';
  import * as leagueServices from '../../services/leagues';
  import modalContentMixin from '../../mixins/modalContent';

  export default {
    props: ['league'],
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
        form: {
          sponsor: this.league.sponsor || ''
        },
      };
    },
    methods: {
      async save() {
        const res = await leagueServices.updateLeague(this.league._id, { sponsor: this.form.sponsor });
        this.handleResponse(res);
      },
    },
  };
</script>
