<template>
  <modal-template title="Edit Status" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Status</label>
          <div class="col-sm-9">
              <b-form-radio-group buttons button-variant="outline-secondary" v-model="form.status">
                <b-form-radio value="standard">Standard</b-form-radio>
                <b-form-radio value="premium">Premium</b-form-radio>
              </b-form-radio-group>
          </div>
        </div>
      </form>
    </template>
    <template slot="footer">
      <button class="btn btn-link" type="button" @click="discard">Cancel</button>
      <button class="btn btn-primary" type="button" @click="save">Save Status</button>
    </template>
  </modal-template>
</template>

<script>
  import notifier from '../../common/Notifier';
  import * as leagueServices from '../../services/leagues';
  import modalContentMixin from '../../mixins/modalContent';

  export default {
    props: ['league'],
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
        form: {
          status: this.league.premium && this.league.premium.validated ? 'premium' : 'standard',
        },
      };
    },
    methods: {
      async save() {
        const res = await leagueServices.updateLeague(this.league._id, { status: this.form.status });
        this.handleResponse(res);
      },
    },
  };
</script>
