<template>
  <svg width="100%" height="100%"></svg>
</template>

<script>
  import { drawBarChart } from './common';

  export default {
    props: ['data', 'verticalLabel'],
    mounted() {
      drawBarChart(this.$el, this.data, {
        height: this.$el.clientHeight,
        width: this.$el.clientWidth,
        verticalLabel: this.verticalLabel,
      });
    },
  };
</script>
