<template>
  <svg width="100%" height="100%"></svg>
</template>

<script>
  import { drawGroupedBarChart } from './common';

  export default {
    props: ['data', 'verticalLabel'],
    mounted() {
      drawGroupedBarChart(this.$el, this.data, {
        position: this.$el.getBoundingClientRect(),
        height: this.$el.clientWidth / 2,
        width: this.$el.clientWidth,
        verticalLabel: this.verticalLabel,
      });
    },
  };
</script>

<style scoped>
  svg {
    background: #fff;
  }
  svg >>> .axis {
    font: 10px sans-serif;
  }
  svg >>> .axis path,
  svg >>> .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  svg >>> rect.home-bar {
    stroke: #1d96c8;
    stroke-width: 2px;
    fill: rgba(29, 150, 200, 0.4);
  }
  svg >>> rect.home-bar:hover {
    fill: rgba(29, 150, 200, 0.6);
  }
  svg >>> rect.away-bar {
    stroke: #6360dd;
    stroke-width: 2px;
    fill: rgba(99, 96, 221, 0.4);
  }
  svg >>> rect.away-bar:hover {
    fill: rgba(99, 96, 221, 0.6);
  }
</style>
