<template>
  <svg width='100%' height='100%'></svg>
</template>

<script>
  import { drawPieChart } from './common';

  export default {
    props: ['data'],
    mounted() {
      drawPieChart(this.$el, this.data, {
        height: this.$el.clientHeight,
        width: this.$el.clientWidth,
      });
    },
  };
</script>
