<template>
  <svg width="100%" height="100%"></svg>
</template>

<script>
  import { drawScatterPlotChart } from './common';

  export default {
    props: ['data', 'verticalLabel', 'horizontalLabel'],
    mounted() {
      drawScatterPlotChart(this.$el, this.data, {
        height: this.$el.clientHeight,
        width: this.$el.clientWidth,
        verticalLabel: this.verticalLabel,
        horizontalLabel: this.horizontalLabel,
      });
    },
  };
</script>
