<template>
  <svg width="100%" height="100%"></svg>
</template>

<script>
  import { drawTimeLineChart } from './common';

  export default {
    props: {
      data: {
        type: Array,
        default: () => [],
      },
      verticalLabel: String,
    },
    data() {
      return {};
    },
    mounted() {
      this.draw();
    },
    watch: {
      data() {
        this.draw();
      },
    },
    methods: {
      draw() {
        drawTimeLineChart(this.$el, this.data || [], {
          height: this.$el.clientHeight,
          width: this.$el.clientWidth,
          verticalLabel: this.verticalLabel,
        });
      },
    },
  };
</script>

<style scoped>
  svg >>> .axis path,
  svg >>> .axis .time-line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  svg >>> .x.axis path {
    display: none;
  }
  svg >>> .time-line {
    fill: none;
    stroke: #97bbcd;
    stroke-width: 1.5px;
  }
  svg >>> .time-line-dot {
    fill: #75a4bc;
  }
  svg >>> .time-line-dot-hidden {
    cursor: hand;
    fill: transparent;
  }
</style>
