<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
    	<span aria-hidden="true">&times;</span>
    	<span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">{{'league.download.header' | i18next }}</h4>
</div>
<div class="modal-body">	
	<uib-alert type="{{alert.type}}" ng-if="alert">{{alert.message}}</uib-alert>
	<div ng-if="predownload" class="text-center">
		<button class="btn sc-btn" ng-click="download()">{{'league.download.download' | i18next }} <i class="fa fa-download"></i></button>
	</div>
</div>