<div class="container">
  <div class="sc-league-page" ng-if="leagueNotFound">
    <uib-alert class="sc-not-found-alert" type="info">{{'league.index.not_found' | i18next}}<a ui-sref="userLeagues"><b>{{'league.index.not_found_link' | i18next}}</b></a>.</uib-alert>
  </div>

  <div class="sc-league-page" ng-if="notMember">
    <uib-alert class="sc-not-member-alert" type="info">{{'league.index.not_member' | i18next}}<a ui-sref="userLeagues"><b>{{'league.index.not_found_link' | i18next}}</b></a>.</uib-alert>
  </div>

  <div class="sc-league-page" ng-if="league">
    <div class="sc-page-header page-header header">
      <div class="pull-right" ng-if="competition && competition.status == 'public'">
        <a ui-sref="league.invite({name: league.url})" class="btn sc-btn" ng-if="!isCaptain || !isPremium">
          <span class="glyphicon glyphicon-plus"></span> &nbsp;{{'league.index.invitation_link' | i18next}}
        </a>
        <a ui-sref="league.manage({name: league.url})" class="btn sc-btn" ng-if="isCaptain && isPremium">
          <span class="glyphicon glyphicon-wrench"></span> &nbsp;{{'league.index.manage_link' | i18next}}
        </a>
      </div>
      <h3 class="text-muted">{{league.name}}</h3>
    </div>

    <div class="row">
      <div class="col-xs-12" ng-if="competition">
        <div class="sc-competition-section clearfix">
          <div class="col-md-8">
            <div class="sc-competition-name">{{'competition.' + competition.name + '.name_sport' | i18next: {sport: competition.sport} }} <span ng-if="competition.config && competition.config.type == 'championship'">{{competition.year - 1}}/</span>{{competition.year}}</div>
            <div class="sc-competition-forecast" ng-if="forecast">
              <a ui-sref="forecast({id: forecast})">{{'league.index.forecast_link' | i18next}}</a>
            </div>
          </div>
          <div class="col-md-4 hidden-xs">
            <div class="sc-competition-progress text-right">
              <span uib-tooltip="	{{'league.index.progress_bar'| i18next}}" tooltip-placement="left">{{competition.progress.value}}%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8 wall-col" ng-if="dico_members">
        <div class="panel panel-primary sc-chat-section">
          <div class="panel-heading">
            {{'league.index.wall' | i18next}}
          </div>

          <div class="panel-body">
            <div id="wall_body" scroll-glue>
              <div class="text-center" ng-if="!areAllMessagesLoaded">
                <a href ng-click="loadPreviousMessages()">{{'league.index.load_previous_messages' | i18next}}</a>
              </div>
              <div ng-repeat="(unix, messages) in messageDays">
                <div class="sc-message-day-header">
                  <span>{{unix | amUnixFormat: 'LL'}}</span>
                </div>
                <div class="alert" ng-class="{'alert-info': message.sender != user_id, 'alert-success': message.sender == user_id}" ng-repeat="message in messages">
                  <ul class="list-unstyled">
                    <li>
                      <img height="20" ng-src="{{dico_members[message.sender].pictureUrl}}" width="20">
                      <span>&nbsp;<b>{{dico_members[message.sender].displayName}}</b></span> : <span ng-bind-html="message.content | linky"></span>
                      <span class="pull-right sc-message-time">{{message.datetime | amDateFormat: 'HH:mm'}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-footer">
            <div id="group_message">
              <textarea msd-elastic ng-enter="sendMessage()" ng-model="$parent.message.content" class="form-control" placeholder="{{'league.index.enter_message' | i18next}}" rows="1"></textarea>
            </div>
          </div>
        </div>

        <div class="panel panel-default sc-matches-section" ng-if="matches && matches.length > 0">
          <div class="panel-heading">
            {{'league.index.last_results' | i18next}}
          </div>

          <div class="panel-content">
            <table class="table">
              <tbody>
                <tr class="match-line" ng-repeat="match in matches">
                  <td class="hidden-xs hidden-sm">{{match.datetime | amDateFormat:'DD/MM, HH:mm'}}</td>
                  <td class="hometeam">
                    <span class="team-name" team-name="{{'teams:' + match.hometeamname + '.middle' | i18next}}" team-name-short="{{'teams:' + match.hometeamname + '.short' | i18next}}"></span>
                    <img class="team-flag" ng-src="/img/teams/{{match.hometeamname}}_60.png" height="33" width="33" uib-tooltip="{{'teams:' + match.hometeamname + '.name' | i18next}}">
                  </td>

                  <td class="score">{{match.result | score: match.sport}}</td>

                  <td class="awayteam">
                    <img class="team-flag" ng-src="/img/teams/{{match.awayteamname}}_60.png" height="33" width="33" uib-tooltip="{{'teams:' + match.awayteamname + '.name' | i18next}}">
                    <span class="team-name" team-name="{{'teams:' + match.awayteamname + '.middle' | i18next}}" team-name-short="{{'teams:' + match.awayteamname + '.short' | i18next}}" style=""></span>
                  </td>
                  <td>
                    <a ui-sref="league.match({name: league.url, matchId: match._id})"><span class="glyphicon glyphicon-eye-open"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="panel-footer" ng-if="!areAllMatchesLoaded">
            <div class="text-right">
              <a href ng-click="getMoreMatches()">{{'league.index.view_all_matches' | i18next}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4" ng-if="dico_members">
        <uib-alert type="{{alert.type}}" ng-if="alert" close="removeAlert()" style="margin-bottom: 10px;">{{alert.message}}</uib-alert>
        <div style="text-align: center;" ng-show="!isPremium && league.members.length > 20">
          <div class="panel panel-info">
            <div class="panel-body">
              <h5>{{'premium.hook' | i18next}}</h5>
              <button class="btn btn-lg sc-btn btn-block"
                      stripe-checkout="doCheckout"
                      data-key="pk_live_x7yobEQd8OEauU0uNAnOQUBH"
                      data-name="Scoragora"
                      data-description="Scoragora Premium League"
                      data-amount="5000"
                      data-currency="EUR"
                      ng-if="true"
                      analytics-on="click" analytics-event="Wannapay" analytics-label="{{league.name}}">
                {{'premium.button' | i18next}}
              </button>
              <!-- TODO: put data-key in a config var -->
              <a class="btn btn-lg sc-btn btn-block" type="button" ng-if="false" href="mailto:contact@scoragora.com?subject=Unlock" target="_top" analytics-on="click" analytics-event="Wannapay" analytics-label="{{league.name}}">{{'premium.button' | i18next}}</a>
              <h5>{{'premium.fees' | i18next}}</h5>
              <h5>{{'premium.cantpay' | i18next}} <a href="mailto:contact@scoragora.com">{{'premium.letusknow' | i18next}}</a></h5>
            </div>
          </div>
        </div>
        <div class="panel panel-default sc-ranking-section">
          <div class="panel-heading">
            {{'league.index.ranking' | i18next}}&nbsp;&nbsp;
            <a href ng-click="downloadRanking()" target="_self" download="{{league.url}}_ranking.pdf" class="hidden-xs" ng-if="isPremium && false" uib-tooltip="{{'league.download.header' | i18next}}">
              <span class="glyphicon glyphicon-download"></span>
            </a>
          </div>

          <div class="panel-content">
            <div class="sc-ranking-header print-hide">
              <a class="hidden-xs" ui-sref="league.stats({name: league.url})">
                {{'league.index.stats' | i18next }} <span class="glyphicon glyphicon-stats"></span>
              </a>
              <div class="pull-right" ng-if="competition.rules">
                <a href ng-click="openRulesModal()">{{'league.index.points_calculation' | i18next}}</a>
              </div>
            </div>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>{{'league.index.rank' | i18next}}</th>

                  <th>{{'league.index.pseudo' | i18next}}</th>
                  <th>{{'league.index.points' | i18next}}</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="member in league.members">
                  <td>
                    <strong>{{member.rank_label}}</strong>
                  </td>
                  <td ng-init="user = dico_members[member.user]">
                    <img height="25" ng-src="{{user.pictureUrl}}" style="margin-top: -4px; margin-right: 3px;" width="25">
                    <span>{{user.displayName}} </span>
                    <span ng-if="isPremium" class="label label-scoragora">{{member.flag}}</span>
                  </td>
                  <td>{{member.points}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
