<div class="container">
  <div class="page-header header">
    <ul class="nav nav-pills pull-right">
      <li>
        <h4 id="back_link">
          <a ui-sref="league({name: league.url})">
            <p ng-i18next="[i18next]({ league_name: league.name }) league.invitation.back_link"></p>
          </a>
        </h4>
      </li>
    </ul>

    <h3 class="text-muted"><p ng-i18next="[i18next]({ league_name: league.name }) subtitle.league.invitation"></p></h3>
  </div>

  <section id="link">
    <h3>{{'league.invitation.url_header' | i18next}}<br>
      <small>{{'league.invitation.url_header_small' | i18next}}</small>
    </h3>

      <div class="row">
        <div class="col-xs-12 col-sm-9" id="link_label">
          <a class="colspan" id="league_link" ng-href="#/join/{{league.token}}">www.scoragora.com/#/join/{{league.token}}</a>
        </div>
        <div class="col-xs-12 col-sm-3" id="copy_link">
          <sc-copy-button class="btn btn-sm sc-btn" sc-copy-text="link">{{'league.invitation.copy_link' | i18next}}</sc-copy-button>
        </div>
      </div>
    </section>
  </div>
