<div class="container">
  <div class="sc-league-page" ng-if="leagueNotFound">
    <uib-alert class="sc-not-found-alert" type="info">{{'league.index.not_found' | i18next}}<a ui-sref="userLeagues"><b>{{'league.index.not_found_link' | i18next}}</b></a>.</uib-alert>
  </div>

  <div class="sc-league-page" ng-if="notMember">
    <uib-alert class="sc-not-member-alert" type="info">{{'league.index.not_member' | i18next}}<a ui-sref="userLeagues"><b>{{'league.index.not_found_link' | i18next}}</b></a>.</uib-alert>
  </div>

  <div class="sc-league-manage-page" ng-if="league">
	  <div class="page-header header">
	    <ul class="nav nav-pills pull-right">
	      <li>
	        <h4 id="back_link">
	          <a ui-sref="league({name: league.url})">
	            <p ng-i18next="[i18next]({ league_name: league.name }) league.invitation.back_link"></p>
	          </a>
	        </h4>
	      </li>
	    </ul>
	
	    <h3 class="text-muted"><p ng-i18next="[i18next]({ league_name: league.name }) subtitle.league.manage"></p></h3>
	  </div>
	
	  <section id="link" ng-if="league.token">
	    <h3>{{'league.manage.invitation' | i18next}}<br>
	      <small>{{'league.invitation.url_header_small' | i18next}}</small>
	    </h3>
	
		<div class="row">
		  <div class="col-xs-12 col-sm-9" id="link_label">
		    <a class="colspan" id="league_link" ng-href="#/join/{{league.token}}">www.scoragora.com/#/join/{{league.token}}</a>
		  </div>
		  <div class="col-xs-12 col-sm-3" id="copy_link">
		    <sc-copy-button class="btn btn-sm sc-btn" sc-copy-text="link">{{'league.invitation.copy_link' | i18next}}</sc-copy-button>
		  </div>
		</div>
	  </section>
	  <hr ng-if="league.token"/>
	  <section class="flags-section">
	  	<h3>{{'league.manage.flags' | i18next}} <small>{{'league.manage.flags_small' | i18next}}</small></h3>
	  	<div ng-if="flags.length > 0" class="flag-list">
	  	  <span class="label label-scoragora" ng-repeat="flag in flags">{{flag.flag}} ({{flag.count}})</span>
	  	</div>
	  	<div ng-if="flags.length == 0">
	  	  <span class="text-muted">{{'league.manage.no_flag' | i18next }}</span>
	  	</div>
	  </section>
	  <hr/>
	  <section class="members-section">
	  	<h3>{{'league.manage.members' | i18next}}</h3>
	  	<div class="panel panel-default" ng-if="members">
	      <div class="panel-heading">{{'league.manage.members_list' | i18next}} ({{members.length}})</div>
	      <div class="panel-content">
	        <table class="table table-condensed">
	          <thead>
	            <tr>
	              <th>{{'league.manage.pseudo' | i18next}}</th>
	              <th>{{'league.manage.email' | i18next}}</th>
	              <th class="flag-column">{{'league.manage.flag' | i18next}}</th>
	              <th ng-if="false">{{'league.manage.validated' | i18next}}</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr ng-repeat="member in members">
	              <td>
	                <img height="25" ng-src="{{member.user.pictureUrl}}" style="margin-top: -4px; margin-right: 3px;" width="25">
	                <span>{{member.user.displayName}}</span>
	              </td>
	              <td>{{member.user.displayEmail}}</td>
	              <td class="flag-column">
		            <smart-saved-input input-class="input-sm" ng-model="member.flag" ng-submit="updateMemberFlag(member.user._id)(value)" placeholder="{{'league.manage.flag' | i18next}}"></smart-saved-input>
	              </td>
	              <td ng-if="false"></td>
	            </tr>
	          </tbody>
	        </table>
	      </div> 
	  	</div>
	  </section>
  </div>
</div>
