<div class="container">
  <div class="page-header header">
    <ul class="nav nav-pills pull-right">
      <li>
        <h4 id="back_link" ng-if="league">
          <a ui-sref="league({name: league.url})" ng-i18next="[i18next]({ league_name: league.name }) league.invitation.back_link"></a>
        </h4>
      </li>
    </ul>
    <h3 class="text-muted full">{{'subtitle.league.match' | i18next}}</h3>
    <h3 class="text-muted short">{{'subtitle.league.match_short' | i18next}}</h3>
  </div>

  <div class="row">
    <div class="col-xs-12" ng-if="match">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="text-muted col-xs-6" id="match_date">
              <span class="tz-datetime">{{formattedDate | amDateFormat: 'ddd DD MMM, HH:mm'}}</span>
            </div>

            <div class="col-xs-6" ng-if="false">
              <a class="pull-right" data-target="#bonus_table" data-toggle="modal" href="#">Calcul des points</a>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="text-center">
              <ul class="list-inline">
                <li>
                  <span class="team-name" team-name="{{'teams:'+match.hometeamname+'.middle' | i18next}}" team-name-short="{{'teams:'+match.hometeamname+'.short' | i18next}}" style="font-size: 30px;"></span>
                  <img class="incell-right" ng-src="/img/teams/{{match.hometeamname}}_60.png" height="50" width="50" uib-tooltip="{{'teams:'+match.hometeamname+'.middle' | i18next}}">
                </li>
                <li>
                  <strong class="match-result" ng-if="match.result && match.result.hometeam && match.result.awayteam">&nbsp;{{match.result.hometeam.score}} - {{match.result.awayteam.score}}&nbsp;</strong>
                </li>
                <li>
                  <span class="team-name" team-name="{{'teams:'+match.awayteamname+'.middle' | i18next}}" team-name-short="{{'teams:'+match.awayteamname+'.short' | i18next}}" style="font-size: 30px;"></span>
                  <img class="incell-left" ng-src="/img/teams/{{match.awayteamname}}_60.png" height="50" width="50" uib-tooltip="{{'teams:'+match.awayteamname+'.middle' | i18next}}">
                </li>
              </ul>
            </div>
          </div>
        </div>
        <table class="table" id="pointsTable" ng-if="dico_members && league && dico_forecasts">
          <thead>
            <tr>
              <th class="sort text-left">Pseudo</th>
              <th class="text-center">Pronostics</th>
              <th class="hidden-xs text-left">Bonus</th>
              <th class="text-center sort">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="member in league.members">
              <td>
                <img height="20" ng-src="{{dico_members[member.user].pictureUrl}}" width="20">
                <span>{{dico_members[member.user].displayName}}</span>
              </td>
              <td class="text-center" ng-if="match.sport == 'football'">{{dico_forecasts[member.user].forecast.hometeam.score}} - {{dico_forecasts[member.user].forecast.awayteam.score}}</td>
              <td class="text-center" ng-if="match.sport == 'rugby'">
                <sc-rugby-forecast forecast="dico_forecasts[member.user].forecast" result="match.result"></sc-rugby-forecast>
              </td>
              <td class="hidden-xs">
                <div class="logo_bonus {{item}}" ng-repeat="item in dico_forecasts[member.user].bonus" uib-tooltip="{{'rules.table.' + item | i18next}}"></div>
              </td>
              <td class="text-center" ng-if="match.status == 'closed'">{{dico_forecasts[member.user].points || 0}}</td>
              <td class="text-center" ng-if="match.status != 'closed'"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
