<div class="container">
  <div class="sc-league-stats-page" ng-if="leagueNotFound">
    <uib-alert class="sc-not-found-alert" type="info">{{'league.index.not_found' | i18next}}<a ui-sref="userLeagues"><b>{{'league.index.not_found_link' | i18next}}</b></a>.</uib-alert>
  </div>

  <div class="sc-league-stats-page" ng-if="notMember">
    <uib-alert class="sc-not-member-alert" type="info">{{'league.index.not_member' | i18next}}<a ui-sref="userLeagues"><b>{{'league.index.not_found_link' | i18next}}</b></a>.</uib-alert>
  </div>

  <div class="sc-league-stats-page" ng-if="league">
    <div class="page-header header">
      <ul class="nav nav-pills pull-right">
        <li>
          <h4 id="back_link">
            <a ui-sref="league({name: league.url})">
              <p ng-i18next="[i18next]({ league_name: league.name }) league.invitation.back_link"></p>
            </a>
          </h4>
        </li>
      </ul>

      <h3 class="text-muted">{{'subtitle.league.stats' | i18next}}</h3>
    </div>

    <div class="row sc-evolution-section" ng-if="league.members && membersAsDico && statsPerMatch">
      <div class="col-xs-12 hidden-xs">
        <h3>{{'league.stats.evolution' | i18next}}</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center col-sm-12">
	            <div class="btn-group sc-btn-group">
	            	<label class="btn btn-default" ng-model="options.mode" uib-btn-radio="'match'">{{'league.stats.mode_match' | i18next}}</label>
	            	<label class="btn btn-default" ng-model="options.mode" uib-btn-radio="'date'">{{'league.stats.mode_date' | i18next}}</label>
	            </div>
	        </div>
            <div class="col-sm-9 col-md-10" ng-show="options.mode == 'match'">
              <svg sc-multi-line data="statsPerMatch" options="statsPerMatchOptions"></svg>
            </div>
            <div class="col-sm-9 col-md-10" ng-show="options.mode == 'date'">
              <svg sc-multi-line data="statsPerDate" options="statsPerDateOptions"></svg>
            </div>
            <div class="col-sm-3 col-md-2">
              <h3>{{'league.stats.members_header' | i18next}}</h3>
              <div class="sc-members-panel">
                <div class="sc-member" ng-repeat="member in league.members" ng-click="select(member, $event)">
                  <label>
                    <img ng-src="{{membersAsDico[member.user].pictureUrl}}" width="20" height="20"/>
                    <span class="legend checked" ng-style="member.style" ng-if="member.checked">{{membersAsDico[member.user].displayName}}</span>
                    <span class="legend" ng-if="!member.checked">{{membersAsDico[member.user].displayName}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
