html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/dist/style.css')
  body
    div(id='app' class='container')
    script.
      window.API_ROOT = '#{routing.api}/api/admin';
      window.SCHEDULER_API_ROOT = '#{routing.scheduler}';
    script(src=routing.scheduler + '/socket.io/socket.io.js')
    script(type='text/javascript' src='/dist/bundle.js')
