<template>
  <div v-if="user">
    <page-header :title="`${displayName}'s detail`">
      <template slot="actions">
        <h4>
          <router-link :to="{ name: 'userJson', params: { id: user._id } }">json</router-link>
        </h4>
      </template>
    </page-header>
    <div class="row">
      <div class="col-12 col-sm-4 col-md-3">
        <center>
          <img class="thumbnail" :src="largePictureURL" width="180" height="180"/>
        </center>
      </div>
      <div class="col-12 col-sm-8 col-md-4 col-lg-4">
        <div class="card">
          <div class="card-header">Infos</div>
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label class="col-3 col-form-label">Email :</label>
                <div class="col-9">
                  <p class="form-control-plaintext">{{displayEmail}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Lang. :</label>
                <div class="col-9">
                  <p class="form-control-plaintext">{{user.lng}}</p>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Photo :</label>
                <div class="col-9">
                  <p class="form-control-plaintext">{{user.pictureMode}}</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-5">
        <div class="card">
          <div class="card-header">Pronostics</div>
          <table-view
            :columns="forecastColumns"
            empty-label="No forecast"
            :pagination="forecasts"
          >
            <template slot="name_cell" slot-scope="props">
              <router-link :to="{ name: 'forecastDetail', params: { id: props.value._id } }">
                <span>{{props.value.competition.name}} {{props.value.competition.year}}</span>
              </router-link>
            </template>
          </table-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import * as userServices from '../../services/users';

  const FORECAST_COLUMNS = [{
    className: 'text-left',
    customCell: true,
    key: 'name',
    title: 'Competition',
  }, {
    className: 'text-left',
    title: 'Points',
    value: row => `${row.points} pts`,
  }];

  export default {
    data() {
      return {
        user: false,
        forecastColumns: FORECAST_COLUMNS,
        forecasts: {
          items: false,
        },
      };
    },
    async created() {
      this.user = await userServices.getUser(this.$route.params.id);
      this.forecasts.items = await userServices.getUserForecasts(this.$route.params.id);
    },
    computed: {
      displayEmail() {
        return userServices.getDisplayEmail(this.user);
      },
      displayName() {
        return userServices.getDisplayName(this.user);
      },
      largePictureURL() {
        return userServices.getLargePictureURL(this.user);
      },
    }
  };
</script>

<style scoped>

</style>
