<template>
  <div>
    <div class="form-section">
      <form
        class="input-group input-group-sm col-xs-offset-2 col-xs-8 col-sm-12"
        v-on:submit.prevent="search()"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Search user by name or login or email"
          v-model="form.search"
        />
        <span class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </form>
    </div>
    <table-view
      :title="title"
      :columns="columns"
      :itemsPerPage="limit"
      withCount
      :pagination="pagination"
      @pageUpdate="updatePagination"
    >
      <template slot="pseudo_cell" slot-scope="props">
        <user-pseudo-link :user="props.value"></user-pseudo-link>
      </template>
    </table-view>
    <div class="row" style="margin-top: 20px;">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">Languages</div>
          <div class="language-panel">
            <click-to-display :onClick="loadLanguages">
              <d3-pie :data="languageStats" /></d3-pie>
            </click-to-display>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-8">
        <div class="card">
          <div class="card-header">Account creations</div>
          <div class="creation-panel">
            <click-to-display :onClick="loadCreations">
              <center>
                <d3-time-line :data="creationStats" verticalLabel="Creations" /></d3-time-line>
              </center>
            </click-to-display>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from 'moment';
  import notifier from '../../common/Notifier';
  import * as userServices from '../../services/users';
  import paginationMixin from '../../mixins/pagination';
  import { idToTimestamp } from '../../common/common';

  const LIMIT = 5;

  const COLUMNS = [{
    className: 'text-left user-pseudo',
    customCell: true,
    key: 'pseudo',
    title: 'Pseudo',
  }, {
    className: 'text-center hidden-xs',
    title: 'Email',
    value: row => userServices.getDisplayEmail(row),
  }, {
    className: 'text-center visible-md visible-lg',
    title: 'Leagues',
    value: row => (row.leagues && row.leagues.length) || 0,
  }, {
    className: 'text-center',
    title: 'Competitions',
    value: row => (row.forecasts && row.forecasts.length) || 0,
  }, {
    className: 'text-center visible-md visible-lg',
    title: 'Creation',
    value: row => moment(idToTimestamp(row._id)).format('DD/MM/YY, HH:mm'),
  }];

  const formatPieData = arr => arr.map(item => ({
    value: item.count,
    label: item.value,
  }));

  const formatTimeLineData = arr => arr.map(item => ({
    value: item.count,
    date: moment(item.date, 'DD/MM/YYYY').toDate(),
  })).sort((a, b) => a.date - b.date);

  export default {
    mixins: [paginationMixin],
    data() {
      return {
        columns: COLUMNS,
        creationStats: false,
        form: {
          search: '',
        },
        languageStats: false,
        limit: LIMIT,
        pagination: {
          items: false,
          count: false,
          page: 0,
        },
        paginationItemName: 'users',
        paginationLoader: userServices.getUsers,
      };
    },
    computed: {
      title() {
        return `User list${this.pagination.count ? ` (${this.pagination.count})` : ''}`;
      },
    },
    methods: {
      async loadLanguages() {
        const res = await userServices.getUsersLanguage();
        if (res.status === 200) {
          this.languageStats = formatPieData(res.languages);
          return;
        }
        notifier.notify({
          type: 'danger',
          message: res.message || res,
        }, 5000);
      },
      async loadCreations() {
        const res = await userServices.getUsersCreation({
          period: 'day',
          end: moment().subtract(43, 'months').unix(),
          start: moment().subtract(44, 'months').unix(),
        });
        if (res.status === 200) {
          this.creationStats = formatTimeLineData(res.creations);
          return;
        }
        notifier.notify({
          type: 'danger',
          message: res.message || res,
        }, 5000);
      },
    },
  }
</script>

<style scoped>
  .form-section {
    width: 320px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .language-panel {
    width: 100%;
    padding-top: 100%;
    position: relative;
  }
  .creation-panel {
    width: 100%;
    position: relative;
  }
  @media (max-width: 920px) {
    .creation-panel {
      padding-top: 100%;
    }
  }
  @media (min-width: 921px) {
    .creation-panel {
      padding-top: calc(50% - 15px);
    }
  }
  .language-panel > *,
  .creation-panel > * {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
  }
</style>
