<template>
  <smart-json v-if="json" :json="json"></smart-json>
</template>

<script>
  import * as userServices from '../../services/users';

  export default {
    data() {
      return {
        json: false,
      };
    },
    async created() {
      this.json = await userServices.getUser(this.$route.params.id);
    },
  };
</script>
