svg[sc-multi-line] {
	
	.axis path,
	.axis line {
	  	fill: none;
	  	stroke: #000;
	  	shape-rendering: crispEdges;
	}
	
	.x.axis path {
	  	display: none;
	}
	
	.line {
	  	fill: none;
	  	stroke: steelblue;
	  	stroke-width: 1.5px;
	}
	
	.grid .tick {
	    stroke: @sc-grey;
	    opacity: 0.7;
	}
	.grid path {
	      stroke-width: 0;
	}
}