.sc-forecast-page {
	
	.alert {
		margin-bottom: 15px;
	}
	
	.sc-stats-section {
		background: @sc-grey;
		border-radius: 6px;
		padding: 10px;
		margin-bottom: 20px;
		
		.sc-header {
			text-align: center;
			font-size: 20px;
			border-bottom: 1px solid darken(@sc-grey, 10%);
			color: @sc-grey-font;
		}
		
		.sc-body {
			
			.sc-huge {
				font-size: 70px;
				color: @sc-primary;
				text-align: center;
				margin-top: 20px;
				font-weight: bold;
			}
				
			.sc-figure {
				text-align: right;
				font-size: 32px;
				padding-right: 10px;
				width: 3em;
				color: @sc-primary;
				font-weight: bold;
				
				.sc-small {
					font-weight: 300;
					font-size: 15px;
				}
			}
			
			.sc-legend {
				text-align: left;
				font-size: 15px;
				color: @sc-light-grey-font;
			}
		}
	}
	
	.sc-match-line {
		
		@media screen and (max-width: @screen-sm-min) {
			.date {
				text-align: left;
				font-size: 12px;
				padding-top: 9px;
				
				&:before {
					content: attr(date-short);
			    }
			}
			
			.hometeam {
				padding-left: 0px;
				padding-right: 0px;
			}
			
			.awayteam {
				padding-right: 0px;
				padding-left: 0px;
			}
		}
		
		@media screen and (min-width: @screen-sm-min) {
		    .date {
				text-align: left;
				font-size: 16px;
				padding-top: 7px;

		    	&:before {
		        	content: attr(date);
			    }
			}
		}
		
		.hometeam {
			text-align: right;
			padding-top: 2px;
			padding-bottom: 2px;
			font-size: 16px;
			
			@media screen and (max-width: @screen-sm-min) {
			    .team-name:before {
			    	font-size: 12px;
			        content: attr(team-name-short);
			    }
			}
	
			@media screen and (min-width: @screen-sm-min) {
			    .team-name:before {
			        content: attr(team-name);
			    }
			    
			    .team-flag {
					margin-left: 2px;
				}
			}
		}
		
		.score-rugby {
			text-align: center;
			width: 150px;
			padding-top: 0px;
			padding-bottom: 1px;
			
			.match-forecast {
				
				.result {
					font-size: 18px;
					margin-top: -1px;
					margin-bottom: -1px;
					span {
						background: @sc-primary;
						color: #fff;
						padding-left: 4px;
						padding-right: 4px;
						border-radius: 3px;
					}
				}
			}
			
			.rugby-forecast-input {
				padding-top: 9px;
			}
		}
		
		.score-football {
			text-align: center;
			width: 95px;
			padding-left: 1px;
			padding-right: 1px;
			margin-top: 1px;
			margin-bottom: 1px;
			
			.match-forecast {
				
				margin-top: 0px;
				margin-bottom: 0px;
				
				.forecast {
					font-size: 12px;
					margin-top: -7px;
				}
				
				.result {
					font-size: 18px;
					margin-top: -3px;
					margin-bottom: -5px;
					span {
						background: @sc-primary;
						color: #fff;
						padding-left: 4px;
						padding-right: 4px;
						border-radius: 3px;
					}
				}
			}
			
			.edit-match-score {
				
				margin-top: -1px;
				
				input {
					width: 40px;
					border: 1px solid darken(@sc-grey, 20px);
					text-align: center;
					outline: 0;
					padding-top: 3px;
					padding-bottom: 3px;
				}
				
				input.home {
					border-bottom-left-radius: 4px;
					border-top-left-radius: 4px;
					margin-right: -3px;
				}
				
				input.away {
					border-bottom-right-radius: 4px;
					border-top-right-radius: 4px;
					margin-left: -3px;
				}
				
				span {
					background: @sc-grey;
					padding-top: 4px;
					padding-bottom: 5px;
					padding-left: 2px;
					padding-right: 2px;
					border-top: 1px solid darken(@sc-grey, 20px);
					border-bottom: 1px solid darken(@sc-grey, 20px);
				}
				
				@media screen and (max-width: @screen-sm-min) {
				    input {
						padding-top: 5px;
						padding-bottom: 5px;    
				    }
				    
				    input.home {
						margin-right: -2px;
					}
					
					input.away {
						margin-left: -2px;
					}
				    
				    span {
				    	padding-bottom: 6px;
				    	padding-top: 6px;
				    }
				}
				
				span.saved {
					background: lighten(@sc-primary, 10%);
				}
			}
		}
		
		.awayteam {
			text-align: left;
			padding-top: 2px;
			padding-bottom: 2px;
			font-size: 16px;
			
			@media screen and (max-width: @screen-sm-min) {
			    .team-name:before {
			        font-size: 12px;
			        content: attr(team-name-short);
			    }
			}
	
			@media screen and (min-width: @screen-sm-min) {
			    .team-name:before {
			        content: attr(team-name);
			    }
			    
			    .team-flag {
					margin-right: 2px;
				}
			}
		}
	}
}