.sc-join-page {
	
	.sc-join-section {
		margin-top: 35px;
	}
	
	.sc-member-section {
		margin-top: 35px;
	}
	
	.sc-exceed-section {
		margin-top: 35px;
	}
	
	.sc-not-found-section {
		margin-top: 35px;
	}
}