.sc-top-banner {
	margin-bottom: -15px;
}

.sc-page-header {
	
	a.btn {
		margin-top: -4px;
	}
}

.btn.sc-btn, a.btn.sc-btn {
	color: #fff;
	background: @sc-primary;
	border-color: darken(@sc-primary, 10%);
	outline: 0;
	
	&:hover {
		background: darken(@sc-primary, 10%);
		border-color: darken(@sc-primary, 20%);
	}
}

.btn.sc-btn.active, a.btn.sc-btn.active {
	color: #fff;
	background: darken(@sc-primary, 10);
	border-color: darken(@sc-primary, 20%);
	outline: 0;
}

.btn-group.sc-btn-group {
	
	.btn.active {
		color: #fff;
		background: @sc-primary;
		border-color: darken(@sc-primary, 10%);
		outline: 0;	
	}
}
