.sc-league-page {
	
	.sc-not-found-alert, .sc-not-member-alert {
		margin-top: 25px;
	}
	
	.sc-competition-section {
		background: @sc-grey;
		border-radius: 6px;
		padding: 10px;
		margin-bottom: 20px;
		
		.sc-competition-name {
			@media (min-width: @screen-sm-min) {
				font-size: 25px;
			}
		}
		
		.sc-competition-progress {
			@media (min-width: @screen-sm-min) {
				font-size: 40px;
				color: @sc-primary;
			}
		}
	}
	
	.sc-chat-section {
		
		.sc-message-day-header {
			text-align: center;
			
			> span {
				padding-left: 5px;
				padding-right: 5px;
				border-radius: 10px;
				color: #fff;
				background: darken(@sc-grey, 20%);
			}
		}
		
		.sc-message-time {
			color: darken(@sc-grey, 25%); 
			font-size: 10px;
			margin-top: 3px;
		}
	}
	
	.sc-ranking-section {
		
		.sc-ranking-header {
			padding: 8px;
		}
	}	
}

.sc-matches-section {
	
	.hometeam {
		text-align: right;
		padding-top: 2px;
		padding-bottom: 2px;
		font-size: 16px;
		
		@media screen and (max-width: @screen-xs-min) {
		    .team-name:before {
		        content: attr(team-name-short);
		    }
		}

		@media screen and (min-width: @screen-xs-min) {
		    .team-name:before {
		        content: attr(team-name);
		    }
		}
		
		.team-flag {
			margin-left: 2px;
		}
	}
	
	.score {
		padding-top: 4px;
		padding-bottom: 2px;
		text-align: center;
		max-width: 95px;
		vertical-align: middle;
		width: 80px;
		font-size: 20px;
	}
	
	.awayteam {
		text-align: left;
		padding-top: 2px;
		padding-bottom: 2px;
		font-size: 16px;
		
		@media screen and (max-width: @screen-xs-min) {
		    .team-name:before {
		        content: attr(team-name-short);
		    }
		}

		@media screen and (min-width: @screen-xs-min) {
		    .team-name:before {
		        content: attr(team-name);
		    }
		}
		
		.team-flag {
			margin-right: 2px;
		}
	}
}

.sc-league-stats-page {
	
	.sc-not-found-alert, .sc-not-member-alert {
		margin-top: 25px;
	}
	
	.sc-evolution-section {
		
		.sc-members-panel {
			margin-left: -30px;
			overflow-x: hidden;
			overflow-y: scroll;
			max-height: 390px;
			
			.sc-member {
				margin-right: -20px;
				
				img:hover {
					cursor: pointer;
				}
				
				span.legend {
					display:inline-block;
					min-width:10px;
					padding:3px 7px;
					font-size:12px;
					font-weight:700;
					line-height:1;
					color:#2a6496;
					text-align:center;
					white-space:nowrap;
					vertical-align:baseline;
					background-color:transparent;
					border-radius:10px;
					
					&:hover {
						cursor: pointer;
						text-decoration: underline;
					}
				}
				
				span.legend.checked {
					color:#fff;
				}
			}
		}
	}
}

.sc-league-manage-page {
	
	.flags-section {
		
		.flag-list {
			
			span.label {
				margin-right: 2px;
			}
		}
	}
	
	.members-section {
		
		.flag-column {
			max-width: 40px;
		}
	}
}