.sc-rules-page {
	
	.sc-bet-section {
		
		table.sc-bonus-table {
			
			border-radius: 4px;
			background: @sc-grey;
			padding: 10px;
			width: 100%;
			border-collapse: separate;
			
			tr {
				
				td {
					padding: 3px;
				}
				
				td.sc-bonus {
					width: 25%;
					min-width: 180px;
				}
				
				td.sc-bonus-definition {
					color: darken(@sc-grey, 35%);
				}
			}
		}
	}
}