.rugby-forecast-input {
	
	min-width: 160px;
	margin: auto;
	padding-top: 2px;
		
	button {
		margin: 1px;
		width: 20px;
		height:20px;
		border-radius: 10px;
		border-width:2px;
		border-style: solid;
	    background: none;
	    
	    &:focus {
		    outline: none;
	    }
	}

	/** Colors */
	@color3: #33b83c;
	@color2: #78d97e;
	@color1: #baecbd;
	@color0: #ddd;
	@color-1: #fcafa3;
	@color-2: #fa7561;
	@color-3: #f82d0e;
	
	.value3 {
		border-color: @color3;
	}
	
	.value3.selected {
		background: @color3;
	}
	
	button.value2 {
		border-color: @color2;
	}
	
	.value2.selected {
		background: @color2;
	}
	
	button.value1 {
		border-color: @color1;
	}
	
	button.value1.selected {
		background: @color1;
	}
	
	button.value0 {
		border-color: @color0;
	}
	
	button.value0.selected {
		background: @color0;
	}
	
	button.value-1 {
		border-color: @color-1;
	}
	
	button.value-1.selected {
		background: @color-1;
	}
	
	button.value-2 {
		border-color: @color-2;
	}
	
	button.value-2.selected {
		background: @color-2;
	}
	
	button.value-3 {
		border-color: @color-3;
	}
	
	button.value-3.selected {
		background: @color-3;
	}
}

.rugby-forecast {
	color: darken(@sc-grey, 10%);
	height: 18px;
	
	div {
		display: inline-block;
		position: relative;
		top: -2px;
	}
	
	i {
		font-size: 12px;
		margin-left: 1px;
		margin-right: 1px;
	}
	
	.selected {
		color: @sc-primary;
	}
	
	.highlighted {
		top: 0px;
		
		i {
			font-size: 18px;
			color: @sc-primary;
			margin-left: 0px;
			margin-right: 0px;
		}
	}
}