.sc-user-leagues-page {
	
	.leagues-panel {
		
		.switch-panel {
			margin-top: 10px;
		}
		
		.league-list-panel {
			margin-top: 10px;
		}
		
		.no-current-league-panel {
			margin-top: 10px;
			padding-top: 25px;
			padding-bottom: 20px;
			.btn {
				margin-top: 20px;
			}
		}
	}
}