@screen-xs-min:				400px;

// Small screen / tablet
@screen-sm-min:              768px;

// Medium screen / desktop
@screen-md-min:                  992px;

// Large screen / wide desktop
@screen-lg-min:                  1200px;

@sc-primary: #22b68c;
@sc-secondary: #c5b19c;


@sc-grey: #eee;

@sc-grey-font: darken(@sc-grey, 35%);
@sc-light-grey-font: darken(@sc-grey, 25%);