html
	head
		meta(charset="utf8")
		title
			|#{t("ranking.title", {league_name: league.name})}
		style.
			@font-face {
				font-family: 'Lato';
				font-style: normal;
				src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
			}
			
			@page
			{
				size: 21cm 29.7cm;
				margin: .5cm .5cm .5cm .5cm;
			}
			
			body {
				font-family: 'Lato', sans-serif;
			}
			
			.page#brand {
				margin-bottom: 5px;
			}
			
			.page #sub_title {
				color: #ccc;
			}
			
			.page table {
				width: 100%;
			}
			
			.page table td {
				border-top: solid 1px #ddd;
				padding: 8px;
			}
			
			.page table th {
				border-bottom: solid 1px #ddd;
				padding: 8px;
			}
			
			.page .rank {
				width: 8%;
				text-align: center;
			}
			
			.page .pseudo {
				width: 72%;
				text-align: left;
			}
			
			.page .pseudo img {
				margin-top: -4px;
				margin-bottom: -4px;
				margin-right: 5px;
				max-height: 20px;
				max-width: 20px;
			}
			
			.page .points {
				width: 20%;
				text-align: center;
			}
	body
		.page
			center#brand
				img(src="#{staticRoot + '/img/scoragora_full.png'}" height="25")
			center
				h2
					|#{t("ranking.subtitle", { "league_name": league.name})}
				h4#sub_title
					|#{t("ranking.title")} - #{date}
			table(cellspadding="0" cellspacing="0")
				thead
					th.rank
						!=t("ranking.rank")
					th.pseudo
						!=t("ranking.pseudo")
					th.points
						!=t("ranking.points")
				tbody
					- var rank = 0;
					for member in league.members
						if members[member.user]
							tr
								td.rank
									if member.rank == rank
										|&nbsp;-&nbsp; 
									else
										- rank = member.rank;
										|##{rank}
								td.pseudo
									img(src="#{members[member.user].pictureUrl}")
									|#{members[member.user].displayName}
								td.points
									|#{member.points}
			