<template>
  <modal-template :title="`Scrapped info from ${source}`" @discard="discard">
    <template slot="body">
      <div class="form-horizontal">
        <h4 class="text-center">Match {{match.hometeam.label}} - {{match.awayteam.label}}</h4>
        <div class="form-group row" style="margin-bottom: -10px;">
          <label class="col-4 col-form-label">Date :</label>
          <div class="col-8">
            <p class="form-control-plaintext">{{date | amDateFormat('dddd DD MMMM, HH:mm')}}</p>
          </div>
        </div>
      </div>
    </template>
    <template slot="footer">
      <button type="button" class="btn btn-link" @click="discard">Close</button>
      <button type="button" class="btn btn-primary" @click="updateDate">Update date</button>
    </template>
  </modal-template>
</template>

<script>
  import modalContentMixin from '../../mixins/modalContent';
  import * as matchServices from '../../services/matches';

  export default {
    props: ['date', 'match', 'source'],
    mixins: [modalContentMixin],
    data() {
      return {
        alert: {},
      };
    },
    methods: {
      async updateDate() {
        this.alert =  {
          type: "info",
          message: "Updating match date",
        };
        const res = await matchServices.updateMatch(this.match._id, { datetime: this.date.toDate() });
        this.handleResponse(res);
      },
    },
  };
</script>
