<template>
  <div v-if="match">
    <div class="row">
      <div class="col-12">
        <bootstrap-alert :alert="alert" @dismiss="alert = {}"></bootstrap-alert>
      </div>
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12">
            <div class="text-muted float-left">
              <span>{{ match.datetime | amDateFormat('ddd DD MMM, HH:mm') }}</span>
            </div>
            <div class="float-right">
              <button type="button" class="btn btn-primary btn-sm" v-modal-trigger="'matchEditionModal'">Edit details</button>
            </div>
          </div>
        </div>
        <div class="fixture-panel">
          <div class="col text-right">
            <h2>{{match.hometeam && match.hometeam.label || ''}}</h2>
          </div>
          <div class="score-panel">
            <h3>
              <strong class="match-result">{{match.result | score(match.sport) }}</strong>
            </h3>
            <p v-if="match.live" class="text-muted" style="margin-top: -15px; margin-bottom: -20px;">live</p>
          </div>
          <div class="col text-left">
            <h2>{{match.awayteam && match.awayteam.label|| ''}}</h2>
          </div>
        </div>
        <div class="float-left" style="display: flex;">
          <h4>
            <router-link :to="{ name: 'competitionDetail', params: { id: match.competition } }">competition</router-link>
          </h4>
          <h4 style="padding: 0 5px;">&nbsp;|&nbsp;</h4>
          <h4>
            <router-link :to="{ name: 'matchJson', params: { id: match._id } }">json</router-link>
          </h4>
        </div>
        <div class="float-right" v-if="match.awayteam && match.hometeam">
          <button
            v-if="match.status === 'closed'"
            class="btn btn-primary btn-sm"
            @click="triggerComputePoints(true)"
          >Clear score</button>
          <button
            v-if="!match.status || match.status === 'active'"
            class="btn btn-primary btn-sm"
            type="button"
            v-modal-trigger="'resultModal'"
          >Set score</button>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div v-if="rule" class="row">
          <rule-snippet :rule="rule"></rule-snippet>
        </div>
        <div v-if="!rule">
          <h4>Rule</h4>
          <center>
            <p>No rule set</p>
          </center>
        </div>
      </div>
    </div>
    <div class="row" v-if="stats">
      <div class="col-12">
        <hr>
        <div class="float-left" style="font-size: 25px;">
          <span class="text-muted">Stats</span>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <form>
          <div class="form-group row">
            <label class="col-4 col-form-label">All forecasts</label>
            <div class="col-6">
              <p class="form-control-plaintext">{{stats.total}}</p>
            </div>
            <label class="col-4 col-form-label">Active forecasts</label>
            <div class="col-6">
              <p class="form-control-plaintext">{{stats.active}} ({{stats.percentage}}%)</p>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-md-6" v-if="stats.items">
        <div class="forecast-panel">
          <d3-bar
            v-if="match.sport === 'rugby'"
            :data="stats.items"
            verticalLabel="Forecasts (%)"
          ></d3-bar>
          <d3-grouped-bar
            v-if="match.sport === 'football'"
            :data="stats.items"
            verticalLabel="Goal forecasts (%)"
          ></d3-grouped-bar>
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="col-sm-12">
        <table-view
          title="Automation"
          :columns="automationColumns"
          :pagination="automationPagination"
        >
          <template slot="actions">
            <button type="button" class="btn btn-primary" v-modal-trigger="'automationEditionModal'" style="margin-top: -20px;">Edit automation</button>
          </template>
          <template slot="url_cell" slot-scope="props">
            <a :href="'//' + props.value.url" target="_blank">{{props.value.url}}</a>
          </template>
          <template slot="action_cell" slot-scope="props">
            <async-button class="btn btn-sm btn-primary" :onClick="() => scrapDate(props.value.source)">Scrap date</async-button>
          </template>
        </table-view>
      </div>
    </div>
    <modal ref="matchEditionModal" @ok="loadMatch">
      <edition-modal :match="match"></edition-modal>
    </modal>
    <modal ref="resultModal" @ok="triggerComputePoints(false)">
      <result-modal :match="match"></result-modal>
    </modal>
    <modal ref="automationEditionModal" size="lg" @ok="loadMatch">
      <automation-edition
        :automation="match.automation"
        title="Edit match automation"
        :examples="automationExamples[match.sport]"
        :save="saveAutomation"
      ></automation-edition>
    </modal>
    <modal ref="automationDateModal" @ok="loadMatch">
      <automation-date :match="match" :date="scrapped.date" :source="scrapped.source"></automation-date>
    </modal>
  </div>
</template>

<script>
  import moment from 'moment';
  import notifier from '../../common/Notifier';
  import * as matchServices from '../../services/matches';
  import * as ruleServices from '../../services/rules';
  import * as taskServices from '../../services/tasks';

  import { AUTOMATION_EXAMPLES, SOURCES } from '../../common/common';

  import AutomationDate from './automationDate.vue';
  import EditionModal from './edition.vue';
  import ResultModal from './result.vue';
  import RuleSnippet from '../rules/snippet.vue';

  const AUTOMATION_COLUMNS = [{
    className: 'text-left',
    title: 'Source',
    value: (row) => row.source,
  }, {
    className: 'text-left',
    customCell: true,
    key: 'url',
    title: 'Url',
  }, {
    className: 'text-right',
    customCell: true,
    key: 'action',
  }];

  export default {
    data() {
      return {
        alert: {},
        automationColumns: AUTOMATION_COLUMNS,
        automationExamples: AUTOMATION_EXAMPLES.matches,
        automationPagination: {
          items: false,
        },
        match: false,
        rule: false,
        scrapped: {},
      };
    },
    components: {
      AutomationDate,
      EditionModal,
      ResultModal,
      RuleSnippet,
    },
    async created() {
      await this.loadMatch();
      if (this.match.rule) {
        this.rule = await ruleServices.getRule(this.match.rule);
      }
    },
    methods: {
      async triggerComputePoints(revert) {
        const res = await taskServices.createTaskComputePoints(this.match._id, revert);
        if (res.status === 200) {
          notifier.notify({
            type: 'success',
            message: res.message,
          }, 3000);
          await this.loadMatch();
        } else {
          notifier.notify({
            type: 'danger',
            message: res.message || res
          }, 5000);
        }
      },
      async loadMatch() {
        this.match = await matchServices.getMatchWithTeams(this.$route.params.id);
        const items = [];
        for (let source in this.match.automation) {
          const value = this.match.automation[source];
          if (value.url) {
            items.push({
              source,
              url: value.url,
            });
          }
        }
        this.automationPagination.items = items;
        this._buildForecastData();
      },
      async saveAutomation(update) {
        return matchServices.updateMatch(this.match._id, { automation: update });
      },
      async scrapDate(source) {
        const date = await matchServices.scrapMatchDate(this.match._id, source);
        if (date) {
          this.scrapped = {
            date: moment.unix(date),
            source,
          }
          this.$refs.automationDateModal.open();
        }
      },
      _buildForecastData() {
        this.stats = {
          total: 0,
          active: 0,
          percentage: 0,
        };
        if (this.match && this.match.forecast) {
          if (this.match.sport === 'rugby' && this.match.forecast.slices) {
            const items = [];
            for (let i = 3; i >= -3; i--) {
              items.push({ value: 0, label: i, percentage: 0 });
            }
            this.match.forecast.slices.forEach((item) => {
              this.stats.total += item.count;
              if (!!item.difference_slice) {
                items[3 - item.difference_slice].value = item.count;
                this.stats.active += item.count;
              }
            });
            if (this.stats.active) {
              items.forEach((item) => {
                item.percentage = (100 * item.value / this.stats.active).toFixed(2);
              });
            }
            this.stats.items = items;
          }
          if (this.match.sport === 'football' && this.match.forecast) {
            this.match.forecast.hometeam.forEach((item) => {
              this.stats.total += item.count;
              if (typeof item.score === "number") {
                this.stats.active += item.count;
              }
            });
            // Only take the score between 0 and 5
            const scores = [];
            for (let i = 0; i < 6; i++) {
              scores.push({ value: i });
            }
            if (this.stats.active) {
              this.match.forecast.hometeam.forEach((item) => {
                if (typeof item.score === "number" && item.score <= 5 && item.score >= 0) {
                  scores[item.score].home = {
                  	percentage : (100 * item.count / this.stats.active).toFixed(2),
                  	value: item.count,
                  };
                }
              });
              this.match.forecast.awayteam.forEach((item) => {
                if (typeof item.score === "number" && item.score <= 5 && item.score >= 0) {
                	scores[item.score].away = {
                		percentage: (100 * item.count / this.stats.active).toFixed(2),
                		value: item.count,
                	};
                }
              });
              // remove the unused values on the border
              let i = 5;
              while (i > 0 && (!scores[i].away || scores[i].away.score === 0) && (!scores[i].home || scores[i].home.score === 0)) {
    	          i--;
              }
              scores.splice(i + 1, 5 - i);
            }
            this.stats.items = scores;
          }
          if (this.stats.total) {
            this.stats.percentage = (100 * this.stats.active / this.stats.total).toFixed(2);
          }
        }
      },
    },
  };
</script>

<style scoped>
  .fixture-panel {
    display: flex;
    padding: 50px 0px;
  }
  .score-panel {
    padding: 5px;
  }
  .forecast-panel {
    width: 100%;
    padding-top: 50%;
    position: relative;
  }
  .forecast-panel > * {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
  }
</style>
