<template>
  <modal-template title="Edit match" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <form>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Sport</label>
          <div class="col-sm-8">
            <dropdown-select v-model="form.sport" btnClass="btn-outline-primary" :options="sportOptions"></dropdown-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Date</label>
          <div class="col-sm-8" style="display: flex;">
            <input type="text" v-model="form.date" placeholder="YYYY/MM/DD" class="form-control text-input-date">
            <span class="text-muted" style="margin: 7px;">at</span>
            <input type="text" v-model="form.time" placeholder="HH:mm" class="form-control text-input-time">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Hometeam</label>
          <div class="col-sm-8">
            <typeahead
              v-model="form.hometeam"
              placeholder="Hometeam"
              className="form-control"
              :getLabel="item => item.label"
              :getItems="getTeams"
            ></typeahead>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Awayteam</label>
          <div class="col-sm-8">
            <typeahead
              v-model="form.awayteam"
              placeholder="Awayteam"
              className="form-control"
              :getLabel="item => item.label"
              :getItems="getTeams"
            ></typeahead>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-4 form-check">
            <input class="form-check-input" type="checkbox" v-model="form.live">
            <label class="form-check-label">Live</label>
          </div>
        </div>
        </div>
      </form>
    </template>
    <template slot="footer">
      <button type="button" class="btn btn-link" @click="discard">Cancel</button>
      <button type="button" class="btn btn-primary" @click="edit">Save</button>
    </template>
  </modal-template>
</template>

<script>
  import moment from 'moment';
  import modalContentMixin from '../../mixins/modalContent';
  import * as matchServices from '../../services/matches';
  import * as teamServices from '../../services/teams';
  import { SPORTS } from '../../common/common';

  export default {
    props: ['match'],
    mixins: [modalContentMixin],
    data() {
      const form = {
        awayteam: Object.assign({}, this.match.awayteam),
        date: moment(this.match.datetime || undefined).format('YYYY/MM/DD'),
        hometeam: Object.assign({}, this.match.hometeam),
        live: this.match.live,
        sport: this.match.sport,
        time: moment(this.match.datetime || undefined).format('HH:mm'),
      };
      return {
        alert: {},
        form,
        sportOptions: SPORTS,
      };
    },
    methods: {
      async edit() {
        let datetime;
        if (this.form.date && this.form.time) {
          datetime = moment(`${this.form.date} ${this.form.time}`, 'YYYY/MM/DD, HH:mm');
          if (!datetime.isValid()) {
            this.alert = {
              type: 'danger',
              message: 'Invalid date given',
            };
            return;
          }
          datetime = datetime.format();
        }
        const update = {
          hometeam: this.form.hometeam && this.form.hometeam._id || null,
          hometeamname: this.form.hometeam && this.form.hometeam.name || null,
          awayteam: this.form.awayteam && this.form.awayteam._id || null,
          awayteamname: this.form.awayteam && this.form.awayteam.name || null,
          live: this.form.live,
          datetime: datetime,
          sport: this.form.sport,
        };
        const res = await matchServices.updateMatch(this.match._id, update);
        this.handleResponse(res);
      },
      async getTeams(search) {
        const res = await teamServices.getTeams({
          search,
          sport: this.form.sport,
          limit: 5,
        });
        if (res.status === 200) {
          return res.teams;
        }
        notifier.notify({
          type: 'danger',
          message: res.message,
        }, 3000);
        return [];
      },
    }
  };
</script>
