<template>
  <div class="panel-group">
    <bootstrap-alert :alert="alert" @discard="alert = {}"></bootstrap-alert>
    <div class="card">
      <div class="card-header">
        Matches to treat :
        <p class="pull-right" style="margin-bottom: 0px;">{{todayDate | amDateFormat('dddd, MMMM Do, YYYY')}}</p>
      </div>
      <table-view
        :columns="columns"
        :pagination="todayPagination"
        emptyLabel="No match to treat"
      >
        <template slot="action_cell" slot-scope="props">
          <router-link :to="{ name: 'matchDetail', params: { id: props.value._id } }">
            <span v-if="props.value.isPast">Set score</span>
            <span v-else>Details</span>
          </router-link>
        </template>
      </table-view>
    </div>
    <hr/>
    <div class="row" style="margin-top: 10px;">
      <div class="col"></div>
      <div class="form-inline">
        <date-picker
          :bootstrap-styling="true"
          :calendar-button="true"
          calendar-class="top"
          :disabled="{ to: new Date(2014, 0, 1) }"
          calendar-button-icon="fa fa-calendar"
          format="dd/MM/yyyy"
          :maximumView="'year'"
          :minimumView="'day'"
          placeholder="Search matches by date"
          v-model="form.day"
        ></date-picker>
        <button type="submit" class="btn btn-primary" style="margin-left: 10px;" @click="search">Go!</button>
      </div>
      <div class="col"></div>
    </div>
    <table-view
      v-if="form.day"
      :columns="columns"
      :limit="5"
      :pagination="pagination"
      :title="title"
      emptyLabel="No match found"
    >
      <template slot="action_cell" slot-scope="props">
        <router-link :to="{ name: 'matchDetail', params: { id: props.value._id } }">
          <span v-if="props.value.isPast">Set score</span>
          <span v-else>Details</span>
        </router-link>
      </template>
    </table-view>
  </div>
</template>

<script>
  import moment from 'moment';
  import paginationMixin from '../../mixins/pagination';
  import * as matchServices from '../../services/matches';

  const COLUMNS = [{
    className: 'text-left',
    title: 'Date',
    value: row => moment(row.datetime).format('DD/MM/YYYY, HH:mm'),
  }, {
    className: 'text-right',
    value: row => row.hometeam && row.hometeam.label || '',
  }, {
    className: 'text-center score-column',
    title: 'Match',
    value: () => ' - ',
  }, {
    className: 'text-left',
    value: row => row.awayteam && row.awayteam.label || '',
  }, {
    className: 'text-right',
    customCell: true,
    key: 'action',
  }];
  const LIMIT = 5;

  export default {
    mixins: [paginationMixin],
    data() {
      return {
        alert: {},
        columns: COLUMNS,
        form: {
          day: null,
        },
        pagination: {
          items: false,
          count: false,
          page: 0,
        },
        todayDate: moment(),
        todayPagination: {
          items: false,
          count: false,
          page: 0,
        },
      };
    },
    computed: {
      title() {
        return `Match list${this.pagination.count ? ` (${this.pagination.count})` : ''}`;
      },
    },
    watch: {
      'form.day': function () {
        console.log(this.form.day);
        if (this.form.day) {
          this.search();
        }
      },
    },
    async created() {
      const res = await matchServices.getMatches({
        status: "active",
        limit: 5
      });
      if (res.status === 200) {
        res.matches.forEach((match) => {
          match.isPast = moment(match.datetime).isBefore(moment());
        });
        this.todayPagination.items = res.matches;
        this.todayPagination.count = res.matches.length;
      } else {
        this.alert = {
          type: 'danger',
          message: res.message,
        };
      }
    },
    methods: {
      async loadItems(page, withCount) {
        if (!this.form.day) {
          this.pagination.page = page;
          this.pagination.items = [];
          if (withCount) {
            this.pagination.count = 0;
          }
          return;
        }
        const res = await matchServices.getMatches({
          limit: LIMIT,
          page,
          date: moment(this.form.day).format(),
          count: withCount
        });
        if (res.status === 200) {
          this.pagination.page = page;
          this.pagination.items = res.matches;
          if (withCount) {
            this.pagination.count = res.count;
          }
        }
      },
    },
  };
</script>
