<template>
  <modal-template title="Set match Result" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <div class="row" style="display: flex; margin-bottom: 20px;">
        <div class="col text-right">
          <h4>{{match.hometeam.label}}</h4>
        </div>
        <div class="text-center" style="width: 30px;">
          <h4> - </h4>
        </div>
        <div class="col text-left">
          <h4>{{match.awayteam.label}}</h4>
        </div>
      </div>
      <form>
        <div class="form-group row" v-if="match.sport === 'football'">
          <div class="col"></div>
          <div class="input-group" style="width: auto;">
            <input type="number" v-model.number="form.hometeam.score" class="form-control text-input-1000" min="0">
            <div class="input-group-prepend">
              <span class="input-group-text">-</span>
            </div>
            <input type="number" v-model.number="form.awayteam.score" class="form-control text-input-1000" min="0">
          </div>
          <div class="col"></div>
        </div>
        <div v-if="match.sport === 'rugby'">
          <div class="form-group row">
            <label for="score_input" class="text-right col-4">Score</label>
            <div class="input-group text-left col-8">
              <input type="number" v-model.number="form.hometeam.score" class="form-control text-input-1000" min="0" style="float: right;">
              <div class="input-group-prepend">
                <span class="input-group-text">-</span>
              </div>
              <input type="number" v-model.number="form.awayteam.score" class="form-control text-input-1000" min="0">
            </div>
          </div>
          <div class="form-group row">
            <label for="tries_input" class="text-right col-4">Tries</label>
            <div class="input-group text-left col-8">
              <input type="number" v-model.number="form.hometeam.tries" class="form-control text-input-1000" min="0" style="float: right;">
              <div class="input-group-prepend">
                <span class="input-group-text">-</span>
              </div>
              <input type="number" v-model.number="form.awayteam.tries" class="form-control text-input-1000" min="0">
            </div>
          </div>
        </div>
      </form>
    </template>
    <template slot="footer">
      <button type="button" class="btn btn-link" @click="discard">Cancel</button>
      <button type="button" class="btn btn-primary" @click="setResult">Set</button>
    </template>
  </modal-template>
</template>

<script>
  import modalContenMixin from '../../mixins/modalContent';
  import * as matchServices from '../../services/matches';

  export default {
    props: ['match'],
    mixins: [modalContenMixin],
    data() {
      return {
        alert: {},
        form: {
          awayteam: {},
          hometeam: {},
        },
      };
    },
    methods: {
      async setResult () {
        const res = await matchServices.setMatchResult(this.match._id, this.form, this.match.sport)
        this.handleResponse(res);
      },
    }
  };
</script>
