<div class="container">
  <div class="row">
    <div class="page-header header">
      <h3 class="text-muted">{{'about.story.title'| i18next}}</h3>
    </div>
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
      <p>{{'about.story.two_years_ago' | i18next}}</p>
      <p>{{'about.story.purpose.title'| i18next}}</p>

      <ul>
        <li>{{'about.story.purpose.purpose1' | i18next}}</li>
        <li>{{'about.story.purpose.purpose2' | i18next}}</li>
        <li>{{'about.story.purpose.purpose3' | i18next}}</li>
        <li>{{'about.story.purpose.purpose4' | i18next}}</li>
      </ul>
    </div>
  </div>
</div>
