<div class="container">
  <div class="row">
    <div class="page-header header">
      <div class="pull-right">
        <a ui-sref="leagueCreation" class="btn sc-btn">
          <span class="glyphicon glyphicon-plus"></span>
          {{'forecast.index.league_create' | i18next}}
        </a>
      </div>
      <h3 class="text-muted">{{'subtitle.forecast.index' | i18next}}</h3>
    </div>
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{'forecast.index.competition_name' | i18next}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="forecast in forecasts">
                <td>
                  <a ui-sref="forecast({id: forecast._id})">{{'competition.' + forecast.competition.name + '.name' | i18next}}&nbsp;<span ng-if="forecast.competition.config && forecast.competition.config.type == 'championship'">{{forecast.competition.year - 1}}/</span>{{forecast.competition.year}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
