<div class="container">
  <div class="row">
    <div class="page-header header">
      <h3 class="text-muted">{{'subtitle.faq' | i18next }}</h3>
    </div>

    <div class="panel-group col-md-10 col-md-offset-1">
      <div class="page-header header">
        <h3 class="text-muted">{{'faq.parts.get_started' | i18next}}</h3>
      </div>

      <div>
        <div>
          <h4><a href ng-click="isCreateAccountCollapsed = !isCreateAccountCollapsed">{{'faq.create_account.question' | i18next}}</a></h4>
        </div>

        <div uib-collapse="isCreateAccountCollapsed">

          <div class="well well-lg">
            {{'faq.create_account.goto' | i18next}}&nbsp;<a href ui-sref="register">{{'faq.create_account.link' | i18next}}</a>{{'faq.create_account.choose' | i18next}}

            <ul>
              <li>{{'faq.create_account.social' | i18next}}</li>


              <li>{{'faq.create_account.email' | i18next}}</li>
            </ul>
          </div>

        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isCreateLeagueCollapsed = !isCreateLeagueCollapsed">{{'faq.create_league.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isCreateLeagueCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.create_league.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isHowToInviteCollapsed = !isHowToInviteCollapsed">{{'faq.invite_to_league.question' | i18next}}</a></h4>
        </div>

        <div uib-collapse="isHowToInviteCollapsed">
          <div class="well well-lg">
            <p>{{'faq.invite_to_league.answer' | i18next}}</p>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="toto = !toto">{{'faq.login_join.question' | i18next}}</a></h4>
        </div>
        <div uib-collapse="toto">
          <div class="well well-lg">
            <p>{{'faq.login_join.answer' | i18next}}</p>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isHowToCompleteForecastCollapsed = !isHowToCompleteForecastCollapsed">{{'faq.predict.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isHowToCompleteForecastCollapsed">
          <div>
            <div class="well well-lg">
              <p>{{'faq.predict.answer_before_link' | i18next}} <a ui-sref="forecasts">{{'faq.predict.answer_link' | i18next}}</a> {{'faq.predict.answer_after_link' | i18next}}</p>
            </div>
          </div>
        </div>
      </div>


      <div class="page-header header">
        <h3 class="text-muted">{{'faq.parts.operations' | i18next}}</h3>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isCrowdscoringCollapsed = !isCrowdscoringCollapsed">{{'faq.crowdscoring.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isCrowdscoringCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.crowdscoring.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isMultipleLeagueCollapsed = !isMultipleLeagueCollapsed">{{'faq.multileague.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isMultipleLeagueCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.multileague.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isLateAccountCreationCollapsed = !isLateAccountCreationCollapsed">{{'faq.late_accounts.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isLateAccountCreationCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.late_accounts.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isLateLeagueJoinCollapsed = !isLateLeagueJoinCollapsed">{{'faq.late_join.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isLateLeagueJoinCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.late_join.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isCompleteAllForecastCollapsed = !isCompleteAllForecastCollapsed">{{'faq.prediction_time.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isCompleteAllForecastCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.prediction_time.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div class="page-header header">
        <h3 class="text-muted">{{'faq.parts.privacy' | i18next}}</h3>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isSocialLoginCollapsed = !isSocialLoginCollapsed">{{'faq.social_logins.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isSocialLoginCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.social_logins.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isNoSPAMCollapsed = !isNoSPAMCollapsed">{{'faq.email_spam.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isNoSPAMCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.email_spam.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isPrivacyCollapsed = !isPrivacyCollapsed">{{'faq.privacy.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isPrivacyCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.privacy.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isDeleteAccountCollapsed = !isDeleteAccountCollapsed">{{'faq.delete.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isDeleteAccountCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.delete.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div class="page-header header">
        <h3 class="text-muted">{{'faq.parts.rules' | i18next}}</h3>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isPointsCalculationCollapsed = !isPointsCalculationCollapsed">{{'faq.points_calculation.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isPointsCalculationCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.points_calculation.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isPointsEvolutionCollapsed = !isPointsEvolutionCollapsed">{{'faq.points_evolution.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isPointsEvolutionCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.points_evolution.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isOthersForecastsCollapsed = !isOthersForecastsCollapsed">{{'faq.see_others_predictions.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isOthersForecastsCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.see_others_predictions.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div class="page-header header">
        <h3 class="text-muted">{{'faq.parts.personnalize' | i18next}}</h3>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isAvatarChangeCollapsed = !isAvatarChangeCollapsed">{{'faq.change_profile_pic.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isAvatarChangeCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.change_profile_pic.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isPersonalProfilPicCollapsed = !isPersonalProfilPicCollapsed">{{'faq.personal_pic.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isPersonalProfilPicCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.personal_pic.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isChangeLanguageCollapsed = !isChangeLanguageCollapsed">{{'faq.change_language.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isChangeLanguageCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.change_language.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isChangePasswordCollapsed = !isChangePasswordCollapsed">{{'faq.change_password.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isChangePasswordCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.change_password.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div class="page-header header">
        <h3 class="text-muted">{{'faq.parts.general' | i18next}}</h3>
      </div>


      <div>
        <div>
          <h4><a href ng-click="isRevenueModelCollapsed = !isRevenueModelCollapsed">{{'faq.business_model.question' | i18next}}</a>
          </h4>
        </div>


        <div uib-collapse="isRevenueModelCollapsed">
          <div>
            <div class="well well-lg">
              {{'faq.business_model.answer' | i18next}}
            </div>
          </div>
        </div>
      </div>


      <div class="page-header header">
        <h3 class="text-muted">{{'faq.parts.nojoy' | i18next}}</h3>
      </div>


      <div>
        <div>
          <p>{{'faq.nojoy_msg' | i18next}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
