<div class="container">
  <div class="col-sm-4">
    <p class="text-muted credit text-center"><a ui-sref="about">{{'footer.about' | i18next}}</a>
    </p>
  </div>


  <div class="col-sm-4">
    <p class="text-muted credit text-center"><a href="https://trello.com/b/wvtjWTu0" id="featureRequest">{{'footer.feature_request' | i18next}}</a>
    </p>
  </div>


  <div class="col-sm-4 text-center">
    <p class="text-muted credit text-center">{{'footer.spread_the_word' | i18next}}</p>
    <iframe class="twitter-follow-button twitter-follow-button" data-twttr-rendered="true" frameborder="0" id="twitter-widget-0" name="twitter-widget-0" scrolling="no" src=
    "//platform.twitter.com/widgets/follow_button.b8521baa6750e75c2cbc4369801f822e.en.html#_=1422720765380&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=scoragora&amp;show_count=false&amp;show_screen_name=true&amp;size=m"
    style="width: 126px; height: 20px;"></iframe>

    <div>
      <div class="fb-like" data-href="//www.scoragora.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>

    <g:plusone></g:plusone>

  </div>

  <div class="text-center text-muted" id="copyright">
    <small>© Scoragora - 2014</small>
  </div>
</div>
