<script type="text/ng-template" id="match_line">
<td class="date" date="{{ match_dico[match.match].datetime | amDateFormat: 'ddd DD MMM, HH:mm'}}" date-short="{{ match_dico[match.match].datetime | amDateFormat: 'DD/MM, HH:mm'}}">
</td>

<td class="hometeam" ng-if="match_dico[match.match].hometeamname">
  <span class="team-name" team-name="{{'teams:' + match_dico[match.match].hometeamname + '.name' | i18next}}" team-name-short="{{'teams:' + match_dico[match.match].hometeamname + '.short' | i18next}}"></span>
  <img ng-src="{{'/img/teams/' + match_dico[match.match].hometeamname + '_60.png'}}" height="33" width="33" uib-tooltip="{{'teams:' + match_dico[match.match].hometeamname + '.name' | i18next}}" tooltip-placement="top" class="team-flag">
</td>

<td class="hometeam" ng-if="!match_dico[match.match].hometeamname">
  N/A
</td>

<td class="score-football" ng-if="competition.sport == 'football'">
  <div class="match-forecast" ng-if="match_dico[match.match].closed">
    <div class="forecast" tooltip-placement="top" uib-tooltip="{{'forecast.tooltip.forecast' | i18next}}">
      <span>{{match_dico[match.match].match_forecast | score:competition.sport}}</span>
    </div>
    <div class="result" tooltip-placement="bottom" uib-tooltip="{{'forecast.tooltip.actual_result' | i18next}}">
      <span>{{match_dico[match.match].result | score:competition.sport}}</span>
    </div>
  </div>
  <div class="edit-match-score" ng-if="!match_dico[match.match].closed">
    <input type="number" class="home" ng-model="match_dico[match.match].match_forecast.hometeam.score" min="0" tooltip-placement="left" ng-i18next="[tooltip]({score: match.match.hometeam_crowdscoring})forecast.table.crowdscoring">
    <span ng-class="match_dico[match.match].match_forecast.status">-</span>
    <input type="number" class="away" ng-model="match_dico[match.match].match_forecast.awayteam.score" min="0" tooltip-placement="right" ng-i18next="[tooltip]({score: match.match.hometeam_crowdscoring})forecast.table.crowdscoring">
  </div>
</td>

<td class="score-rugby" ng-if="competition.sport == 'rugby'">
  <sc-rugby-forecast-input ng-model="match_dico[match.match].match_forecast.difference_slice" ng-if="!match_dico[match.match].closed"></sc-rugby-forecast-input>
  <div ng-if="match_dico[match.match].closed" class="match-forecast">
    <sc-rugby-forecast forecast="match_dico[match.match].match_forecast" result="match_dico[match.match].result" class="forecast"></sc-rugby-forecast>
    <div class="result" tooltip-placement="bottom" uib-tooltip="{{'forecast.tooltip.actual_result' | i18next}}">
      <span>{{match_dico[match.match].result | score:competition.sport}}</span>
    </div>
  </div>
</td>

<td class="awayteam" ng-if="match_dico[match.match].awayteam && match_dico[match.match].awayteamname">
  <img ng-src="{{'/img/teams/' + match_dico[match.match].awayteamname + '_60.png'}}" height="33" width="33" uib-tooltip="{{'teams:' + match_dico[match.match].awayteamname + '.name' | i18next}}" class="team-flag">
  <span class="team-name" team-name="{{'teams:' + match_dico[match.match].awayteamname + '.name' | i18next}}" team-name-short="{{'teams:' + match_dico[match.match].awayteamname + '.short' | i18next}}"></span>
</td>

<td class="awayteam" ng-if="!match_dico[match.match].awayteamname">
  N/A
</td>

<td class="text-right hidden-xs">
</td>
</script>

<div class="container">
  <div class="page-header header" ng-if="competition">
    <h3 class="text-muted">{{'competition.' + competition.name + '.name' | i18next}} <span ng-if="competition.config && competition.config.type == 'championship'">{{competition.year - 1}}/</span>{{competition.year}}</h3>
  </div>
  <div class="sc-forecast-page" ng-if="competition && match_dico">
    <uib-alert type="{{alert.type}}" ng-if="alert && alert.type">{{alert.message}}</uib-alert>

    <div class="row">
      <div class="col-xs-12" ng-if="stats && competition.sport == 'rugby' && false">
        <div class="sc-stats-section clearfix hidden-xs">
          <div class="col-sm-4">
            <div class="sc-header">Points</div>
            <div class="sc-body">
              <div class="sc-huge">{{stats.points}}</div>
            </div>
          </div>
          <div class="col-sm-4" style="height: 100%;">
            <div class="sc-header">Bets</div>
            <div class="sc-body">
              <table>
                <tbody>
                  <tr>
                    <td class="sc-figure">{{stats.bet.matches}}</td>
                    <td class="sc-legend">completed matches</td>
                  </tr>
                  <tr>
                    <td class="sc-figure">{{stats.bet.direction}}<span class="sc-small">%</span></td>
                    <td class="sc-legend">good direction</td>
                  </tr>
                  <tr>
                    <td class="sc-figure">{{stats.bet.perfect}}<span class="sc-small">%</span></td>
                    <td class="sc-legend">perfect bet</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-4" style="height: 100%;">
            <div class="sc-header">Competition</div>
            <div class="sc-body">
              <table>
                <tbody>
                  <tr>
                    <td class="sc-figure">{{stats.competition.matches}}</td>
                    <td class="sc-legend">matches</td>
                  </tr>
                  <tr>
                    <td class="sc-figure">{{stats.competition.points}}</td>
                    <td class="sc-legend">points on stake in total</td>
                  </tr>
                  <tr>
                    <td class="sc-figure">{{stats.competition.progress}}<span class="sc-small">%</span></td>
                    <td class="sc-legend">progression</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-10 text-center">
        <div class="row" ng-repeat="group in group_names">
          <div class="col-xs-12" ng-attr-id="{{'group_' + group}}">
            <div class="panel panel-default">
              <div class="panel-heading text-left">
                <span>{{'forecast.table.affix.group_name' | i18next: {group_name: group} }}</span>
              </div>
              <table class="table table-condensed">
                <thead>
                  <th>
                    <span class="date" tooltip-placement="top" uib-tooltip="Local timezone" full="{{'forecast.table.headers.datetime' | i18next}}" short="{{'forecast.table.headers.date' | i18next}}"></span>
                  </th>
                  <th class="text-center" full="{{'forecast.table.headers.hometeam' | i18next}}" short="{{'forecast.table.headers.home' | i18next}}"></th>
                  <th class="text-center">{{'forecast.table.headers.score' | i18next}}</th>
                  <th class="text-center" full="{{'forecast.table.headers.awayteam' | i18next}}" short="{{'forecast.table.headers.away' | i18next}}"></th>
                  <th class="hidden-xs"></th>
                </thead>

                <tbody>
                  <tr ng-repeat="match in competition.matches | filterGroup:group" ng-include="'match_line'" class="sc-match-line">
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer text-right visible-xs" ng-if="groupInfo[group] && groupInfo[group].active">
                <button class="btn btn-sm sc-btn save-group" style="margin-top: -5px;" ng-click="saveAll()">
                  {{'forecast.table.save_group' | i18next:{group_name: group} }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-if="days.length">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading text-left">
                <span>{{'forecast.table.affix.day' | i18next: {day: day+1} }}</span>
              </div>
              <table class="table table-condensed">
                <thead>
                  <th>
                    <span class="date" tooltip-placement="top" uib-tooltip="Local timezone" full="{{'forecast.table.headers.datetime' | i18next}}" short="{{'forecast.table.headers.date' | i18next}}"></span>
                  </th>
                  <th class="text-center" full="{{'forecast.table.headers.hometeam' | i18next}}" short="{{'forecast.table.headers.home' | i18next}}"></th>
                  <th class="text-center">{{'forecast.table.headers.score' | i18next}}</th>
                  <th class="text-center" full="{{'forecast.table.headers.awayteam' | i18next}}" short="{{'forecast.table.headers.away' | i18next}}"></th>
                  <th class="hidden-xs"></th>
                </thead>

                <tbody>
                  <tr ng-repeat="match in competition.matches | filterDay:day" ng-include="'match_line'" class="sc-match-line">
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer text-right visible-xs" ng-if="dayInfo[day] && dayInfo[day].active">
                <button class="btn btn-sm sc-btn save-group" style="margin-top: -5px;" ng-click="saveAll()">
                  {{'forecast.table.save_day' | i18next:{day: day+1} }}
                </button>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
          	<sc-pagination page="day" pages="days.length" width="12"></sc-pagination>
          </div>
        </div>
        <div class="row" ng-repeat="round in rounds">
          <div class="col-xs-12" ng-attr-id="{{'round_' + round}}">
            <div class="panel panel-default">
              <div class="panel-heading text-left">
                <span>{{'forecast.table.affix.round_' + round | i18next}}</span>
              </div>
              <table class="table elimination-table table-condensed">
                <thead>
                  <tr>
                    <th>
                      <span class="date" tooltip-placement="top" uib-tooltip="Local timezone" full="{{'forecast.table.headers.datetime' | i18next}}" short="{{'forecast.table.headers.date' | i18next}}"></span>
                    </th>
                    <th class="text-center" full="{{'forecast.table.headers.hometeam' | i18next}}" short="{{'forecast.table.headers.home' | i18next}}"></th>
                    <th class="text-center">{{'forecast.table.headers.score' | i18next}}</th>
                    <th class="text-center" full="{{'forecast.table.headers.awayteam' | i18next}}" short="{{'forecast.table.headers.away' | i18next}}"></th>
                    <th class="hidden-xs"></th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="match in competition.matches | filter:{round: round, valid: true}" ng-include="'match_line'" class="sc-match-line">
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer text-right visible-xs" ng-if="roundInfo[round] && roundInfo[round].active">
                <button class="btn btn-sm sc-btn save-group" style="margin-top: -5px;" ng-click="saveAll()">
                  {{'forecast.table.save_elimination' | i18next:{round: round} }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <nav class="hidden-xs" id="affix_col" sc-affix offset-top="70" offset-bottom="100">
          <ul class="nav affix-top" data-offset-bottom="160" data-offset-top="80" data-spy="affix">
            <li ng-if="competition.status == 'public'">
              <button class="btn sc-btn" ng-click="saveAll()">{{'forecast.table.save_all' | i18next}}</button>
            </li>
            <li ng-show="false">
              <a href ng-click="popoverEnabled = true" style="margin-top: 5px;" ng-show="!popoverEnabled">{{'forecast.table.affix.enable_hints' | i18next}}</a>
              <a href ng-click="popoverEnabled = false" style="margin-top: 5px;" ng-show="popoverEnabled">{{'forecast.table.affix.disable_hints' | i18next}}</a>
            </li>
            <li ng-if="competition.rules">
              <a href ng-click="openRulesModal()" style="margin-top: 5px;">{{'forecast.table.point_computation' | i18next}}</a>
            </li>
            <li ng-if="competition.status == 'public' || competition.rules">
              <hr>
            </li>
            <li ng-repeat="group in group_names">
              <a href class="affix-link" ng-click="scrollTo('group_' + group)">{{'forecast.table.affix.group_name' | i18next:{'group_name': group} }}</a>
            </li>
            <li ng-repeat="day in days" ng-if="false">
              <a href class="affix-link" ng-click="scrollTo('day_' + day)">{{'forecast.table.affix.day' | i18next:{day: day+1} }}</a>
            </li>
            <li ng-if="(group_names && group_names.length > 0 || days && days.length > 0) && rounds && rounds.length > 0">
              <hr>
            </li>
            <li ng-repeat="round in rounds">
              <a class="affix-link" href ng-click="scrollTo('round_' + round)">{{'forecast.table.affix.round_' + round | i18next}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
