<div class="sc-top-banner page-header header">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" ng-if="userInfo.userId">
      <div class="navbar-header">
        <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle">
          <span class="sr-only">Afficher le menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a ui-sref="user({id: userInfo.userId})" class="navbar-brand">
            <img id="header_profile_picture" ng-src="{{userInfo.pictureURL}}" alt="" width="40" height="40" class="img-circle">
            <span id="header_username">{{userInfo.displayName}}</span>
          </a>
      </div>
      <div uib-collapse="navCollapsed" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a ui-sref="userLeagues({id: user._id})" ng-click="navCollapsed = true">{{'header.leagues' | i18next}}</a>
          </li>
          <li>
            <a ui-sref="forecasts" ng-click="navCollapsed = true">{{'header.forecasts' | i18next}}</a>
          </li>
          <li>
            <a ui-sref="rules" ng-click="navCollapsed = true">{{'header.rules' | i18next}}</a>
          </li>
          <li>
            <a ui-sref="faq" ng-click="navCollapsed = true">{{'header.faq' | i18next}}</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href ng-click="logout()">
              <span class="glyphicon glyphicon-log-in" style="margin-right: 5px;"></span>
              <span> {{'header.logout' | i18next}}</span>
            </a>
          </li>
        </ul>

      </div>
    </div>

    <div class="container" ng-if="!userInfo.userId">
      <div class="navbar-header">
        <button class="navbar-toggle" ng-init="navCollapsed2 = true" ng-click="navCollapsed2 = !navCollapsed2" type="button">
          <span class="sr-only">Afficher le menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home">Scoragora</a>
      </div>

      <div uib-collapse="navCollapsed2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a ui-sref="rules" ng-click="navCollapsed2 = true">{{'header.rules' | i18next}}</a></li>
          <li><a ui-sref="faq" ng-click="navCollapsed2 = true">{{'header.faq' | i18next}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a ui-sref="login">
              <span class="glyphicon glyphicon-log-in" style="margin: 5px;"></span>
              <span>{{'header.login' | i18next}}</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
