<div class="sc-home-page">
  <div class="section catchphrase">
    <div class="container">
      <section class="col-xs-12 sc-presentation-section">
        <div class="row">
          <div class="text-center col-xs-12">
            <div id="main_logo"></div>
          </div>
        </div>
        <div class="row">
          <div class="text-center text-muted col-xs-12">
            <span id="sub_slogan">{{'index.sub_slogan1' | i18next}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 col-md-offset-4" id="presentation_action">
            <div ng-if="!userInfo.userId" class="row">
              <button class="btn btn-brazuca btn-lg btn-call-to-action btn-block" ui-sref="register" style="margin-left: 5px;" type="button">{{'index.signup' | i18next}}</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="text-center text-muted col-xs-12">
            <span id="sub_slogan" class="moto">{{'index.sub_slogan2' | i18next}}</span>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h2 class="text-center section-heading">{{'index.coming_soon.header' | i18next}}</h2>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a ui-sref="leagueCreation">
              <img src="img/competitions/ligue1.png" alt="Ligue 1" style="height: 150px;">
              <div class="caption">
                <h3>{{'competition.ligue1.name' | i18next}}</h3>
                <p>{{'index.coming_soon.currently_open' | i18next}}</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a ui-sref="leagueCreation">
              <img src="img/competitions/2018_world_cup.jpg" alt="World Cup 2018" style="height: 150px;">
              <div class="caption">
                <h3>{{'competition.world_cup.name' | i18next}}</h3>
                <p>{{'index.coming_soon.currently_open' | i18next}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section green-bg has-pattern features">
    <div class="container bestApp">
      <h2 class="text-center section-heading">{{'index.bestApp.title' | i18next}}</h2>


      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-bullhorn"></span>
          </div>
          <div class="content">
            <h3 class="text-center">
              <span class="feature-title">{{'index.bestApp.adfree.title' | i18next}}</span>
            </h3>{{'index.bestApp.adfree.content' | i18next}}
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-flash"></span>
          </div>
          <div class="content">
            <h3 class="text-center">
              <span class="feature-title">{{'index.bestApp.simple.title' | i18next}}</span>
            </h3>{{'index.bestApp.simple.content' | i18next}}
          </div>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-envelope"></span>
          </div>
          <div class="content">
            <h3 class="text-center">
              <span class="feature-title">{{'index.bestApp.feature-rich.title' | i18next}}</span>
            </h3>{{'index.bestApp.feature-rich.content' | i18next}}
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-ok"></span>
          </div>
          <div class="content">
            <h3 class="text-center">
              <span class="feature-title">{{'index.bestApp.accessible.title' | i18next}}</span>
            </h3>{{'index.bestApp.accessible.content' | i18next}}
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-phone"></span>
          </div>
          <div class="content">
            <h3 class="text-center">
              <span class="feature-title">{{'index.bestApp.mobile.title' | i18next}}</span>
            </h3>{{'index.bestApp.mobile.content' | i18next}}
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="icon">
            <span class="glyphicon glyphicon-globe"></span>
          </div>
          <div class="content">
            <h3 class="text-center">
              <span class="feature-title">{{'index.bestApp.international.title' | i18next}}</span>
            </h3>{{'index.bestApp.international.content' | i18next}}
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="section">
    <div class="container">
      <section class="col-xs-12 sc-presentation-section">
        <div class="concept col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
          <h2 class="text-center section-heading">{{'index.concept.title' | i18next}}</h2>
          <ol class="text-center labels-list">
            <li class="concept-item">{{'index.concept.create' | i18next}}</li>
            <li class="concept-item">{{'index.concept.invite' | i18next}}</li>
            <li class="concept-item">{{'index.concept.compete' | i18next}}</li>
          </ol>
          <p>{{'index.concept.whatWeDo' | i18next}}</p>
        </div>
      </section>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4" id="presentation_action">
          <div ng-if="!userInfo.userId" class="row">
            <button class="btn btn-brazuca btn-lg btn-call-to-action btn-block" ui-sref="register" style="margin-left: 5px;" type="button">{{'index.signup' | i18next}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
