<div class="sc-join-page">
  <div class="container sc-not-found-section" ng-if="noLeagueFound">
    <center>
      <h2 class="heading">
        <p>{{'league.join.no_league_found' | i18next}}</p>
      </h2>
    </center>
  </div>

  <!-- container if user cannot join because already a member -->
  <div class="container sc-member-section" ng-if="isAlreadyMember">
    <center>
      <h2 class="heading">
        <p ng-i18next="[i18next]({ league_name: league.name }) league.join.member_header"></p>
      </h2>
    </center>
    <center>
      <ul class="list-unstyled">
        <li>
          <a class="btn btn-primary" ui-sref="league({name: league.url})">
            {{'league.join.goto' | i18next:{ league_name: league.name } }}
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
        <li>
          <p>
            {{'league.join.not_user' | i18next:{pseudo: user.displayName} }}
            <a href ng-click="switchAccount()">{{'league.join.switch_account' | i18next}}</a>
          </p>
        </li>
      </ul>
    </center>
  </div>

  <!-- container if user cannot join because league is full -->
  <div class="container sc-exceed-section" ng-if="isMaxSizeExceeded">
    <center>
      <h2 class="heading">
        <p ng-i18next="[i18next]({ league_name: league.name }) league.join.exceeding_header"></p>
      </h2>
    </center>
    <center>
      <h4>
        <p ng-i18next="[html:i18next]({ league_name: league.name }) league.join.exceeding_before_link"></p>
        <button class="btn sc-btn" ui-sref="leagueCreation">{{'league.join.exceeding_button' | i18next}}</button>
      </h4>
    </center>
  </div>

  <!-- container if user can join the league -->
  <div class="container sc-join-section" ng-if="joinEnabled">
    <div class="row">
      <uib-alert type="{{alert.type}}" ng-if="alert">{{alert.message}}</uib-alert>
      <center>
        <h2 class="heading">
          <p ng-i18next="[i18next]({ league_name: league.name }) league.join.new_header"></p>
        </h2>
      </center>
      <center>
        <button class="btn sc-btn" ng-click="joinLeague()" analytics-on analytics-event="LeagueJoin" analytics-category="League" analytics-label="{league.name}">{{'league.join.join' | i18next}}</button>
      </center>
    </div>
  </div>
</div>
