<div id="wrap"> <!-- "wrap" div needed for sticky footer" -->
  <!-- include contextual header -->
  <div ng-if="ready" ng-include="'views/header.html'"></div>

  <!-- include content -->
  <div ng-if="ready" class="" ui-view></div>
</div>
<!-- include footer -->
<div ng-if="ready" id="footer" ng-include="'views/footer.html'"></div>
