<div class="container">
  <div class="page-header header">
      <ul class="nav nav-pills pull-right">
        <li>
          <h4 id="back_link"><a ui-sref="userLeagues">{{'user.index.leagues_link' | i18next}} </a></h4>
        </li>
      </ul>
      <h3 class="text-muted">{{'subtitle.user.new_league' | i18next}}</h3>
  </div>

  <div class="row sc-league-creation-page">
    <div class="col-xs-12">
      <uib-alert type="{{alert.type}}" ng-if="alert">{{alert.message}}</uib-alert>
      <h4 class="form-signin-heading">{{'user.new_league.heading' | i18next}}</h4>

      <div class="row" style="padding-top: 10px;">
        <div class="col-xs-12 col-sm-8">
          <div class="form-vertical row">
            <div class="form-group col-xs-12 col-sm-8">
              <label class="control-label" >{{'user.new_league.name_label' | i18next}}</label>
              <input autofocus="" class="form-control" placeholder="{{'user.new_league.name_placeholder' | i18next}}" ng-model="league.name" ng-change="checkLeagueName(league.name)" type="text" required>
              <span class="glyphicon glyphicon-{{icon}} inside-input refresh" ng-show="true"></span>
            </div>
            <div class="form-group col-xs-12 col-sm-4">
              <label class="control-label">{{'user.new_league.competition_label' | i18next}}</label><br>
              <sc-dropdown-select btn-class="btn-default" default-value="defaultValue" ng-model="league.competition_id" options="competitions" ></sc-dropdown-select>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="pull-right">
                <a ui-sref="userLeagues" class="btn btn-danger">{{'user.new_league.cancel' | i18next}}</a>
                <button class="btn btn-success" ng-click="submit()" ng-class="{ 'disabled': disablingLeagueName || !league.competition_id }" analytics-on analytics-event="LeagueCreation" analytics-category="League">{{'user.new_league.submit' | i18next}}</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-sm-offset-1" style="margin-top: 10px;" ng-if="true">
          <div style="text-align: center;">
            <div class="panel panel-info">
              <div class="panel-body">
                <h5>{{'user.new_league.limits.threshold' | i18next}}</h5>
                <h5>{{'user.new_league.limits.needmore' | i18next}}</h5>
                <h5>{{'user.new_league.limits.fee' | i18next}}</h5>
                <h5>{{'premium.cantpay' | i18next}} <a href="mailto:contact@scoragora.com">{{'premium.letusknow' | i18next}}</a> {{'user.new_league.limits.gratis' | i18next}} </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
