<div class="container sc-user-leagues-page">
  <div class="sc-page-header page-header header">
    <div class="pull-right">
      <a ui-sref="leagueCreation" class="btn sc-btn">
        <span class="glyphicon glyphicon-plus"></span>
        {{'user.index.leagues_create' | i18next}}
      </a>
    </div>
    <h3 class="text-muted">{{'header.leagues' | i18next}}</h3>
  </div>

  <div ng-if="leagues">
    <div class="row">
      <div class="col-xs-12">
        <uib-alert type="{{alert.type}}" ng-if="alert" close="closeAlert()">{{alert.message}}</uib-alert>
        <div class="leagues-panel">
          <div ng-if="currentLeagues && pastLeagues && pastLeagues.length" class="text-center switch-panel">
            <div class="btn-group sc-btn-group">
            	<label class="btn btn-default" ng-model="options.mode" uib-btn-radio="'current'">{{'user.leagues.current' | i18next}} ({{currentLeagues.length}})</label>
            	<label class="btn btn-default" ng-model="options.mode" uib-btn-radio="'past'">{{'user.leagues.past' | i18next}} ({{pastLeagues.length}})</label>
            </div>
          </div>
	        <div class="panel panel-default league-list-panel" ng-if="list.length">
	          <div class="panel-content">
	            <table class="table table-hover">
	              <thead>
	                <tr>
	                  <th>{{'user.leagues.name' | i18next}}</th>
	                  <th class="hidden-xs">{{'user.leagues.competition' | i18next}}</th>
	                  <th>{{'user.leagues.ranking' | i18next}}</th>
	                  <th width="30">&nbsp;</th>
	                </tr>
	              </thead>
	              <tbody>
	                <tr ng-repeat="league in list" class="league-line" ng-mouseenter="league.showLeave = true" ng-mouseleave="league.showLeave = false">
	                  <td>
	                    <a class="league-link" ui-sref="league({name: league.url})">{{league.name}}</a>
	                  </td>
	                  <td class="hidden-xs">
	                  	<span ng-if="league.competition">{{'competition.' + league.competition.name + '.name' | i18next}}&nbsp;<span ng-if="league.competition.config && league.competition.config.type == 'championship'">{{league.competition.year - 1}}/</span>{{league.competition.year}}</span>
	                  </td>
	                  <td>
	                    <div>
	                      {{league.userRank}} /<span class="league-members">{{league.leagueSize}}</span>
	                    </div>
	                  </td>
	
	                  <td style="width: 30px;">
	                    <a class="remove-league" href ng-show="league.showLeave" ng-click="askLeaveConfirmation(league)">
	                      <span class="glyphicon glyphicon-remove"></span>
	                    </a>
	                  </td>
	                </tr>
	              </tbody>
	            </table>
	          </div>
	        </div>
	        <div ng-if="currentLeagues.length == 0 && options.mode == 'current'" class="panel panel-default text-center no-current-league-panel">
	          <h3>{{'user.leagues.no_current' | i18next}}</h3>
	          <a ui-sref="leagueCreation" class="btn btn-lg sc-btn">{{'user.leagues.create' | i18next}}</a>
	        </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="myModalContent.html">
<div class="modal-header">
  <h3 class="modal-title">{{'user.leagues.leave.title' | i18next: {league_name: leagueToLeave.name} }}</h3>
</div>
<div class="modal-body">
  <p>{{'user.leagues.leave.body' | i18next: {league_name: leagueToLeave.name} }}</p>
</div>
<div class="modal-footer">
  <button class="btn btn" ng-click="cancel()">{{'common.cancel' | i18next}}</button>
  <button class="btn btn-primary" ng-click="leave()">{{'user.leagues.leave.submit' | i18next}}</button>
</div>
</script>
