<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">{{'rules.header_table' | i18next }}</h4>
</div>
<div class="modal-body">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="modalTableHeader"></th>
        <th class="modalTableHeader" long="{{'rules.table.' + criteria | i18next }}" short="{{'rules.table.' + criteria + '_short' | i18next }}" tooltip-placement="down" uib-tooltip="{{'rules.table.' + criteria | i18next}}" tooltip-append-to-body="true" ng-repeat="criteria in criterias"></th>
        <th class="modalTableHeader" long="{{'rules.table.total' | i18next }}" short="total" tooltip-placement="down" uib-tooltip="{{'rules.table.total' | i18next }}" tooltip-append-to-body="true"></th>
      </tr>
    </thead>
    <tbody ng-if="config && config.type == 'cup'">
      <tr ng-if="config.cup && config.cup.group && config.cup.group.number && group">
        <td>{{'forecast.table.headers.group' | i18next }}</td>
        <td ng-repeat="item in group.rule">{{item.points}}</td>
        <td>{{group.total}}</td>
      </tr>

      <tr ng-repeat="round in rounds">
        <td ng-if="round.round < 16">{{'rules.eliminations.round_'+round.round | i18next}}</td>
        <td ng-if="round.round >= 16" ng-i18next="[i18next]({round: round}) rules.eliminations.round"></td>
        <td ng-repeat="item in round.rule">{{item.points}}</td>
        <td>{{round.total}}</td>
      </tr>
    </tbody>
    <tbody ng-if="config && config.type == 'championship'">
      <tr ng-if="config.championship && config.championship.day && day">
        <td>{{'forecast.table.headers.day' | i18next }}</td>
        <td ng-repeat="item in day.rule">{{item.points}}</td>
        <td>{{day.total}}</td>
      </tr>

      <tr ng-repeat="round in rounds">
        <td ng-if="round.round < 16">{{'rules.eliminations.round_'+round.round | i18next}}</td>
        <td ng-if="round.round >= 16" ng-i18next="[i18next]({round: round}) rules.eliminations.round"></td>
        <td ng-repeat="item in round.rule">{{item.points}}</td>
        <td>{{round.total}}</td>
      </tr>
    </tbody>
  </table>
</div>
