<div class="container">
  <div class="page-header header">
    <ul class="nav nav-pills pull-right">
      <li class="hidden-xs">
        <span>{{'login.register_link_description' | i18next}}</span>
      </li>
      <li>
        <span id="login_link">
          <a ui-sref="register">{{'login.register_link' | i18next}}</a>
        </span>
      </li>
    </ul>
    <h3 class="text-muted">{{'subtitle.login' | i18next}}</h3>
  </div>

  <div class="row">
    <div id="login_panel">
      <uib-alert type="{{alert.type}}" ng-if="alert && alert.type">{{alert.message}}</uib-alert>
      <div class="row">
        <div class="col-xs-12 col-sm-6" id="login_email">
          <form class="form-signin">
            <h4 class="form-signin-heading">{{'login.email.heading' | i18next}} </h4>
            <input id="login_input" type="text" class="form-control" placeholder="Login" ng-model="login" required autofocus>
            <input id="password_input" type="password" class="form-control" placeholder="{{'login.email.password_placeholder' | i18next}}" ng-model="password" ng-enter="submit()" required>
            <div class="row">
              <div class="col-xs-6">
                <button class="btn btn-lg sc-btn btn-block" id="local_login" ng-click="submit()" type="button">{{'login.email.submit' | i18next}}</button>
              </div>
              <div class="col-xs-6">
                <a class="pull-right" ui-sref="login.forgotten" style="margin-top: 16px;">{{'login.email.forgotten_password' | i18next}}</a>
              </div>
            </div>
          </form>
        </div>
        <div class="text-center col-xs-12 col-sm-1" id="login_or">
          <span class="text-muted">{{'login.separator' | i18next}}</span>
        </div>
        <div class="col-xs-12 col-sm-5" id="login_social">
          <div class="form-signin">
            <h4 class="form-signin-heading">{{'login.social.heading' | i18next}}</h4>

            <button class="btn btn-lg btn-facebook btn-block" ng-click="authenticate('facebook')" type="button">
              <div class="text-left btn-social-content">
                <i class="fa fa-facebook" style="margin-left: 20px; width: 20px;"></i>
                <span>{{'login.social.facebook.submit' | i18next}}</span>
              </div>
            </button>

            <button class="btn btn-lg btn-google-plus btn-block" ng-click="authenticate('google')" type="button">
              <div class="text-left">
                <i class="fa fa-google-plus" style="margin-left: 15px; width: 25px;"></i>
                <span>{{'login.social.google.submit' | i18next}}</span>
              </div>
            </button>

            <button class="btn btn-lg btn-twitter btn-block" ng-click="authenticate('twitter')" type="button" ng-if="false">
              <div class="text-left">
                <i class="fa fa-twitter" style="margin-left: 15px; width: 25px;"></i>
                <span>{{'login.social.twitter.submit' | i18next}}</span>
              </div>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
