<div class="container">
  <div class="page-header header">
    <ul class="nav nav-pills pull-right">
      <li class="hidden-xs">
        <span>{{'login.register_link_description' | i18next }}</span>
      </li>
      <li>
        <span>
          <a ui-sref="register">{{'login.register_link' | i18next}}</a>
        </span>
      </li>
    </ul>
    <h3 class="text-muted">{{'subtitle.forgotten_password' | i18next}}</h3>
  </div>

  <div class="row">
    <div class="col-xs-12" ng-if="!email_sent">
      <uib-alert type="{{alert.type}}" ng-if="alert">{{alert.message}}</uib-alert>
      <center>
        <div style="max-width: 800px;">
          <h3 class="text-left">
            {{'forgotten_password.index.header'| i18next}}
          </h3>
          <h5 class="text-left">
            {{'forgotten_password.index.enter_email' | i18next}}
          </h5>
          <input type="text" class="form-control visible-xs" ng-enter="submit()" ng-model="token.email" placeholder="{{'forgotten_password.index.email' | i18next}}" />
          <button type="button" class="btn btn-primary btn-block visible-xs" ng-class="{'disabled': disabled}" ng-click="submit()">{{'forgotten_password.index.submit' | i18next}}</button>
          <div class="input-group input-group hidden-xs">
            <input type="text" class="form-control" ng-model="token.email" ng-enter="submit()" placeholder="{{'forgotten_password.index.email' | i18next}}" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-class="{'disabled': disabled}" ng-click="submit()">{{'forgotten_password.index.submit' | i18next}}</button>
            </span>
          </div>

          <div class="text-left" style="margin-top: 30px;">
            <strong>
              {{'forgotten_password.index.social_connect_title'| i18next}}
            </strong>
            <p>
              {{'forgotten_password.index.social_connect_paragraph'|i18next}}
            </p>
          </div>
        </div>
      </center>
    </div>

    <div ng-if="email_sent">
      <center>
        <div style="max-width: 800px;">
          <h4>
            {{'forgotten_password.request_sent.email_sent'|i18next}}&nbsp;
            <span style="color: #74beff;">{{token.email}}</span>
            .
          </h4>
          <h4>{{'forgotten_password.request_sent.check_email'|i18next}}</h4>
        </div>
      </center>
    </div>
  </div>
</div>
