<div class="container">
  <div class="row">
    <div class="page-header header">
      <h3 class="text-muted">{{'subtitle.reset_password' | i18next}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <uib-alert type="{{alert.type}}" ng-if="alert">{{alert.message}}</uib-alert>
      <h3>
        {{'forgotten_password.reset.header' | i18next}}
      </h3>
      <input type="password" ng-model="form.password" class="form-control" placeholder="{{'forgotten_password.reset.password' | i18next}}" />
      <input type="password" ng-model="form.password_confirmation" class="form-control" placeholder="{{'forgotten_password.reset.repeat_password' | i18next}}" />
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary pull-right" ng-click="submit()">
            {{'forgotten_password.reset.submit' | i18next }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
