<div ng-if="pages > 1" id="list_pagination" class="text-center pagination-panel">
  <ul class="list-inline">
    <li>
      <ul class="pagination pagination-sm" page="{{page}}">
        <li ng-class="{disabled : page == 0}">
          <a href="#" class="page-minus" ng-click="previous($event)">&laquo;</a>
        </li>
        <li ng-repeat="index in indexes" ng-class="{disabled : index.Nan, active : index.i == page}">
          <a href="#" ng-class="{'page-number' : !index.Nan}" ng-click="to(index.i, $event)">{{!index.Nan ? index.i + 1 : index.i}}</a>
        </li>
        <li ng-class="{disabled : page > pages - 2}">
          <a href="#" class="page-plus" ng-click="next($event)">&raquo;</a>
        </li>
      </ul>
    </li>
    <li ng-if="pages > width" class="pagination-goto">
      <div class="input-group input-group-sm">
        <input type="number" min="0" class="form-control" ng-model="go_to_page" ng-enter="goTo(go_to_page); go_to_page = '';"/>
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="goTo(go_to_page); go_to_page = '';">Go!</button>
        </span>
      </div>
    </li>
  </ul>
  <div ng-if="pages > width" class="hidden pagination-goto">
    <div class="input-group input-group-sm">
      <input type="number" min="0" class="form-control" ng-model="go_to_page" ng-enter="goTo(go_to_page); go_to_page = '';" />
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="goTo(go_to_page); go_to_page = '';">Go!</button>
      </span>
    </div>
  </div>
</div>
