<div class="container">
  <div class="page-header header">
    <ul class="nav nav-pills pull-right">
      <li class="hidden-xs">
        <span>{{'register.login_link_description' | i18next}}</span>
      </li>
      <li>
        <span id="login_link">
          <a ui-sref="login">{{'register.login_link' | i18next}}</a>
        </span>
      </li>
    </ul>
    <h3 class="text-muted">
      <span >{{'subtitle.register' | i18next}}</span>
    </h3>
  </div>

  <div id="register_panel" ng-if="!registered">
    <div class="row">
      <uib-alert type="{{alert.type}}" ng-if="alert && alert.type">{{alert.message}}</uib-alert>
      <ul class="list-inline">
        <li class="col-xs-12 col-sm-6" id="register_email">
          <form class="form-signin" method="post">
            <h4 class="form-signin-heading">{{'register.email.heading' | i18next}}</h4>
            <input autocomplete="off" autofocus="" class="form-control first-input uneditable-input" ng-model="user.pseudo" placeholder="{{'register.email.pseudo_placeholder' | i18next}}" required="" type="text">
            <input autocomplete="off" class="form-control middle-input uneditable-input" ng-model="user.email" placeholder="{{'register.email.email_placeholder' | i18next}}" required="" type="text">
            <input autocomplete="off" class="form-control last-input uneditable-input" ng-model="user.password" placeholder="{{'register.email.password_placeholder' | i18next}}" required="" type="password">
            <h5 class="text-muted">{{'register.email.condition' | i18next}}</h5>
            <button class="btn btn-lg sc-btn btn-block" ng-click="register()" type="submit" analytics-on analytics-event="Register" analytics-category="User" analytics-label="Email">{{'register.email.submit' | i18next}}</button>
          </form>
        </li>


        <li class="text-muted text-center col-xs-12 col-sm-1" id="register_or" ng-if="false">
          <span>{{'login.separator' | i18next}}</span>
        </li>


        <li class="col-xs-12 col-sm-5" id="register_social" ng-if="false">
          <div class="form-signin">
            <h4 class="form-signin-heading">{{'login.social.heading' | i18next}}</h4>
            <button class="btn btn-lg btn-facebook btn-block" id="facebook_login" onclick="location.href='/auth/facebook'" type="button" analytics-on analytics-event="Register" analytics-category="User" analytics-label="Facebook">
              <div class="text-left btn-social-content">
                <i class="fa fa-facebook" style="margin-left: 20px; width: 20px;"></i>
                <span>{{'login.social.facebook.submit' | i18next}}</span>
              </div>
            </button>
            <button class="btn btn-lg btn-google-plus btn-block" id="google_login" onclick="location.href='/auth/google'" type="button" analytics-on analytics-event="Register" analytics-category="User" analytics-label="Google">
              <div class="text-left">
                <i class="fa fa-google-plus" style="margin-left: 15px; width: 25px;"></i>
                <span>{{'login.social.google.submit' | i18next}}</span>
              </div>
            </button>
            <button class="btn btn-lg btn-twitter btn-block" id="twitter_login" onclick="location.href='/auth/twitter'" type="button" analytics-on analytics-event="Register" analytics-category="User" analytics-label="Twitter">
              <div class="text-left">
                <i class="fa fa-twitter" style="margin-left: 15px; width: 25px;"></i>
                <span>{{'login.social.twitter.submit' | i18next}}</span>
              </div>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="jumbotron" ng-if="registered">
    <h3>
      {{'register.email.email_sent'| i18next}}&nbsp;
      <span class="text-center" style="color: #74beff; margin-bottom: 20px; font-weight: bold;">
        {{email}}
      </span>
    </h3>
    <h4>
      {{'register.email.advice' | i18next}}
    </h4>
  </div>
</div>
