<div class="container">
  <div class="row">
    <div class="page-header header">
      <ul class="nav nav-pills pull-right">
        <li class="hidden-xs">
          <span>{{'register.login_link_description' | i18next}}</span>
        </li>
        <li>
          <span id="login_link">
            <a ui-sref="login">{{'register.login_link' | i18next}}</a>
          </span>
        </li>
      </ul>
      <h3 class="text-muted">
        <span >{{'subtitle.register_validate' | i18next}}</span>
      </h3>
    </div>
  </div>
  <uib-alert type="{{alert.type}}" ng-if="alert">{{alert.message | i18next }}</uib-alert>
</div>
