<div class="sc-rules-page">

  <div class="container">
    <div class="row">
      <div class="page-header header">
        <h3 class="text-muted">{{'header.rules' | i18next}}</h3>
      </div>
    </div>

    <div class="col-md-offset-1 col-md-10">
      <div class="row">
        <div class="page-header header">
          <h3 class="text-muted">{{'rules.rules_page.concept.title' | i18next}}</h3>
        </div>
        <div>
          <ol>
            <li>{{'rules.rules_page.concept.create' | i18next}}</li>
            <li>{{'rules.rules_page.concept.invite' | i18next}}</li>
            <li>{{'rules.rules_page.concept.forecast' | i18next}}</li>
            <li>{{'rules.rules_page.concept.points' | i18next}}</li>
            <li>{{'rules.rules_page.concept.ranking' | i18next}}</li>
          </ol>
          <span>{{'rules.rules_page.concept.tease' | i18next}}</span>
        </div>
      </div>


      <div class="row" ng-if="false">
        <div class="page-header header">
          <h3 class="text-muted">{{'rules.rules_page.points.title' | i18next}}</h3>
        </div>
        <p>{{'rules.rules_page.points.content' | i18next}}</p>
        <ul>
          <li>{{'rules.rules_page.points.winning_team' | i18next}}</li>
          <li>{{'rules.rules_page.points.goad_difference' | i18next}}</li>
          <li>{{'rules.rules_page.points.number_of_goals' | i18next}}</li>
        </ul>
        <p>{{'rules.rules_page.points.tie' | i18next}}</p>
        <p>{{'rules.rules_page.points.increase' | i18next}}</p>
        <p>{{'rules.rules_page.points.some_examples' | i18next}}</p>
        <ul>
          <li>{{'rules.rules_page.points.example1' | i18next}}</li>
          <li>{{'rules.rules_page.points.example2' | i18next}}</li>
        </ul>
      </div>


      <div class="row">
        <div class="page-header header">
          <h3 class="text-muted">{{'rules.rules_page.more_specific_rules.title' | i18next}}</h3>
        </div>

        <ul>
          <li>{{'rules.rules_page.more_specific_rules.rule1' | i18next}}</li>
          <li>{{'rules.rules_page.more_specific_rules.rule2' | i18next}}</li>
          <li>{{'rules.rules_page.more_specific_rules.rule3' | i18next}}</li>
        </ul>
      </div>

      <div class="row sc-bet-section">
        <div class="page-header header">
          <h3 class="text-muted">{{'rules.bet.title' | i18next}}</h3>
        </div>
        <p>{{'rules.bet.advice_before_kickoff' | i18next}}</p>
        <p>{{'rules.bet.advice_bonus' | i18next}}</p>
        <h3>
          <bold>{{'rules.bet.football.title' | i18next}}</bold>
        </h3>
        <p>{{'rules.bet.football.advice' | i18next}}</p>
        <p>{{'rules.bet.football.bonus' | i18next}}</p>
        <table class="sc-bonus-table">
          <tbody>
            <tr>
              <td class="sc-bonus">{{'rules.table.direction' | i18next}}</td>
              <td class="sc-bonus-definition">{{'rules.bet.football.definition_direction' | i18next }}</td>
            </tr>
            <tr>
              <td class="sc-bonus">{{'rules.table.difference' | i18next}}</td>
              <td class="sc-bonus-definition">{{'rules.bet.football.definition_difference' | i18next }}</td>
            </tr>
            <tr>
              <td class="sc-bonus">{{'rules.table.team_score' | i18next}}</td>
              <td class="sc-bonus-definition">{{'rules.bet.football.definition_team_score' | i18next }}</td>
            </tr>
          </tbody>
        </table>
        <br/>
        <p>{{'rules.bet.football.example' | i18next}}</p>
        <h3>
          <bold>{{'rules.bet.rugby.title' | i18next}}</bold>
        </h3>
        <p>{{'rules.bet.rugby.advice' | i18next}}</p>
        <p class="text-center">
          <img src="/img/rugby_score.png" />
        </p>
        <p>{{'rules.bet.rugby.bonus' | i18next}}</p>
        <table class="sc-bonus-table">
          <tbody>
            <tr>
              <td class="sc-bonus">{{'rules.table.direction' | i18next}}</td>
              <td class="sc-bonus-definition">{{'rules.bet.rugby.definition_direction' | i18next }}</td>
            </tr>
            <tr>
              <td class="sc-bonus">{{'rules.table.direction_type' | i18next}}</td>
              <td class="sc-bonus-definition">{{'rules.bet.rugby.definition_direction_type' | i18next }}</td>
            </tr>
          </tbody>
        </table>
        <br/>
        <p>{{'rules.bet.rugby.example' | i18next}}</p>
      </div>
    </div>
  </div>
</div>
