<div class="container">
  <div class="page-header header">
    <h3 class="text-muted" ng-if="user">
      <span >{{user.displayName}}</span>
    </h3>
  </div>
  <uib-alert type="{{alert.type}}" ng-if="alert" close="closeAlert($index)">{{alert.message}}</uib-alert>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <div class="text-center" id="picture_panel">
        <div>
          <div class="caption">
            <div style="position: absolute; bottom: 25px; right: 5px;">
              <button class="btn btn-sm btn-primary" ng-click="changePicture()" >{{'user.settings.edit_picture' | i18next}}</button>
            </div>
          </div>
          <img class="thumbnail" height="180" ng-src="{{user.pictureURL}}" width="180">
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4" id="userId">
      <div class="row">
        <div class="col-xs-3">
          <span class="control-label">{{'user.settings.pseudo' | i18next}}&nbsp;:</span>
        </div>

        <div class="col-xs-9">
          <span id="displayPseudo">{{user.displayName}}</span> &nbsp;&nbsp;<a href ng-click="changePseudo()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3">
          <span class="control-label">{{'user.settings.email' | i18next}}&nbsp;:</span>
        </div>

        <div class="col-xs-9">
          <span>{{user.displayEmail}}</span>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3">
          <span class="control-label">{{'user.settings.language' | i18next}}&nbsp;:</span>
        </div>

        <div class="col-xs-9">
          <form action="/user/settings" class="hidden" id="lng_form" method="post" name="lng_form">
            <input id="input_lng" name="lng" type="text">
          </form>

          <sc-dropdown-select btn-class="btn-default" default-value="defaultValue" ng-model="user.lng" options="lngs" ng-change="updateUserLng()"></sc-dropdown-select>

        </div>
      </div>
    </div>
  </div>

  <div class="row" id="email_settings">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>{{'user.settings.email_settings.title' | i18next}}</span>
        </div>

        <div class="panel-body">
          <div ng-if="false">
            <h4>{{'user.settings.email_settings.ranking_updates.title' | i18next}}</h4>
            <p>{{'user.settings.email_settings.ranking_updates.paragraph' | i18next}}</p>

            <div class="radio">
              <label><input id="optionsRadios_daily" name="optionsRadiosRankingUpdates" type="radio" ng-model="user.email_settings.ranking_updates" value="daily" ng-click="updateEmailSettings()">{{'user.settings.email_settings.ranking_updates.input2_daily' | i18next}}</label>
            </div>

            <div class="radio">
              <label><input id="optionsRadios_weekly" name="optionsRadiosRankingUpdates" type="radio" ng-model="user.email_settings.ranking_updates" value="weekly" ng-click="updateEmailSettings()">{{'user.settings.email_settings.ranking_updates.input3_weekly' | i18next}}</label>
            </div>

            <div class="radio">
              <label><input id="optionsRadios_NoUpdate" name="optionsRadiosRankingUpdates" type="radio" ng-model="user.email_settings.ranking_updates" value="no_updates" ng-click="updateEmailSettings()">{{'user.settings.email_settings.ranking_updates.input1_no_updates' | i18next}}</label>
            </div>
          </div>
          <br>

          <h4>{{'user.settings.email_settings.forecast_management.title' | i18next}}</h4>

          <div class="checkbox">
            <label><input id="checkboxReminder24h" type="checkbox" ng-model="user.email_settings.forecast_management.reminder_24h" ng-click="updateEmailSettings()">{{'user.settings.email_settings.forecast_management.input1_reminder' | i18next}}</label>
          </div>

          <div class="checkbox">
            <label><input id="checkboxReminderNewMatches" type="checkbox" ng-model="user.email_settings.forecast_management.new_matches" ng-click="updateEmailSettings()">{{'user.settings.email_settings.forecast_management.input2_opening' | i18next}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="false">
      <h3>{{'user.settings.account_deletion.title' | i18next}}</h3>

      <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
        <a class="btn btn-danger btn-block btn-lg" ng-click="askDeleteConfirmation()" id="deleteAccount">{{'user.settings.account_deletion.delete_button' | i18next}}</a>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="changePhotoModalContent.html">
<div class="modal-header">
  <button class="close" ng-click="cancel()" type="button">×</button>
  <h4 class="modal-title">{{'user.settings.modal_picture_header' | i18next}}</h4>
</div>
<div class="modal-body">
  <div id="picture_message_panel"></div>
  <div style="margin-bottom: 10px;">
    <img class="thumbnail" id="choosen_picture" ng-src="{{pictureURL}}">
  </div>
  <div class="text-center">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn" ng-class="pictureMode=='local' ? 'btn-primary' : 'btn-default'">
        <input name="options" type="radio" ng-model="pictureMode" value="local">Local</label>
      <label class="btn" ng-class="{'btn-primary': pictureMode == 'facebook', 'btn-default': pictureMode != 'facebook', disabled: !login.facebook }">
        <input name="options" type="radio" ng-model="pictureMode" value="facebook">Facebook</label>
      <label class="btn" ng-class="{'btn-primary': pictureMode == 'google', 'btn-default': pictureMode != 'google', disabled: !login.google }">
        <input name="options" type="radio" ng-model="pictureMode" value="google">Google</label>
      <label class="btn" ng-class="{'btn-primary': pictureMode == 'twitter', 'btn-default': pictureMode != 'twitter', disabled: !login.twitter }">
        <input name="options" type="radio" ng-model="pictureMode" value="twitter">Twitter</label>
    </div>
  </div>
  <div class="content hidden">
    <label class="btn btn-default popoverToActivate">
      <a href="/connect/twitter">{{'user.settings.modal_social_account_popover1' | i18next}} Twitter</a>
      <span>&nbsp; {{'user.settings.modal_social_account_popover2' | i18next}}</span>
    </label>
  </div>
  <br>

  <div ng-class="{local:'visible', facebook:'hidden', google:'hidden', twitter:'hidden'}[pictureMode]" id="local_panel">
    <div class="row">
      <div class="text-center">
        <div ng-repeat="url in localURLs" class="picture clickable" ng-click="chooseLocalPicture(url)">
          <div class="caption" ng-class="{active: localPictureURL == url}"></div>
          <img ng-src="{{url}}">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()" type="button">{{'common.cancel' | i18next}}</button>
  <button class="btn btn-primary" ng-click="save()" type="button">{{'user.settings.edit_picture' | i18next}}</button>
</div>
</script>



<script type="text/ng-template" id="changePseudoModalContent.html">
<div class="modal-header">
  <button class="close" ng-click="cancel()" type="button">×</button>
  <h4 class="modal-title">{{'user.settings.type_new_pseudo' | i18next}}</h4>
</div>
<div class="modal-body">
  <input class="form-control" id="inputPseudo" ng-model="pseudo" type="text">
</div>
<div class="modal-footer">
  <a class="btn" ng-click="cancel()">{{'common.close' | i18next}}</a>
  <a class="btn btn-primary" ng-click="updatePseudo()" id="savePseudo">{{'user.settings.edit_pseudo' | i18next}}</a>
</div>
</script>



<script type="text/ng-template" id="DeleteModalContent.html">
<div class="modal-header">
  <button class="close" ng-click="cancel()" type="button">×</button>
  <h4 class="modal-title" id="myModalLabel">{{'user.settings.account_deletion.delete_button' | i18next}}</h4>
</div>
<div class="modal-body">
  <p>
    {{'user.settings.account_deletion.intro' | i18next}} <strong>{{'user.settings.account_deletion.warning' | i18next}}</strong> {{'user.settings.account_deletion.remind_consequences' | i18next}}
    <br>
  </p>
  <p>{{'user.settings.account_deletion.ask_for_confirmation' | i18next}}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()" type="button">{{'user.settings.account_deletion.cancel' | i18next}}</button>
  <a class="btn btn-danger" ng-click="deleteAccount()" id="deleteAccount">{{'user.settings.account_deletion.confirm' | i18next}}</a>
</div>
</script>
