<div class="container">
  <div class="row">
    <div class="page-header header">
      <ul class="nav nav-pills pull-right">
        <li>
          <h4><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span>&nbsp;{{'user.index.settings' | i18next}}</a></h4>
        </li>
      </ul>
      <h3 class="text-muted">{{'subtitle.user.index' | i18next}}</h3>
    </div>
  </div>

  <div class="sc-user-page">
    <uib-alert type="{{alert.type}}" ng-if="alert" style="margin-bottom: 10px;">{{alert.message}}</uib-alert>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4" ng-if="lastResults.length">
        <div class="panel panel-brazuca sc-matches-section">
          <div class="panel-heading">
            {{'league.index.last_results' | i18next}}
          </div>

          <table class="table table-condensed">
            <tbody>
              <tr ng-repeat="match in lastResults">
                <td class="hometeam">
                  <span class="team-name" team-name="{{'teams:'+match.hometeamname+'.middle' | i18next}}" team-name-short="{{'teams:'+match.hometeamname+'.short' | i18next}}"></span>
                  <img class="team-flag" ng-src="/img/teams/{{match.hometeamname}}_60.png" height="33" width="33">
                </td>
                <td class="score">{{match.result | score:match.sport}}</td>
                <td class="awayteam">
                  <img class="team-flag" ng-src="/img/teams/{{match.awayteamname}}_60.png" height="33" width="33">
                  <span class="team-name" team-name="{{'teams:'+match.awayteamname+'.middle' | i18next}}" team-name-short="{{'teams:'+match.awayteamname+'.short' | i18next}}"></span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-4" id="leagues_panel">
        <div class="panel panel-brazuca">
          <div class="panel-heading">
            {{'user.index.leagues' | i18next}}
            <div class="pull-right">
              <h6 style="margin-top: 2px;">{{'user.index.last_active_league_first' | i18next}}</h6>
            </div>
          </div>

          <table class="table">
            <tbody>
              <tr ng-repeat="league in leagues">
                <td>
                  <a class="league-link" ui-sref="league({name: league.url})">{{league.name}}</a>
                </td>

                <td>
                  <div>
                    {{league.userRank}} /<span class="league-members">{{league.leagueSize}}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="panel-body" style="margin-top: -10px; padding-top: 0px;">
            <h5 style="margin-bottom: 1px; text-align: right" ng-if="leagues.length">
              <a ui-sref="userLeagues" id="leagues_link">{{'user.index.leagues_link' | i18next}}</a>
            </h5>
            <div style="text-align: center; padding: 10px;" ng-if="!leagues.length">
              <h5>{{'user.leagues.no_current' | i18next}}</h5>
  	          <a ui-sref="leagueCreation" class="btn btn-sm sc-btn">{{'user.leagues.create' | i18next}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-4" id="forecasts_panel">
        <div class="panel panel-brazuca">
          <div class="panel-heading">
            {{'user.index.forecasts' | i18next}}
          </div>

          <table class="table noLateralPadding">
            <tbody>
              <tr ng-repeat="forecast in nextForecasts" class="match-line">
                <td class="text-right">
                  <span class="text-right team-name" team-name="{{'teams:'+forecast.hometeam.name+'.middle' | i18next}}" team-name-short="{{'team.'+forecast.hometeam.name+'.middle' | i18next}}"></span>
                  <img class="incell-right" ng-src="/img/teams/{{forecast.hometeam.name}}_60.png" height="33" width="33" >
                </td>
                <td class="score-column"></td>
                <td>
                  <img class="incell-left" ng-src="/img/teams/{{forecast.awayteam.name}}_60.png" height="33" width="33" >
                  <span class="text-right team-name" team-name="{{'teams:'+forecast.awayteam.name+'.middle' | i18next}}" team-name-short="{{'team.'+forecast.awayteam.name+'.middle' | i18next}}"></span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="panel-body">
            <h5 style="text-align: right"><a ui-sref="forecasts" id="leagues_link">{{'user.index.forecasts_link' | i18next}}</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
