<template>
  <div>
    <div class="row">
      <div class="col text-center">
        <h1>Admin interface</h1>
        <h3 class="text-muted">Go to the section you want</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4" v-for="section in sections">
        <router-link
          class="btn btn-block btn-bg text-vertical-center"
          :class="section.style"
          :to="{ name: section.link }"
          >{{section.title}}</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  const SECTIONS = [{
    title: 'Users',
    link: 'users',
    style: 'btn-info',
  }, {
    title: 'Leagues',
    link: 'leagues',
    style: 'btn-info',
  }, {
    title: 'Competitions',
    link: 'competitions',
    style: 'btn-primary',
  }, {
    title: 'Matches',
    link: 'matches',
    style: 'btn-primary',
  }, {
    title: 'Teams',
    link: 'teams',
    style: 'btn-primary',
  }, {
    title: 'Rules',
    link: 'rules',
    style: 'btn-primary',
  }, {
    title: 'Tasks',
    link: 'tasks',
    style: 'btn-warning',
  }, {
    title: 'Mails',
    link: 'mails',
    style: 'btn-warning',
  }, {
    title: 'Logs',
    link: 'logs',
    style: 'btn-light',
  }];

  export default {
    data() {
      return {
        sections: SECTIONS,
      };
    }
  };
</script>

<style scoped>
  .btn-bg {
    height: 23%;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 120px;
  }
  @media (max-width: 768px) {
    .btn-bg {
      font-size: 20px;
    }
  }
  .text-vertical-center {
    position: relative;
  }
  .text-vertical-center span {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
  }
  .text-vertical-center::before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
  }
</style>
