<template>
  <div class="layout-section">
    <div>
      <div class="breadcrumb-section">
        <breadcrumb></breadcrumb>
      </div>
      <router-view></router-view>
    </div>
    <div class="notifications-section">
      <transition-group name="list" tag="div">
        <bootstrap-alert
          v-for="notif in notifications"
          class="top-alert"
          :alert="notif"
          :key="notif.id"
          @dismiss="discardNotification(notif.id)"
        ></bootstrap-alert>
      </transition-group>
    </div>
  </div>
</template>

<script>
  import notifier from '../common/Notifier';

  export default {
    data() {
      return {
        notifications: notifier.notifications,
      };
    },
    methods: {
      discardNotification(id) {
        notifier.discardNotification(id);
      },
    },
  }
</script>

<style>
  .layout-section {
    position: relative;
  }
  .form-control-plaintext {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .btn, button {
    cursor: pointer;
  }
  .btn-group > .btn.active:not([disabled]) {
    box-shadow: none;
  }
  .dropdown-item:hover {
    color: white;
    background: #55a7ff;
  }
  .form-group.row label.col-form-label {
    text-align: right;
  }
  .text-input-1000 {
    max-width: 65px;
  }
  .text-input-date {
    max-width: 130px;
  }
  .text-input-time {
    max-width: 80px;
  }
  span.success,
  i.success {
    color: #5cb85c;
  }
  td.col-rule, tr.col-rule, td.col-automation, tr.col-automation {
    width: 25px;
    padding-right: 2px;
    padding-left: 2px;
  }
  td.col-link, tr.col-link {
    width: 30px;
  }

  .d3-tooltip {
    position: absolute;
    border-radius: 4px;
    padding: 4px;
    background: black;
    text-align: center;
  }
  .d3-tt-label {
    color: #ddd;
    font-size: 12px;
  }
  .d3-tt-value {
    color: white;
    font-size: 20px;
  }
</style>

<style scoped>
  .layout-section {
    margin-bottom: 20px;
  }
  .breadcrumb-section {
    margin-top: 10px;
  }

  .notifications-section {
    position: fixed;
    right: 20px;
    top: 0px;
  }
  .top-alert {
    margin-top: 10px;
    width: 300px;
    margin-bottom: 0px;
  }
  .list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s ease;
  }
  .list-enter {
    opacity: 0;
  }
  .list-leave-to {
    transform: translateX(350px);
  }
</style>
