<template>
  <div class="login-panel">
    <bootstrap-alert :alert="alert"></bootstrap-alert>
    <h2>Connection</h2>
    <form class="rounded-form" @submit.prevent="submitForm">
      <input
        autoCorrect="off"
        autoCapitalize="off"
        autoComplete="off"
        class="form-control top"
        placeholder="Login"
        required
        spellCheck="false"
        type="text"
        v-model.trim="form.login"
        autoFocus
      />
      <input
        type="password"
        class="form-control bottom"
        placeholder="Password"
        v-model="form.password"
        required
      />
      <button
        type="submit"
        class="btn btn-primary btn-block"
      >Log in</button>
    </form>
  </div>
</template>

<script>
  import api from '../common/APIServices.js';
  import auth from '../common/AuthServices.js';

  export default {
    data () {
      return {
        alert: null,
        form: {
          login: '',
          password: '',
        },
      };
    },
    methods: {
      async submitForm() {
        const res = await api.post('/login', {
          login: this.form.login,
          password: this.form.password,
        });
        if (res.status === 200) {
          auth.setTokenAndRedirect(res.token);
          return;
        }
        this.alert = {
          type: 'danger',
          message: res.message,
        };
      }
    }
  };
</script>

<style scoped>
  .login-panel {
    padding: 15px;
    max-width: 330px;
    margin: 0 auto;
  }
  .rounded-form {
    margin-bottom: 10px;
  }
  .rounded-form input {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    margin-bottom: -1px;
  }
  .rounded-form input:focus {
    z-index: 2;
  }
  .rounded-form .top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .rounded-form .bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  form button {
    margin-top: 15px;
  }
</style>
