<template>
  <button @click="click">
    <slot></slot>
    <span v-if="loading">&nbsp;<i class="fa fa-spinner fa-spin"></i></span>
  </button>
</template>

<script>
  export default {
    props: {
      onClick: Function,
    },
    data() {
      return {
        loading: false,
      };
    },
    methods: {
      async click() {
        this.loading = true;
        await this.onClick();
        this.loading = false;
      }
    }
  };
</script>
