<template>
  <modal-template :title="title" @discard="discard">
    <template slot="body">
      <bootstrap-alert :alert="alert"></bootstrap-alert>
      <h3>Urls</h3>
      <form class="form-horizontal">
        <div class="form-group row" v-for="source in sources">
          <label class="col-sm-3 col-form-label">{{source}}</label>
          <div class="col-sm-9">
            <input type="text" v-model="form[source]" :placeholder="examples[source]" class="form-control"/>
          </div>
        </div>
      </form>
    </template>
    <template slot="footer">
      <button type="button" class="btn btn-link" @click="discard">Cancel</button>
      <button type="button" class="btn btn-primary" @click="edit">Save</button>
    </template>
  </modal-template>
</template>

<script>
  import modalContentMixin from '../mixins/modalContent';
  import { SOURCES } from '../common/common';

  export default {
    props: {
      automation: {
        type: Object,
        default() {
          return {};
        },
      },
      examples: {
        default: {},
      },
      save: Function,
      title: String,
    },
    mixins: [modalContentMixin],
    data() {
      const form = {};
      SOURCES.forEach((source) => {
        form[source] = this.automation[source] && this.automation[source].url || '';
      });
      return {
        alert: {},
        form,
        sources: SOURCES,
      };
    },
    methods: {
      async edit() {
        const update = {};
        SOURCES.forEach((source) => {
          if (this.form[source] && this.form[source].trim() !== '') {
            const url = this.form[source].replace(/http(s)?:\/\//, '');
            update[source] = Object.assign(this.automation[source] || {}, { url });
          }
        });
        const res = await this.save(update);
        this.handleResponse(res);
      },
    },
  };
</script>
