<template>
  <div v-if="alert && alert.message" class="alert" :class="className">
    <div class="message-container">{{alert.message}}</div>
    <div class="dismiss-container">
      <button type="button" class="close" @click="dismiss">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['alert'],
    data() {
      return {};
    },
    computed: {
      className() {
        return `alert-${this.alert && this.alert.type || ''}`;
      }
    },
    methods: {
      dismiss() {
        this.$emit('dismiss');
      },
    },
  };
</script>

<style scoped>
  .alert {
    display: flex;
  }
  .message-container {
    flex: 1;
  }
  .dismiss-container {
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: right;
  }
</style>
