<template>
  <div class="breadcrumb">
    <router-link :to="{ name: 'home' }" class="breadcrumb-item">
      <span><i class="fa fa-home" aria-hidden="true" style="margin-top: 5px;"></i></span>
    </router-link>
    <router-link
      v-for="item in parents"
      :to="{ path: item.url }"
      class="breadcrumb-item"
      :key="item.name"
    >{{ item.name }}</router-link>
    <span class="breadcrumb-item active">{{ head.name }}</span>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        parents: [],
        head: {}
      };
    },
    created() {
      this.computeBreadcrumb();
    },
    watch: {
      '$route.name': function () { // function is necessary
        this.computeBreadcrumb();
      }
    },
    methods: {
      computeBreadcrumb () {
        const paths = this.$route.path.split('?')[0].split('/');
        let currentPath = '';
        this.parents = paths.slice(1, paths.length - 1).map((path) => {
          currentPath += `/${path}`;
          return {
            name: path,
            url: currentPath,
          };
        });
        if (paths.length > 0) {
          const name = paths.pop();
          currentPath += `/${name}`;
          this.head = {
            name,
            url: currentPath,
          };
        }
      }
    }
  };
</script>
