<template>
  <div>
    <slot v-if="show"></slot>
    <button v-else type="button" class="text-muted" @click="click">
      <span v-if="loading">Loading <i class="fa fa-spin fa-spinner"></i></span>
      <span v-else>Click to display</span>
    </button>
  </div>
</template>

<script>
  export default {
    props: ['onClick'],
    data() {
      return {
        loading: false,
        show: false,
      };
    },
    methods: {
      async click() {
        if (this.loading) {
          return;
        }
        this.loading = true;
        await this.onClick();
        this.show = true;
        this.loading = false;
      },
    },
  };
</script>

<style scoped>
  button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
  }
</style>
