<template>
  <div class="dropdown" :class="{ show }">
    <button
      type="button"
      class="btn dropdown-toggle"
      :class="btnClass"
      @click.stop="toggle"
    >
      <span value="">{{ selectedOption.label }}</span>
      <span>&nbsp;</span>
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" v-click-outside="close">
      <a
        v-for="item in selects"
        class="dropdown-item"
        :class="{ disabled: item.value === selectedOption.value }"
        href
        @click.prevent="select(item)"
      >{{ item.label }}</a>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      btnClass: {
        type: String,
        default: "btn-secondary"
      },
      options: {
        type: Array,
        default: []
      },
      value: {
        type: String
      }
    },
    data () {
      let selectedOption;
      if (this.options.length == 1) {
        selectedOption = this.options[0];
      }
      if (this.value === null) {
        selectedOption = {
          label: ' - ',
        };
      } else if (typeof this.value !== 'object') {
        selectedOption = {
          value: this.value,
          label: this.value,
        };
      }
      return {
        show: false,
        selectedOption,
      };
    },
    computed: {
      selects() {
        const selects = [];
        if (!this.options || typeof this.options !== "object") {
          return [];
        }
        this.options.forEach((option) => {
          if (typeof option !== 'object') {
            option = {
              value: option,
              label: option
            };
          }
          selects.push(option);
        });
        return selects;
      }
    },
    methods: {
      select(item) {
        const hasChanged = item.value !== this.value;
        this.selectedOption = item;
        this.$emit('input', this.selectedOption.value);
        if (hasChanged) {
          this.$emit('onChange');
        }
        this.show = false;
      },
      toggle() {
        this.show = !this.show;
      },
      close() {
        this.show = false;
      }
    }
  }
</script>

<style scoped>
  .dropdown.show .dropdown-menu {
    display: block;
  }
</style>
