<template>
  <transition name="fade">
    <div v-if="show" class="modal fade show" tabindex="-1" role="dialog">
      <div
        class="modal-dialog"
        :class="{ 'modal-lg': size === 'lg', 'modal-sm': size === 'sm' }"
        role="document"
        v-click-outside="discard"
      >
        <slot></slot>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    props: ['size'],
    data() {
      return {
        show: false,
      };
    },
    methods: {
      close() {
        this.show = false;
        this.$emit('ok');
      },
      discard() {
        this.show = false;
        this.$emit('discard');
      },
      open() {
        this.show = true;
      },
    },
  };
</script>

<style scoped>
  .modal {
    display: block;
    overflow-y: scroll;
    opacity: 1;
    background: rgba(33, 37, 41, 0.5);
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease-out;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
