<template>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{title}}</h5>
      <button type="button" class="close" @click="discard">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <slot name="body"></slot>
    </div>
    <div class="modal-footer">
      <slot name="footer">
        <button type="button" class="btn btn-primary" @click="discard">Close</button>
      </slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['title'],
    data() {
      return {}
    },
    methods: {
      ok() {
        this.$emit('ok');
      },
      discard() {
        this.$emit('discard');
      }
    }
  }
</script>
