<template>
  <header class="header clearfix">
    <div class="nav nav-pills float-right">
      <slot name="actions"></slot>
    </div>
    <h3 class="text-muted">{{title}}</h3>
  </header>
</template>

<script>
  export default {
    props: ['title'],
    data() {
      return {};
    },
  };
</script>

<style scoped>
  header {
    margin-bottom: 20px;
    border-bottom: .05rem solid #e5e5e5;
  }
  header li {
    display: inline-block;
  }
</style>
