<template>
  <div v-if="indexes.length > 1" class="row justify-content-md-center pagination-panel">
    <ul class="pagination">
      <li class="page-item" :class="{ disabled: page === 0 }">
        <a href class="page-link page-minus" @click.prevent="previous">&laquo;</a>
      </li>
      <li v-for="item in indexes" class="page-item" :class="item.className">
        <a v-if="item.isDivider" href class="page-link">..</a>
        <a v-else href class="page-link page-number" @click.prevent="to(item.page)">{{item.page + 1}}</a>
      </li>
      <li class="page-item" :class="{ disabled: (page > pages - 2) }">
        <a href class="page-link page-plus" @click.prevent="next">&raquo;</a>
      </li>
    </ul>
    <div v-if="this.pages > (this.width || 12)" class="col-md-auto pagination-goto">
      <form @submit.prevent="goTo" class="input-group">
        <input
          type="number"
          min="1"
          :max="pages"
          class="form-control"
          v-model.number="goToPage"
        />
        <span class="input-group-append">
          <button class="btn btn-primary" type="submit">Go!</button>
        </span>
      </form>
    </div>
  </div>
</template>

<script>
  const addRange = (indexes, start, end, page) => {
    for (let i = start; i < end; i += 1) {
      indexes.push({
        className: (i === page) ? 'active' : '',
        page: i
      });
    }
  };

  const addDivider = (indexes) => {
    indexes.push({ className: "disabled", isDivider: true });
  };

  const buildIndexes = (pages, page) => {
    const centerRange = 2;
    const borderRange = 2;
    const totalRange = (2 * centerRange) + (2 * borderRange) + 3;
    const indexes = [];
    if (pages > totalRange) {
      if (page < centerRange + borderRange + 2) {
        addRange(indexes, 0, borderRange + (2 * centerRange) + 2, page);
        addDivider(indexes);
        addRange(indexes, pages - borderRange, pages, page);
      } else if (page > pages - centerRange - borderRange - 2) {
        addRange(indexes, 0, borderRange, page);
        addDivider(indexes);
        addRange(indexes, pages - (2 * centerRange) - borderRange - 2, pages, page);
      } else {
        addRange(indexes, 0, borderRange, page);
        addDivider(indexes);
        addRange(indexes, page - centerRange, page + centerRange + 1, page);
        addDivider(indexes);
        addRange(indexes, pages - borderRange, pages, page);
      }
    } else {
      addRange(indexes, 0, pages, page);
    }
    return indexes;
  };

  export default {
    props: ['page', 'pages', 'width'],
    data() {
      return {
        goToPage: null,
      };
    },
    computed: {
      indexes() {
        return buildIndexes(this.pages, this.page || 0);
      }
    },
    methods: {
      next() {
        if (this.page < this.pages - 1) {
          this.$emit('pageUpdate', this.page + 1);
        }
      },
      previous() {
        if (this.page > 0) {
          this.$emit('pageUpdate', this.page - 1);
        }
      },
      to(page) {
        this.$emit('pageUpdate', page);
      },
      goTo() {
        this.$emit('pageUpdate', this.goToPage);
      }
    }
  }
</script>

<style scoped>
  .pagination-goto input {
    max-width: 90px;
  }
</style>
