<template>
  <div>
    <span>{{shortenedList}}</span>
    <a class="expander-link" :id="shortenedId" v-if="remainList.length">...</a>
    <b-tooltip :target="shortenedId" placement="bottom">
      <div v-for="item in remainList">{{item}}</div>
    </b-tooltip>
  </div>
</template>

<script>
  export default {
    props: ['id', 'list', 'limit'],
    data() {
      return {};
    },
    computed: {
      remainList() {
        return this.list.slice(this.limit);
      },
      shortenedList() {
        const l = this.list.slice(0, this.limit).join(', ');
        if (this.list.length > this.limit) {
          return `${l}, `;
        }
        return l;
      },
      shortenedId() {
        return `shortened_${this.id}`;
      },
    },
  };
</script>

<style scoped>
  a.expander-link {
    color: #007bff;
  }
  a.expander-link:hover {
    text-decoration: underline;
  }
</style>
