<template>
  <pre>
    <component
      v-for="(element, index) in elements"
      :is="element"
      :key="index">
    </component>
  </pre>
</template>

<script>
  const KEYS = {
    competition: id => ({ name: 'competitionJson', params: { id } }),
    league: id => ({ name: 'leagueJson', params: { id } }),
    match: id => ({ name: 'matchJson', params: { id } }),
    awayteam: id => ({ name: 'teamJson', params: { id } }),
    hometeam: id => ({ name: 'teamJson', params: { id } }),
    team: id => ({ name: 'teamJson', params: { id } }),
    user: id => ({ name: 'userJson', params: { id } }),
  };
  const OPENING_PARENTHESIS = '{';
  const CLOSING_PARENTHESIS = '}';

  const buildTabs = tabs => '  '.repeat(2 * tabs);

  const displayJson = (obj) => {

    const buildElement = (value, tabs = 0) => {
      const str = tabs ? `${buildTabs(tabs)}${value}` : value;
      return `<span>${str}</span>`;
    };

    const buildNewLine = () => {
      return '<br/>';
    };

    const displayJsonRec = (json, tabs, fromTabs) => {
      if (json === null) {
        return ['<span>null</span>'];
      }
      const elements = [];
      if (typeof json === 'object') {
        if (json instanceof Array) {
          elements.push(buildElement('['), buildNewLine());
          json.forEach((item, index) => {
            if (index) {
              elements.push(buildElement(','), buildNewLine());
            }
            elements.push(...displayJsonRec(item, tabs + 1, tabs + 1));
          });
          elements.push(buildNewLine(), buildElement(']', tabs));
          return elements;
        }
        const jsonKeys = Object.keys(json);
        elements.push(buildElement(OPENING_PARENTHESIS, fromTabs), buildNewLine());
        jsonKeys.forEach((key, index) => {
          if (key === '$$hashKey' || key === '__v') return;
          if (index) {
            elements.push(buildElement(','), buildNewLine());
          }
          elements.push(buildElement(`${key}: `, tabs + 1));
          if (KEYS[key]) {
            console.log(key, jsonKeys);
            const getTransition = KEYS[key];
            // Check if the key refers to a list of ids
            /*if (json[key] instanceof Array) {
              elements.push(buildElement('['), buildNewLine());
              json[key].forEach(function(item) {
                    if (!first) {
                      element.append(",<br/>" + buildTabs(tabs + 2));
                    }
                    else {
                      element.append(buildTabs(tabs + 2));
                      first = false;
                    }
                    // check if the item is a string so that we can do the transform
                    if (typeof item === "string") {
                      var link = "";
                      if (typeof value == "function") link = value(item);
                      else link = JSON.stringify(value);
                      element.append("<a href=\"" + link + "\">" + item + "</a>");
                    }
                    else displayJSONRec(item, keys, element, tabs + 2);
                  });
                  element.append("<br/>" + buildTabs(tabs + 1) + "]");
                }*/
            if (typeof json[key] === 'object') {
              elements.push(...displayJsonRec(json[key], tabs + 1));
              return;
            }
            elements.push({
              data() {
                return {
                  transition: KEYS[key](json[key]),
                };
              },
              template: `<router-link :to="transition">${json[key]}</router-link>`,
            });
          } else {
            elements.push(...displayJsonRec(json[key], tabs + 1));
          }
        });
        elements.push(buildNewLine(), buildElement(CLOSING_PARENTHESIS, tabs));
        return elements;
      }
      return [buildElement(JSON.stringify(json), fromTabs)];
    };
    return displayJsonRec(obj, 0).map((html) => {
      return typeof html === 'string' ? {
        template: html,
      } : html;
    });
  };

  export default {
    props: ['json'],
    data() {
      return {};
    },
    computed: {
      elements() {
        return displayJson(this.json);
      },
    },
  };
</script>

<style scoped>
  pre {
    background-color: black;
    color: #eee;
    border-radius: 4px;
    padding: 10px;
  }
  pre span:first-child {
    margin-left: -15px;
  }
</style>
