<template>
  <div class="panel-group">
    <h4 v-if="title" class="panel-title">{{title}}</h4>
    <div class="pull-right action-panel">
      <slot name="actions"></slot>
    </div>
    <table class="table" :class="className">
      <thead v-if="!noHeader">
        <tr>
          <th v-for="col in columns" :class="col.className">{{col.title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="pagination.items && pagination.items.length > 0" v-for="item in pagination.items" :class="rowClasses(item)">
          <td v-for="col in columns" :class="col.className">
            <template v-if="col.customCell">
              <slot :name="`${col.key}_cell`" :value="item"></slot>
            </template>
            <template v-else>{{col.value(item)}}</template>
          </td>
        </tr>
        <tr v-if="!pagination.items">
          <td :colSpan="columns.length" class="text-center">Loading <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></td>
        </tr>
        <tr v-if="pagination.items && pagination.items.length === 0">
          <td :colSpan="columns.length">{{noItemMessage}}</td>
        </tr>
      </tbody>
    </table>
    <pagination
      :page="pagination.page"
      :pages="pageCount"
      :width="12"
      @pageUpdate="onPageUpdate"
    ></pagination>
  </div>
</template>

<script>

  const computePageCount = (count, limit) => count && limit ? Math.ceil(count / limit) : 0;

  export default {
    props: {
      columns: Array,
      className: [String, Object],
      emptyLabel: String,
      itemsPerPage: Number,
      noHeader: Boolean,
      pagination: Object,
      onPageChange: Function,
      rowClasses: {
        type: Function,
        default() {
          return () => {};
        },
      },
      title: String,
      withCount: [Boolean, String],
    },
    data() {
      return {
        noItemMessage: this.emptyLabel || 'No item found',
      };
    },
    computed: {
      pageCount() {
        const count = this.pagination.count || (this.pagination.items && this.pagination.items.length);
        return computePageCount(count, this.itemsPerPage);
      },
    },
    methods: {
      onPageUpdate(page) {
        this.$emit('pageUpdate', page);
      },
    },
  }
</script>

<style scoped>
  .action-panel {
    margin-top: -25px;
  }
</style>
