<template>
  <div class="dropdown" :class="{ show }">
    <input
      v-model="label"
      :class="className"
      :placeholder="placeholder"
      @keyup="onKeyup"
      @focus="onFocus"
      @blur="show = false"
    >
    <div class="dropdown-menu" v-click-outside="() => { show = false; }">
      <a
        v-for="(item, i) in results"
        class="dropdown-item"
        :class="{ disabled: item === value, active: i === hoveredIndex }"
        href
        @click.prevent="select(item)"
      >{{ getLabel(item) }}</a>
    </div>
  </div>
</template>

<script>
  import { debounce } from '../common/common';

  export default {
    props: {
      getLabel: {
        type: Function,
        default: x => x,
      },
      getItems: {
        type: Function,
      },
      delay: {
        type: Number,
        default: 200,
      },
      minLength: {
        type: Number,
        default: 1,
      },
      className: {},
      placeholder: {},
      value: {},
    },
    data() {
      return {
        debouncedSearch: debounce(this.search, this.delay),
        label: this.value && this.getLabel(this.value) || '',
        results: [],
        hoveredIndex: -1,
        searchedLabel: null,
        show: false,
      };
    },
    methods: {
      async search() {
        if (this.label === this.searchedLabel) {
          return;
        }
        if (this.label && this.label.length >= this.minLength) {
          this.searchedLabel = this.label;
          this.results = await this.getItems(this.label);
        } else {
          this.results = [];
        }
        this.hoveredIndex = -1;
        this.show = this.results.length > 0;
      },
      select(item) {
        this.label = item && this.getLabel(item) || '';
        this.$emit('input', item);
        this.show = false;
        this.hoveredIndex = -1;
      },
      onFocus() {
        this.show = this.results.length > 0;
      },
      onKeyup(event) {
        switch(event.key) {
          case "ArrowDown":
            this.show = this.results.length > 0;
            if (this.hoveredIndex < this.results.length - 1) {
              this.hoveredIndex++;
            }
            break;
          case "ArrowUp":
            if (this.hoveredIndex > 0) {
              this.hoveredIndex--;
            }
            break;
          case "Escape":
            this.show = false;
            this.hoveredIndex = -1;
            break;
          case "Enter":
            if (this.hoveredIndex > -1) {
              this.select(this.results[this.hoveredIndex]);
            }
            break;
          default:
            this.debouncedSearch();
        }
      },
    },
  };
</script>

<style scoped>
  .dropdown.show .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    width: 100%;
  }
  .dropdown-item:active,
  .dropdown-item:hover {
    color: white;
    background: #55a7ff;
  }
</style>
