<template>
  <router-link :to="{ name: 'userDetail', params: { id: user._id } }">
    <img
      v-if="pictureURL"
      alt="user profile pic"
      :src="pictureURL"
      width="20"
      height="20"
    />
    <span class="user-name">{{displayName}}</span>
  </router-link>
</template>

<script>
  import * as userServices from '../services/users';

  export default {
    props: ['user'],
    data() {
      return {};
    },
    computed: {
      pictureURL() {
        return this.user.pictureUrl || userServices.getPictureURL(this.user);
      },
      displayName() {
        return this.user.displayName || userServices.getDisplayName(this.user);
      },
    },
  };
</script>

<style scoped>
  img {
    margin-right: 10px;
  }
  a {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    white-space: nowrap;
  }
</style>
