<template>
  <shortened-list :list="cEmails" :limit="1" :id="user._id"></shortened-list>
</template>

<script>
  import * as userServices from '../services/users';

  export default {
    props: ['user'],
    data() {
      return {};
    },
    computed: {
      cEmails() {
        return userServices.getUserEmails(this.user);
      },
    },
  };
</script>
