@media screen and (max-width : 768px) {
	.nav.nav-pills.pull-right {
		font-size : 15px;
		margin-top: 5px;
	}
}

@media screen and (min-width : 768px) {
	.nav.nav-pills.pull-right {
		font-size : 20px;
		margin-top : 2px;
	}
}


#form {
	margin: auto;
	max-width: 600px;
}

#new_password_input {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#repeat_new_password_input {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-top: -2px;
}

#action_panel {
	margin-top: 10px;
}