.sprite { 
	background: url('/images/flags.png') no-repeat top left; 
	width: 40px; 
	height: 42px;
	zoom: 0.55;
	-moz-transform:scale(0.55);
	-moz-transform-origin: 0 0;
} 
.sprite.void22x22 { background-position: 0px 0px;  } 
.sprite.ACMilan { background-position: 0px -0px;  } 
.sprite.Algeria { background-position: 0px -48px;  } 
.sprite.Argentina { background-position: 0px -92px;  } 
.sprite.Arsenal { background-position: 0px -136px;  } 
.sprite.AtleticoMadrid { background-position: 0px -180px;  } 
.sprite.Australia { background-position: 0px -225px;  } 
.sprite.BayerLeverkusen { background-position: 0px -270px;  } 
.sprite.BayernMunchen { background-position: 0px -315px;  } 
.sprite.Belgium { background-position: 0px -360px;  } 
.sprite.BorussiaDortmund { background-position: 0px -406px;  } 
.sprite.BosniaandHerzegovina { background-position: 0px -451px;  } 
.sprite.Brazil { background-position: 0px -495px;  }
.sprite.Cameroon { background-position: 0px -540px;  } 
.sprite.Chelsea { background-position: 0px -586px;  } 
.sprite.Chile { background-position: 0px -632px;  } 
.sprite.Colombia { background-position: 0px -677px;  } 
.sprite.CostaRica { background-position: 0px -722px;  } 
.sprite.Croatia { background-position: 0px -767px;  } 
.sprite.Ecuador { background-position: 0px -813px;  } 
.sprite.England { background-position: 0px -858px;  } 
.sprite.FCBarcelona { background-position: 0px -901px;  } 
.sprite.France { background-position: 0px -948px;  } 
.sprite.Galatasaray { background-position: 0px -990px;  } 
.sprite.Germany { background-position: 0px -1035px;  } 
.sprite.Ghana { background-position: 0px -1080px;  } 
.sprite.Greece { background-position: 0px -1126px;  } 
.sprite.Honduras { background-position: 0px -1171px;  } 
.sprite.Iran { background-position: 0px -1216px;  } 
.sprite.Italy { background-position: 0px -1261px;  } 
.sprite.IvoryCoast { background-position: 0px -1306px;  } 
.sprite.Japan { background-position: 0px -1351px;  } 
.sprite.KoreaRepublic { background-position: 0px -1396px;  } 
.sprite.ManchesterCity { background-position: 0px -1441px;  } 
.sprite.ManchesterUnited { background-position: 0px -1486px;  } 
.sprite.Mexico { background-position: 0px -1531px; } 
.sprite.Netherlands { background-position: 0px -1576px;  } 
.sprite.Nigeria { background-position: 0px -1621px;  } 
.sprite.Olympiakos { background-position: 0px -1665px;  } 
.sprite.ParisStGermain { background-position: 0px -1710px;  } 
.sprite.Portugal { background-position: 0px -1755px;  } 
.sprite.RealMadrid { background-position: 0px -1800px;  } 
.sprite.Russia { background-position: 0px -1845px;  } 
.sprite.Schalke04 { background-position: 0px -1890px;  } 
.sprite.Spain { background-position: 0px -1935px;  } 
.sprite.Switzerland { background-position: 0px -1980px;  } 
.sprite.Uruguay { background-position: 0px -2026px;  } 
.sprite.USA { background-position: 0px -2071px;  } 
.sprite.ZenitStPetersburg { background-position: 0px -2116px;  } 

.sprite{
	margin: 0 5px;
}


.btnShare{
	margin-right: 5px;
}

/*#fb-root { 
	position:fixed; 
	top:10%; 
}*/

/*#fb-root .dialog {}*/

@media screen and (max-width: 767px) {
  	.team p:before{
    	content: attr(country3);
    }
    
    .team-name:before {
    	content: attr(team-name-short);
    }
    
    th:before {
	    content: attr(short);
    }
    
    .match-date:before {
	    content: attr(short);
    }
    
    td {
	    padding-left: 0px;
	    padding-right: 0px;
	    font-size: 12px;
    }
    
    .score-column {
		width: 90px;
	}
	
	.score-column div {
		width: 90px;
	}
}

@media screen and (max-width: 992px) {
	.group-ranking {
	    display: none;
    }
}

@media screen and (min-width: 768px) {
  	.team p:before{
    	content: attr(country);
    }
    
    .team-name:before {
    	content: attr(team-name);
    }
    
    th:before {
	    content: attr(full);
    }
    
    .match-date:before {
	    content: attr(full);
    }
    
    .score-column {
		width: 120px;
	}
	
	.score-column div {
		width: 110px;
		margin: auto;
	}
	
	.table tbody tr .tz-datetime-responsive {
		padding-left: 8px;
	}
}

.table tbody tr td {
	padding-left: 0px;
	padding-right: 0px;
}

/** Forecast result **/
.match-forecast .match-forecast-forecast {
	margin-top: -6px; 
	font-size:20px;
	margin-bottom: 1px;
}

.match-forecast .match-forecast-result {
	font-size: 12px; 
	margin-top: -7px;
	margin-bottom: -2px;
}

.match-forecast .match-forecast-result span {
	background: #21c78a; 
	border-radius: 2px; 
	padding-left: 6px; 
	padding-right: 5px;
	color: white;
}

/** Forecast input **/
.saved-score input {
	background: #7fe7c1;
}

.unsaved-score input {
	background: #fff97b;
}

.invalid-score input {
	background: #ffc2c2;
}

/** group table */
.group-table tbody tr td {
	padding-bottom: 2px;
}

.group-table tbody tr .score-column {
	padding-top: 2px;
}

/** elimination table */
.elimination-table tbody tr td {
	padding-bottom: 2px;
}

.elimination-table tbody tr .score-column {
	padding-top: 2px;
}

/** Affix **/
#affix_col > .affix {
	margin-top: -80px;
}

#affix_col ul.nav li a:hover {
	background: transparent;
}

#affix_col ul.nav li a {
	margin-top: -15px;
	margin-bottom: -15px;
}

input[name*="score"] {
	width : 4em;
}

.cell {
	position: relative;
}

.incell-right {
	float: right;
}

.incell-left {
	float: left;
}

.score{
	margin: 0 5px;
}



.edit-match-score .score-input {
	padding: 0px 0px;
	text-align: center;
	padding-top: 1px;
}

.tablesorter tbody tr td {
	padding: 1px;
}

.resultsCell {
	height: 30px;
}


/*match_line_tbd*/
tr.tbd{
	background-color:#C0C0C0;
}

/*modal point*/
@media screen and (max-width: 767px) {
    .modalTableHeader:before {
    	content: attr(short);
    }
}

@media screen and (min-width: 768px) {
    .modalTableHeader:before {
    	content: attr(long);
    }
}