@media screen and (max-width : 768px) {
	.nav.nav-pills.pull-right {
		font-size : 15px;
		margin-top: 5px;
	}
}

@media screen and (min-width : 768px) {
	.nav.nav-pills.pull-right {
		font-size : 20px;
		margin-top : 2px;
	}
}

#register_link {
	margin-top: 10px;
	margin-left: 10px;
}

#form {
	margin: auto;
	max-width: 600px;
}

#action_panel {
	margin-top: 10px;
}