#header_profile_picture {
	margin-top: -10px;
	margin-bottom: -10px;
	margin-right: 10px;
}

.nav li .btn {
	margin-top: -4px;
}

.nav li .btn-lg {
	margin-top: -9px;
}

@media screen and (max-width : 768px) {
	
}