hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #DDDDDD -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

#link_label {
	color: #428bca;
	font-size: 20px;
	text-align: right;
}

#copy_button {
	cursor: hand !important;
}

#action_panel {
	margin-top: 10px;
	margin-bottom: 40px;
}

#button_send {
	margin-top: 10px;
	margin-bottom: 20px;
}

#message_panel {
	margin-bottom: -10px;
}

@media screen and (max-width: 767px) {
    #link_label {
	    font-size: 12px;
	    text-align: center;
    }
    
    #copy_link {
	    text-align: center;
    }
    
    .member-email {
	    font-size: 11px;
    }
}

/** Email input **/
.hi-fake-input > ul > li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.hi-fake-input {
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	-webkit-transition-delay: 0s, 0s;
	-webkit-transition-duration: 0.15s, 0.15s;
	-webkit-transition-property: border-color, box-shadow;
	-webkit-transition-timing-function: ease-in-out, ease-in-out;
	background-color: rgb(255, 255, 255);
	background-image: none;
	border-color: rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-sizing: border-box;
	cursor: text;
	border-radius: 4px;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.hi-value {
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: #abd9fa;
	margin-left: -2px;
	margin-right: -2px;
	font-size: 14px;
	/*position: relative;*/
}

.hi-value:hover {
	cursor: pointer;
}

.hi-value.hi-value-selected:hover {
	cursor: default;
}

.hi-value.hi-value-selected .hi-remove:hover {
	cursor: pointer;
}

.hi-value-valid {
	background: #abd9fa;
}

.hi-value-valid.hi-value-selected {
	background: #55b3f5;
}

.hi-value-unvalid {
	background: #ffa6a4;
}

.hi-value-unvalid:hover, .hi-value-unvalid.hi-value-selected {
	background: #fa665e;
}

.hi-hidden-input {
	background-color: transparent;
	font-size: 14px;
	color: #555;
	border: none;
	min-width: 300px;
}

.hi-hidden-input:focus {
	outline: none;
}