/** This tricks prevent modal from creating a 15px margin on right*/
body, .navbar-fixed-top {
	margin-right: 0 !important;
}

#input_message {
	overflow:auto!important;
	resize: none!important;
/*	height:auto;*/
}