.sprite { 
	background: url('/images/flags.png') no-repeat top left; 
	width: 40px; 
	height: 42px;
	zoom: 0.55;
	-moz-transform:scale(0.55);
	-moz-transform-origin: 0 0;
} 
.sprite.void22x22 { background-position: 0px 0px;  } 
.sprite.ACMilan { background-position: 0px -0px;  } 
.sprite.Algeria { background-position: 0px -48px;  } 
.sprite.Argentina { background-position: 0px -92px;  } 
.sprite.Arsenal { background-position: 0px -136px;  } 
.sprite.AtleticoMadrid { background-position: 0px -180px;  } 
.sprite.Australia { background-position: 0px -225px;  } 
.sprite.BayerLeverkusen { background-position: 0px -270px;  } 
.sprite.BayernMunchen { background-position: 0px -315px;  } 
.sprite.Belgium { background-position: 0px -360px;  } 
.sprite.BorussiaDortmund { background-position: 0px -406px;  } 
.sprite.BosniaandHerzegovina { background-position: 0px -451px;  } 
.sprite.Brazil { background-position: 0px -495px;  }
.sprite.Cameroon { background-position: 0px -540px;  } 
.sprite.Chelsea { background-position: 0px -586px;  } 
.sprite.Chile { background-position: 0px -632px;  } 
.sprite.Colombia { background-position: 0px -677px;  } 
.sprite.CostaRica { background-position: 0px -722px;  } 
.sprite.Croatia { background-position: 0px -767px;  } 
.sprite.Ecuador { background-position: 0px -813px;  } 
.sprite.England { background-position: 0px -858px;  } 
.sprite.FCBarcelona { background-position: 0px -901px;  } 
.sprite.France { background-position: 0px -948px;  } 
.sprite.Galatasaray { background-position: 0px -990px;  } 
.sprite.Germany { background-position: 0px -1035px;  } 
.sprite.Ghana { background-position: 0px -1080px;  } 
.sprite.Greece { background-position: 0px -1126px;  } 
.sprite.Honduras { background-position: 0px -1171px;  } 
.sprite.Iran { background-position: 0px -1216px;  } 
.sprite.Italy { background-position: 0px -1261px;  } 
.sprite.IvoryCoast { background-position: 0px -1306px;  } 
.sprite.Japan { background-position: 0px -1351px;  } 
.sprite.KoreaRepublic { background-position: 0px -1396px;  } 
.sprite.ManchesterCity { background-position: 0px -1441px;  } 
.sprite.ManchesterUnited { background-position: 0px -1486px;  } 
.sprite.Mexico { background-position: 0px -1531px; } 
.sprite.Netherlands { background-position: 0px -1576px;  } 
.sprite.Nigeria { background-position: 0px -1621px;  } 
.sprite.Olympiakos { background-position: 0px -1665px;  } 
.sprite.ParisStGermain { background-position: 0px -1710px;  } 
.sprite.Portugal { background-position: 0px -1755px;  } 
.sprite.RealMadrid { background-position: 0px -1800px;  } 
.sprite.Russia { background-position: 0px -1845px;  } 
.sprite.Schalke04 { background-position: 0px -1890px;  } 
.sprite.Spain { background-position: 0px -1935px;  } 
.sprite.Switzerland { background-position: 0px -1980px;  } 
.sprite.Uruguay { background-position: 0px -2026px;  } 
.sprite.USA { background-position: 0px -2071px;  } 
.sprite.ZenitStPetersburg { background-position: 0px -2116px;  } 

.sprite{
	margin: 0 5px;
}

@media screen and (max-width: 767px) {
	.team-name:before {
		content: attr(team-name-short);
	}
	
	.date:before {
		content: attr(short);
	}
}

@media screen and (min-width: 768px) {
	.team-name:before {
		content: attr(team-name);
	}
	
	.date:before {
		content: attr(full);
	}
}

#group_message {
	margin-left: -10px;
	margin-right: -10px;
}

.alert {
	margin-bottom: 1px;
}

.alert ul li {
	margin-left: -10px;
	margin-right: -10px;
}

.panel-body {
	margin-top: -10px;
	margin-bottom: -10px;
}

#wall_body {
	margin-left: -10px;
	margin-right: -10px;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 300px;
}

/* Forecast */
.score-column div {
	margin-top: -5px;
}

.score-column div span {
	font-size: 20px;
	font-weight: bold;
	background: #21c78a; 
	border-radius: 2px; 
	padding-left: 6px; 
	padding-right: 5px;
	color: white;
}
.cell {
	position: relative;
}

.incell-right {
	float: right;
}

.incell-left {
	float: left;
}

/*
* rotate header of table points calculation
* ne fonctionne pas top, assez instable...laissé pour info
*/

.box_rotate /* if more tha one line, content should be wrap in a div displayed as inline-boxe */
{
	vertical-align:middle;
	-moz-transform: rotate(-90deg);  /* FF3.5+ */
	-o-transform: rotate(-90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
	/*filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);   IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
	transform-origin:    center;
	height: 3em;
}
.box_rotate:before {
	content:'';
	display:inline-block;/* allow to vertical-center a box aside */
	vertical-align:middle;
	margin:0 -0.25em;
	padding-top:100%;
}
.box_rotate {
	border:solid;
}

@media screen and (max-width: 767px) {
	.modalTableHeader:before {
		content: attr(short);
	}
	
	#wall_body {
		max-height: 250px;
	}
}

@media screen and (min-width: 768px) {
	.modalTableHeader:before {
		content: attr(long);
	}
}

/** This tricks prevent modal from creating a 15px margin on right*/
body, .navbar-fixed-top {
	margin-right: 0 !important;
}

#input_message {
	overflow:auto!important;
	resize: none!important;
/*  height:auto;*/
}

#timestamp {
	font-size: 10px;
	color: #777;
}

#main_logo {
	display: none ;
}



@media screen {
/* Hide print specific elements */
	#slogan,
	#main_logo{
		display: none;
	}
}

@media print {
	/* -- Hide screen specific elements -- */
	#nav,
	.page-header,
	.header,
	.wall-col,
	#forecast_panel,
	#footer,
	.print-hide{
		display: none;
	}
	#ranking_heading {
		text-align: center;
	}
	#ranking_panel{
		margin-top: 1cm;
	}
	#main_logo {
		margin-left: auto;
		margin-right: auto;
		display: block !important;
	}
	#slogan {
		font-family: Lato;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 1.5cm;
	}
	#progressbar-title:after{
		content: attr(progression);
	}
}
