#custom_ranking {
	margin: auto;
	margin-top: 20px;
	max-width: 600px;
}

.user-name img {
	width: 25px;
	height: 25px;
	margin-top: -4px; 
	margin-right: 3px;
}

#user_panel {
	margin-left: -30px;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 380px;
}