@media screen and (max-width : 768px) {
	.nav.nav-pills.pull-right {
		font-size : 15px;
		margin-top: 5px;
	}
	
	#login_or {
		font-size: 20px;
	}
}

@media screen and (min-width : 768px) {
	.nav.nav-pills.pull-right {
		font-size : 20px;
		margin-top : 2px;
	}
	
	#login_panel {
		margin: auto;
		max-width: 768px;
	}
	
	#login_or {
		margin-top: 100px;
		font-size: 20px;
	}
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#register_link {
	margin-top: 10px;
	margin-left: 10px;
}

form .btn-google-plus {
	margin-top: 5px;
}

form .btn-twitter {
	margin-top: 5px;
}