#new_league_panel {
	max-width: 700px;
	margin: auto;
}

#main_panel {
	margin-top: 30px;
}

#action_panel {
	margin-top: 10px;
	margin-bottom: 20px;
}

#new_league_submit {
	margin-left: 10px;
}

#competition_label {
	margin-right: 10px;
}
