/*
* modals 
*/

@media screen and (max-width: 767px) {
    .modalTableHeader:before {
    	content: attr(short);
    }
}

@media screen and (min-width: 768px) {
    .modalTableHeader:before {
    	content: attr(long);
    }
}

.capitalize {text-transform:capitalize;}