.changePic {
	text-align: center;
}

#emailSettings {
	margin: 50px 0;
}

#userId {
	padding: 40px;
}

.userinfo {
	margin: 10px 0;
}

#picture_panel {
	text-align: center;
	
}

#picture_panel {
	display: block;
}

#picture_panel div {
    position: relative;
    display: inline-block;
    /* if you need ie6/7 support */
    *display: inline;
    zoom: 1;
}

#picture_panel .caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#choosen_picture {
	margin: auto;
	height: 180px;
	width: 180px;
}

.clickable {
	cursor: pointer;
}

.picture {
	margin: 2px;
	position: relative;
	display: inline-block;
	/* if you need ie6/7 support */
    *display: inline;
	zoom: 1;
	height: 100px;
	width: 100px;
	background: transparent;
}

.picture .caption {
	position: absolute;
	display: none;
	border-radius: 2px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(126,195,255,0.48);
}

.picture .caption.active {
	display: block;
}

.picture img {
	padding: 2px;
	width: 100px;
	height: 100px;
	border-radius: 2px;
	border: 1px solid #ddd;
}

@media screen and (max-width: 767px) {
    .picture {
	    height: 50px;
	    width: 50px;
    }
    
    .picture img {
	    height: 50px;
	    width: 50px;
    }
}

/*.saved-pseudo {
	background-color: green;
}

.unsaved-pseudo {
	background-color: yellow;
}

.invalid-pseudo {
	background-color: red;
}*/