/*table sorter*/
@media screen and (min-width: 768px) {
    th.sort.header { 
        background-image: url('/images/tablesorter/bg.gif');
        cursor: pointer; 
        font-weight: bold; 
        background-repeat: no-repeat; 
        background-position: center right; 
    } 

    th.sort.headerSortDown { 
        background-image: url('/images/tablesorter/desc.gif'); 
    } 

    th.sort.headerSortUp { 
        background-image: url('/images/tablesorter/asc.gif'); 
    } 
}