html
  head
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width")
    meta(name="format-detection" content="address=no")
    meta(name="format-detection" content="telephone=no")
    meta(name="format-detection" content="email=no")
    style(type="text/css").
      body { margin: 0 !important; padding: 0 !important; }
      a:visited { color: #08c !important; text-decoration: none !important; }
      a:hover { text-decoration: underline !important; }
      a:active { text-decoration: underline !important; }
      a:hover.linkbutton { color: #2b2b2b !important; text-decoration: none !important; font-weight: 500 !important; }
      a:active.linkbutton { color: #2b2b2b !important; text-decoration: none !important; font-weight: 500 !important; }
      a:visited.linkbutton { color: #2b2b2b !important; text-decoration: none !important; font-weight: 500 !important; }
      .nobr {  white-space: nowrap; }

      @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
      body[yahoo] {overflow: hidden;width: 320px !important;text-align: center !important;margin: 0;-webkit-text-size-adjust:100% !important;}
      body[yahoo] .heading_logo {text-align: right !important;}

      body[yahoo] .heading_logo img {width: 17px !important; height: 21px !important;}

      body[yahoo] .centerColumn {width: 280px !important;}
      body[yahoo] .content_margin {width: 20px !important;}

      body[yahoo] .footer .bottomContent {padding-top: 15px !important;display: block !important;}

      body[yahoo] .footer.content {padding: 0px 10px !important;}

      body[yahoo] .footer .service {display: block !important;}
  body(yahoo="fix" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%;")
    div(class="mailwrapper" style="font-size: 15px; color: #555; font-smooth: always; -webkit-font-smoothing: antialiased; ")
      table(class="mainTable" align="center" style="font-size: inherit; line-height: inherit; text-align: center; border-spacing: 0; border-collapse: collapse; -premailer-cellpadding: 0; -premailer-cellspacing: 0; padding: 0; border: 0;" cellpadding="0" cellspacing="0")
        tr
          td(class="topPadding" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; height: 16px; -premailer-height: 16;" height="16")
        tr
          td(class="centerColumn" style="width: 685px; -premailer-width: 685;" width="685")
            table(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: inherit; line-height: 20px; padding: 0px; border: 0px;")
              tr
                td(class="content_margin" style="width: 20px;")
                td(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 20px; text-align: left; font-size: 15px; color: #555; font-smooth: always; -webkit-font-smoothing: antialiased;")
                  block email_header
                td(class="content_margin" style="width: 20px;")
              tr
                td(class="content_margin" style="width: 20px;")
                td(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 20px; text-align: left; font-size: 15px; color: #555; padding: 14px 0 0; font-smooth: always; -webkit-font-smoothing: antialiased;")
                  block content
                td(class="content_margin" style="width: 20px;")
              tr
                td(class="content_margin" style="width: 20px;")
                td(style="text-align: left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 20px; font-size: 15px; font-smooth: always; -webkit-font-smoothing: antialiased; color: #555; padding: 18px 0 75px 0;")
                  block signature
                td(class="content_margin" style="width: 20px;")
        tr(class="footerTopPadding" style="height: 17px; -premailer-height: 17;" height="17")
          td(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;")
        tr
          //td(class="footer background centerColumn" colspan="3" background="http://brazuca.com/images/footer_gradient_web.png" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-smooth: always; -webkit-font-smoothing: antialiased; width: 685px; font-size: 11px; line-height: 14px; color: #888; text-align: center; background-repeat: no-repeat; background-position: center top; padding: 15px 0 12px; -webkit-text-size-adjust:100%;" align="center")
          td(class="footer background centerColumn" colspan="3" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-smooth: always; -webkit-font-smoothing: antialiased; width: 685px; font-size: 11px; line-height: 14px; color: #888; text-align: center; background-repeat: no-repeat; background-position: center top; padding: 15px 0 12px; -webkit-text-size-adjust:100%;" align="center")
            span(class="bottomContent" colspan="3")
              span(class="footer1" style="white-space: nowrap;")
                |#{t('common.copyright')}.&nbsp;
              span
                |#{t('common.company')}.&nbsp;
              span(class="footer1" style="white-space: nowrap;")
                |#{t('common.reserved_rights')}.
