extends layout

block email_header
  !=t('email.hello')
  |&nbsp;#{pseudo},

block signature
  !=t('email.signature')
  |.

block content
  div(style="margin-bottom: 5px;")
    |#{t('email.register_validate.before_button')}
  div(style="text-align: center; margin-bottom: 10px; margin-top: 20px;")
    a(href="#{link}" style="-webkit-appearance: none;-webkit-background-clip: border-box;-webkit-background-origin: padding-box;-webkit-background-size: auto;-webkit-user-select: none;background-attachment: scroll;background-clip: border-box;background-image: none;background-origin: padding-box;background-size: auto;border-radius: 4px;border: solid 1px transparent;box-sizing: border-box;cursor: pointer;color: #fff;background-color: #428bca;border-color: #357ebd;font-size: 18px; padding: 3px 9px 5px 9px; text-decoration: none; margin-top: 10px;")
      !=t('email.register_validate.link')
  div
    !=t('email.register_validate.after_button')
