<template>
  <div class="log-viewer-container">
    <log-viewer :textSearch="textSearch" :getItems="getLogs" @onSearchUpdate="onSearchUpdate"></log-viewer>
  </div>
</template>

<script>
  import * as logServices from '../../services/logs';
  import LogViewer from './LogViewer.vue';

  export default {
    data() {
      return {
        textSearch: this.$route.query.search || '',
        getLogs: logServices.getLogs,
      };
    },
    components: {
      LogViewer,
    },
    methods: {
      onSearchUpdate(newSearch) {
        this.$router.replace({ name: 'logs', query: { search: newSearch } });
      },
    },
  };
</script>

<style scoped>
  .log-viewer-container {
    position: relative;
    width: 100%;
    height: calc(100% - 95px);
  }
</style>
