<template>
  <div class="smart-log-viewer">
  	<div class="log-panel">
  		<div class="smart-scroll-container">
  			<div class="top-loading-panel">
  				<div>
  					<span v-if="isLoading && !topLoaded">Loading previous logs ...</span>
  					<span v-if="topLoaded">No more logs available</span>
  					<span v-if="full">Max number of log lines reached. Refine the timelapse</span>
  					<span v-if="!topLoaded && !isLoading && !full">&nbsp;</span>
  				</div>
  			</div>
  			<table>
  				<tr v-for="log in items" class="log-line">
  					<td class="timestamp">
  						<span>{{log.timestamp | amDateFormat('DD/MM HH:mm:ss.SSS')}}</span>
  					</td>
  					<td class="label" v-if="showLabel">
  						<div v-if="log.label" class="flag">
                <span>{{log.label}}</span>
              </div>
  					</td>
  					<td class="level">
  						<div :class="`${log.level}-level`" class="flag">{{log.level}}</div>
  					</td>
  					<td>
  						<span v-html="highlightText(log.message)"></span>
  					</td>
  				</tr>
  			</table>
  			<div class="bottom-loading-panel">...</div>
  		</div>
  	</div>
  	<div class="control-panel">
  		<form @submit.prevent="search">
  			<smart-search class="search-panel" v-model="form.search" placeholder="Text search"></smart-search>
  			<div class="flag-panel">

  			</div>
  			<div class="date-panel">
  				<span>{{dateLabel}}</span>
  				<button type="button" class="btn btn-link" uib-popover-template="dateCriteriaPanel.html" popover-title="Choose date" popover-placement="top-left">
  					<i class="fa fa-clock-o"></i>
  				</button>
  			</div>
  		</form>
  	</div>
  </div>
</template>

<script>
  import SmartSearch from './SmartSearch.vue';

  export default {
    props: ['getItems', 'textSearch'],
    data() {
      return {
        dateLabel: '',
        form: {
          search: this.textSearch || '',
        },
        full: false,
        isLoading: false,
        items: [],
        showLabel: false,
        topLoaded: false,
      };
    },
    components: {
      SmartSearch,
    },
    created() {
      this._loadItems(this.textSearch);
    },
    methods: {
      highlightText(message) {
        if (! this.textSearch || this.textSearch === '') {
          return message;
        }
        return message.replace(new RegExp(`(${this.textSearch})`, 'g'), $1 => `<span class="text-highlight">${$1}</span>`);
      },
      async search(withRegex) {
        let textSearch;
        if (! withRegex) {
    			textSearch = this.form.search.replace(/[\|\[\]\(\)\.\$\^\*]/g, '\\$&');
    		} else {
    			try {
    				new RegExp(this.form.search);
    				textSearch = this.form.search;
    			} catch(e) {
    				this.$emit('error', 'Invalid search expression');
            return;
    			}
    		}
        if (textSearch !== this.textSearch) {
          this.$emit('onSearchUpdate', textSearch);
          this._loadItems(textSearch);
        }
      },
      async _loadItems(search) {
        this.isLoading = true;
        this.items = await this.getItems({
          search,
        });
        this.isLoading = false;
      },
    },
  };
</script>

<style scoped>
  .smart-log-viewer {
    font-family: 'Roboto Slab', serif;
    background: #4c4c4c;
    color: white;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .smart-log-viewer .log-panel {
    position: relative;
    height: 100%;
    overflow: auto;
  }
  .smart-log-viewer .log-panel .flag {
    border-radius: 3px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 18px;
    padding: 0px 3px;
  }
</style>

<style>
  .smart-log-viewer .log-panel table {
    width: 100%;
    border: none;
    background: transparent;
    padding: 0px;
    margin: 0px;
  }
  .smart-log-viewer .log-panel table tr.log-line {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    background: transparent;
  }
  .smart-log-viewer .log-panel table tr.log-line td {
    background: transparent;
    border: none;
    padding: 1px;
    color: white;
  }
  .smart-log-viewer .log-panel table tr.log-line .timestamp {
    position: relative;
    display: inline-block;
    min-width: 122px;
    max-width: 135px;
    width: 135px;
    padding-left: 2px;
  }
  .smart-log-viewer .log-panel table tr.log-line .labl {
    position: relative;
    display: inline-block;
    min-width: 70px;
    max-width: 70px;
    width: 70px;
    text-align: center;
    padding: 1px;
    max-height: 19px;
  }
  .smart-log-viewer .log-panel table tr.log-line .labl .flag {
    max-width: 68px;
    background: rgba(156, 130, 84, 0.997);
  }
  .smart-log-viewer .log-panel table tr.log-line .level {
    position: relative;
    display: inline-block;
    min-width: 40px;
    max-width: 40px;
    width: 40px;
    padding: 1px;
    max-height: 19px;
  }
  .smart-log-viewer .log-panel table tr.log-line .level div.info-level {
    background: #727272;
  }
  .smart-log-viewer .log-panel table tr.log-line .level div.error-level {
    background: rgba(238, 93, 84, 0.995);
  }
  .smart-log-viewer .log-panel table tr.log-line .text-highlight {
    background: rgba(46, 190, 138, 0.995);
    border-radius: 3px;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: -1px;
    margin-left: -1px;
    font-size: bold;
  }
  .smart-log-viewer .log-panel .top-loading-panel {
    padding: 3px;
  }
  .smart-log-viewer .log-panel .top-loading-panel div {
    padding: 1px 5px;
    display: block;
    border-radius: 4px;
    background: #666666;
    color: #999999;
    text-align: center;
    font-size: 20px;
  }
  .smart-log-viewer .log-panel .bottom-loading-panel {
    padding-bottom: 70px;
    padding-left: 2px;
  }
  .smart-log-viewer .control-panel {
    border-top: solid 2px #999999;
    background: #4c4c4c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 100;
  }
  .smart-log-viewer .control-panel .search-panel {
    padding: 4px;
    margin-right: 10px;
    max-width: 450px;
  }
  .smart-log-viewer .control-panel .date-panel {
    position: relative;
    display: inline;
    width: 300px;
    background: red;
  }
</style>
