<template>
  <div>
    <span class="icon icon-left">
      <i class="fa fa-search"></i>
    </span>
    <input type="text" class="search-input" :value="value" @input="onInput" :placeholder="placeholder" />
    <span class="icon icon-right" v-show="value && value !== ''" @click="reset">
      <i class="fa fa-times"></i>
    </span>
  </div>
</template>

<script>
  export default {
    props: ['value', 'placeholder'],
    data() {
      return {};
    },
    methods: {
      reset() {
        this.$emit('input', '');
        this.$el.querySelector('input').focus();
      },
      onInput(value) {
        this.$emit('input', value.target.value);
      },
    },
  };
</script>

<style scoped>
  div {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  div .icon {
    position: absolute;
    z-index: 1;
    top: 0px;
  }
  div .icon-left {
    margin-left: 10px;
    margin-top: 9px;
    color: #666666;
    font-size: 20px;
  }
  div .icon-right {
    margin-left: -25px;
    margin-top: 9px;
    color: #666666;
    font-size: 20px;
    cursor: pointer;
  }
  div .icon-right:hover {
    color: #999999;
  }
  div .search-input {
    position: relative;
    float: left;
    width: 500px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    background: #333333;
    color: #999999;
    border: none;
    height: 30px;
    padding-left: 35px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 2px;
  }
  div .search-input::-webkit-input-placeholder {
    color: #666666;
  }
  div .search-input:-moz-placeholder {
    color: #666666;
  }
  div .search-input::-moz-placeholder {
    color: #666666;
  }
  div .search-input:-ms-input-placeholder {
    color: #666666;
  }
  div .search-input:focus {
    outline: none;
  }
  div .search-input:after {
    content: "";
    clear: both;
  }
</style>
